$userDefined: ( // User Defined Colors
    brand-primary:                      #000,
    body-bg:                            #fff,
    text:                               #000,
    text-emphasized:                    #f63e34,
    link:                               #000,
    link-hover:                         #f63e34,
    link-active:                        #f63e34,
    regular-price:                      #000,
    sales-price:                        #f63e34,
    headings:                           #333,
    placeholder:                        #333,
    border:                             #d9d9d9,
    component-active-bg:                #f63e34,
    component-bg:                       #fff,
    component-shadow:                   #000
);


// Custom Modifiers
$userDefined: map-merge($userDefined, (
    text--lightest:                     lighten(map-get($userDefined, text), 100),
    text--light:                        lighten(map-get($userDefined, text), 55),
    placeholder--focus:                 lighten(map-get($userDefined, placeholder), 60),
    link--light:                        lighten(map-get($userDefined, link), 40),
    link-hover--dark:                   darken(map-get($userDefined, link-hover), 100),
    border--dark:                       darken(map-get($userDefined, border), 40),
    border--light:                      lighten(map-get($userDefined, border), 10),
    border--lightest:                   lighten(map-get($userDefined, border), 50),
    component-bg--darker:               darken(map-get($userDefined, component-bg), 6),
    component-bg--darkest:            darken(map-get($userDefined, component-bg), 100)
));

$bootstrap: ( // Bootstrap Colors
    graydarker:                         #222,
    graydark:                           #333,
    gray:                               #555,
    graylight:                          #999,
    graylighter:                        #eee,

    brandPrimary:                       map-get($userDefined, brand-primary),
    brandSuccess:                       #5cb85c,
    brandInfo:                          #5bc0de,
    brandWarning:                       #f0ad4e,
    brandDanger:                        #d9534f,

    bodyBg:                             map-get($userDefined, body-bg),
    textColor:                          map-get($userDefined, text),
    linkColor:                          map-get($userDefined, link),
    linkHoverColor:                     map-get($userDefined, link-hover),

    headingsColor:                      map-get($userDefined, headings),

    componentActiveColor:               map-get($userDefined, control-active-bg),

    tableBg:                            transparent,
    tableBgAccent:                      #f9f9f9,
    tableBgHover:                       #f5f5f5,
    tableBorderColor:                   #ddd,

    btnDefaultColor:                    #333,
    btnDefaultBg:                       #fff,
    btnDefaultBorder:                   #ccc,
    btnPrimaryColor:                    #fff,
    btnPrimaryBg:                       map-get($userDefined, brand-primary),
    btnSuccessColor:                    #fff,
    btnInfoColor:                       #fff,
    btnWarningColor:                    #fff,
    btnDangerColor:                     #fff,

    inputBg:                            #fff,
    inputBorder:                        #cdcdcd,
    inputFocus:                         #000,

    legendBorderColor:                  #e5e5e5,

    dropdownBg:                         #fff,
    dropdownBorder:                     #d4d4d4,
    dropdownFallbackBorder:             #d4d4d4,
    dropdownDividerBg:                  #fff,
    dropdownLinkColor:                  #000,
    dropdownLinkHoverColor:             #f63e34,
    dropdownLinkHoverBg:                #fff,
    dropdownCaretColor:                 #000,

    navbarDefaultColor:                 #000,
    navbarDefaultBg:                    #fff,
    navbarDefaultBorder:                #d9d9d9,
    navbarDefaultLinkColor:             #000,
    navbarDefaultLinkHoverColor:        #f63e34,
    navbarDefaultLinkHoverBg:           #fff,
    navbarDefaultLinkActiveColor:       #f63e34,
    navbarDefaultLinkActiveBg:          transparent,
    navbarDefaultLinkDisabledColor:     #ccc,
    navbarDefaultLinkDisabledBg:        transparent,
    navbarDefaultBrandHoverBg:          transparent,
    navbarDefaultToggleHoverBg:         transparent,
    navbarDefaultToggleIconBarBg:       #000,
    navbarDefaultToggleBorderColor:     transparent,

    navbarInverseBg:                    #222,
    navbarInverseLinkColor:             #fff,
    navbarInverseLinkHoverColor:        #fff,
    navbarInverseLinkHoverBg:           #2e2e31,
    navbarInverseLinkActiveBg:          #2e2e31,
    navbarInverseLinkDisabledColor:     #444,
    navbarInverseLinkDisabledBg:        transparent,
    navbarInverseBrandHoverColor:       #fff,
    navbarInverseBrandHoverBg:          transparent,
    navbarInverseToggleHoverBg:         #333,
    navbarInverseToggleIconBarBg:       #fff,
    navbarInverseToggleBorderColor:     #333,

    navLinkHoverBg:                     transparent,
    navDisabledLinkColor:               #555,
    navDisabledLinkHoverColor:          #555,
    navOpenLinkHoverColor:              #fff,
    navTabsBorderColor:                 #ddd,
    navTabsActiveLinkHoverBorderColor:  #ddd,
    navTabsJustifiedLinkBorderColor:    #ddd,

    paginationBg:                       #fff,
    paginationBorder:                   #cdcdcd,
    paginationHoverBg:                  #000,
    paginationHoverBorder:              #000,
    paginationActiveColor:              #fff,
    paginationDisabledBg:               #fff,
    paginationDisabledBorder:           #ddd,

    stateSuccessText:                   #3c763d,
    stateSuccessBg:                     #dff0d8,
    stateInfoText:                      #31708f,
    stateInfoBg:                        #d9edf7,
    stateWarningText:                   #8a6d3b,
    stateWarningBg:                     #fcf8e3,
    stateDangerText:                    #a94442,
    sateDangerBg:                       #f2dede,

    tooltipColor:                       #fff,
    tooltipBg:                          #000,

    popoverBg:                          #fff,
    popoverBorderColor:                 rgba(0,0,0,.2),
    popoverFallbackBorderColor:         #ccc,
    popoverArrowColor:                  #fff,

    labelColor:                         #fff,
    labelLinkHoverColor:                #fff,

    modalContentBg:                     #fff,
    modalContentBorderColor:            rgba(0,0,0,.2),
    modalContentFallbackColor:          #999,
    modalBackdropBg:                    #000,
    modalFooterBorderColor:             #e5e5e5,

    progressBg:                         #f5f5f5,
    progressBarColor:                   #fff,

    listGroupBg:                        #fff,
    listGroupBorder:                    #ddd,
    listGroupHoverBg:                   #f5f5f5,
    listGroupLinkColor:                 #555,
    listGroupLinkHeadingColor:          #333,

    panelBg:                            #fff,
    panelInnerBorder:                   #ddd,
    panelFooterBg:                      #f5f5f5,
    panelDefaultBorder:                 #ddd,
    panelDefaultHeadingBg:              #f5f5f5,
    panelPrimaryText:                   #fff,

    thumbnailBorder:                    #ddd,

    wellBg:                             #f5f5f5,

    badgeColor:                         #fff,
    badgeLinkHoverColor:                #fff,
    badgeActiveBg:                      #fff,

    breadcrumbBg:                       transparent,
    breadcrumbColor:                    #000,
    breadcrumbActiveColor:              #000,

    carouselControlColor:               #fff,
    carouselIndicatorActiveBg:          #fff,
    carouselIndicatorBorderColor:       #fff,
    carouselCaptionColor:               #fff,

    closeColor:                         #000,
    closeTextShadow:                    #fff,

    codeColor:                          #c7254e,
    codeBg:                             #f9f2f4,
    kbdColor:                           #fff,
    kbdBg:                              #333,
    preBg:                              #f5f5f5,
    preBorderColor:                     #ccc
);

$colors: map-merge($userDefined, $bootstrap);
