//@import 'bootstrap/theme';

// $theme $version
// -----------------------------------------------------

body {
	padding-top: 70px;
	padding-bottom: 30px;
}

//
// Buttons
// --------------------------------------------------

.theme-showcase > p > .btn {
	margin: 5px 0;
}

//
// Images
// --------------------------------------------------

//
// Dropdowns
// --------------------------------------------------

.theme-dropdown .dropdown-menu {
	display: block;
	position: static;
	margin-bottom: 20px;
}

//
// Navbar
// --------------------------------------------------

//
// Alerts
// --------------------------------------------------

//
// Progress bars
// --------------------------------------------------

//
// List groups
// --------------------------------------------------

//
// Panels
// --------------------------------------------------

//
// Wells
// --------------------------------------------------
