@import 'components/media';

.-faceted-search {
	// resets
	padding: 0;
	margin: 0;

	div {
		padding: 0;
		margin: 0;
	}

	input {
		width: 50;
	}

	button {
		margin: 15px auto;
		display: block;
	}
}

// Default Toolbox Responsive Optimizations
@media(max-width:767px){
	.-faceted-search {
		margin-top: 30px;
	}
}

/*
Animation for products as facets of search are applied. [rough draft]
- TODO : Figure out why this breaks animation when nesting it.
- Determine if this default behavior is theme or toolbox responsability
- Add a line to see what happens
*/
.-product-tile-animation.ng-enter,
.-product-tile-animation.ng-leave {
    -webkit-transition: 100ms ease-out all;
    transition: 100ms ease-out all;
}

/* ending enter and move styling
   (this is what the element will animate from */
.-product-tile-animation.ng-enter {
	opacity: 0;
}

/* ending enter and move styling
   (this is what the element will animate towards */
.-product-tile-animation.ng-enter.ng-enter-active {
	opacity: 1;
}

/* starting leave animation */
.-product-tile-animation.ng-leave {
	opacity: 1;
}

/* ending leave animation */
.-product-tile-animation.ng-leave.ng-leave-active {
	opacity: 0;
}
// End animation for products as facets of search are applied. [rough draft]


.categories {
	min-height: 400px;
}
