// Core variables and mixins
@import "theme/core/base/vars";
@import "theme/core/base/mixins";

// ========== CUSTOM THEME VARIABLES ========== //

// COLORS //
$color-alpha: 		#333333;
$color-beta: 		#666666;
$color-gamma: 		#999999;

// BASE UNITS //
$unit-alpha: 		960px;
$unit-beta:  		100%;
$unit-gamma: 		1em;
$unit-delta: 		1.5em;


// ========== BOOTSTRAP OVERRIDES ========== //
// COLORS //
$brand-primary:         					#000 !default;
$brand-success:         					#5cb85c !default;
$brand-info:            					#5bc0de !default;
$brand-warning:         					#f0ad4e !default;
$brand-danger:          					#d9534f !default;

// SCAFFOLDING //
$body-bg: 									#fff;
$text-color: 								$brand-primary;
$link-color: 								$brand-primary;
$link-hover-color: 							#e4312d;

// TYPOGRAPHY //
$font-family-sans-serif: 					"roboto-regular", Helvetica, Arial, sans-serif;
$font-size-base: 							12px;
$headings-font-family:      				"antonio-regular", "robotocondensed-regular", sans-serif;
$headings-font-weight: 						400;
$font-family-base:        					$font-family-sans-serif !default;


// ICONS //
$icon-font-path:          					"../fonts/";
$icon-font-name:          					"glyphicons-halflings-regular";

// COMPONENTS //
$border-radius-base: 						0;
$border-radius-large: 						0;
$border-radius-small: 						0;

// TABLES //

// BUTTONS //
$btn-font-weight: 							700;
$btn-default-color: 						#000;
$btn-default-bg: 							#fff;
$btn-default-border: 						#e4e4e4;
$btn-primary-color: 						#fff;
$btn-primary-border: 						#000;

// FORMS //
$input-bg: 									#fff;
$input-border:  							#cdcdcd;
$input-border-radius: 						0;
$input-border-focus: 						#000;

// DROPDOWNS //
$dropdown-bg: 								#fff;
$dropdown-border: 							#d4d4d4;
$dropdown-fallback-border: 					#d4d4d4;
$dropdown-divider-bg: 						#fff;
$dropdown-link-color: 						$link-color;
$dropdown-link-hover-color: 				$link-hover-color;
$dropdown-link-hover-bg: 					#fff;
$dropdown-header-color: 					#000;

// MEDIA QUERIES BREAKPOINTS //
$screen-xs: 								480px;
$screen-xs-min: 							$screen-xs;
$screen-phone: 								$screen-xs-min;

$screen-sm: 								768px;
$screen-sm-min: 							$screen-sm;
$screen-tablet: 							$screen-sm-min;

$screen-md: 								992px;
$screen-md-min: 							$screen-md;
$screen-desktop: 							$screen-md-min;

$screen-lg: 								1200px;
$screen-lg-min: 							$screen-lg;
$screen-lg-desktop: 						$screen-lg-min;

$screen-xs-max: 							($screen-sm-min - 1);
$screen-sm-max: 							($screen-md-min - 1);
$screen-md-max: 							($screen-lg-min - 1);



// GRID //
$grid-columns: 								12;
$grid-gutter-width: 						30px;
$grid-float-breakpoint: 					$screen-md-min;
$grid-float-breakpoint-max: 				($grid-float-breakpoint - 1);


// NAVBAR //
$navbar-height: 			 				43px;
$navbar-collapse-max-height: 				340px;
$navbar-default-color:       				#000;
$navbar-default-bg: 		 				#fff;
$navbar-default-border: 	 				#d9d9d9;
$navbar-default-link-color:  				#000;
$navbar-default-link-hover-color: 			$link-hover-color;
$navbar-default-link-active-color: 			$link-hover-color;
$navbar-default-link-active-bg:     		transparent;
$navbar-default-brand-color: 				#000;
$navbar-default-brand-hover-color:  		$link-hover-color;

// NAVS //
$nav-link-hover-bg: 						transparent;
$nav-open-link-hover-color: 				$link-hover-color;

// TABS //
$nav-tabs-border-color: 					#fff;
$nav-tabs-link-hover-border-color:  		#cdcdcd;
$nav-tabs-active-link-hover-color: 			#000;
$nav-tabs-active-link-hover-border-color: 	#cdcdcd;
$nav-tabs-justified-link-border-color: 		#cdcdcd;
$nav-tabs-justified-active-link-border-color:#fff;

// PILLS //
// PAGINATION //
$pagination-border: 						#cdcdcd;
$pagination-hover-bg: 						#000;
$pagination-hover-border: 					#000;

// PAGER //
$pager-border-radius: 						0;

// JUMBOTRON //
$jumbotron-bg: 								#fff;


// FORM STATES and ALERTS //
// TOOLTIPS //
// POPOVERS //
// LABELS //
// MODALS //
// ALERTS //
// PROGRESS BARS //

// LIST GROUP //
$list-group-border: 						#cdcdcd;

// PANELS //
// THUMBNAILS //
// WELLS //
// BADGES //
// BREADCRUMBS //
$breadcrumb-bg: 							transparent;
$breadcrumb-color: 							#000000;
$breadcrumb-active-color: 					#000;
$breadcrumb-separator: 						">";

// CAROUSEL //
$carousel-text-shadow: 						0 1px 2px rgba(0,0,0,0);

// CLOSE //
// CODE //
// TYPE //
// MISCELLANEOUS //
$hr-border: 								#cdcdcd;

// CONTAINER SIZES //
$container-tablet: 							((720px + $grid-gutter-width)); // 720px
$container-sm: 								$container-tablet;
$container-desktop: 						((940px + $grid-gutter-width)); // 940px
$container-md: 								$container-desktop;
$container-large-desktop: 					((1140px + $grid-gutter-width)); // 1140px
$container-lg: 								$container-large-desktop;





