.-faceted-search {
	// resets
	padding: 0px;
	margin: 0px;

	div {
		// Weird reset for the list elements in category and facet dives from the toolbox directive.
		padding: 0px;
		margin: 0px;
	}
	.facets {
		.facet-item {
			.-facet-property {
				// Style for the inputs

				input[type="checkbox"] {
					display:none;
				}

				input[type="checkbox"] + span:before {
					font-family: 'Glyphicons Halflings'!important;
					padding-right: 3px!important;
					font-size: 20px!important;
				}

				input[type="checkbox"] + span:before {
					content: "\e157"!important; /* check-empty */
				}

				input[type="checkbox"]:checked + span:before {
					content: "\e067"!important; /* check */
				}
			}
		}
	}
}

// Animation for products as facets of search are applied. [rough draft]
// TODO : Figure out why this breaks animation when nesting it.
.-product-tile-animation.ng-enter,
.-product-tile-animation.ng-leave {
    -webkit-transition: 100mss ease-out all;
    transition: 100ms ease-out all;
}

/* ending enter and move styling
   (this is what the element will animate from */
.-product-tile-animation.ng-enter {
	opacity: 0;
}

/* ending enter and move styling
   (this is what the element will animate towards */
.-product-tile-animation.ng-enter.ng-enter-active {
	opacity: 1;
}

/* starting leave animation */
.-product-tile-animation.ng-leave {
	opacity: 1;
}

/* ending leave animation */
.-product-tile-animation.ng-leave.ng-leave-active {
	opacity: 0;
}
// End animation for products as facets of search are applied. [rough draft]


.categories {
	min-height: 400px;
}

// Animations for facet items as they are removed and replaced.
.facet-item {
	.ng-enter,
	.ng-leave {
		-webkit-transition: 0.5s ease-out all, visibility 0.1s linear;
		-moz-transition: 0.5s ease-out all, visibility 0.1s linear;
		-ms-transition: 0.5s ease-out all, visibility 0.1s linear;
		-o-transition: 0.5s ease-out all, visibility 0.1s linear;
		transition: 0.5s ease-out all, visibility 0.1s linear;
		width: 100%;
		overflow: hidden;
	}

	.ng-leave.ng-leave-active,
	.ng-enter {
		width: 0%;
		height: 0px;
	}

	.ng-enter.ng-enter-active,
	.ng-leave {
		width: 100%;
		height: 30px;
	}
}
