.-faceted-search {
  padding: 0px;
  margin: 0px; }
  .-faceted-search div {
    padding: 0px;
    margin: 0px; }
  .-faceted-search input {
    width: 50px !important; }

.-product-tile-animation.ng-enter,
.-product-tile-animation.ng-leave {
  -webkit-transition: 100mss ease-out all;
  transition: 100ms ease-out all; }

/* ending enter and move styling
   (this is what the element will animate from */
.-product-tile-animation.ng-enter {
  opacity: 0; }

/* ending enter and move styling
   (this is what the element will animate towards */
.-product-tile-animation.ng-enter.ng-enter-active {
  opacity: 1; }

/* starting leave animation */
.-product-tile-animation.ng-leave {
  opacity: 1; }

/* ending leave animation */
.-product-tile-animation.ng-leave.ng-leave-active {
  opacity: 0; }

.categories {
  min-height: 400px; }

.facet-item .ng-enter,
.facet-item .ng-leave {
  -webkit-transition: 0.5s ease-out all, visibility 0.1s linear;
  -moz-transition: 0.5s ease-out all, visibility 0.1s linear;
  -ms-transition: 0.5s ease-out all, visibility 0.1s linear;
  -o-transition: 0.5s ease-out all, visibility 0.1s linear;
  transition: 0.5s ease-out all, visibility 0.1s linear;
  width: 100%;
  overflow: hidden; }
.facet-item .ng-leave.ng-leave-active,
.facet-item .ng-enter {
  width: 0%;
  height: 0px; }
.facet-item .ng-enter.ng-enter-active,
.facet-item .ng-leave {
  width: 100%;
  height: 30px; }
