<div class="th-product-tile"><a data-ng-href="{{product.url}}" class="th-product-tile__image-link"><img vn-product-image product="product" default-image="defaultProductImage"></a> <a data-ng-href="{{product.url}}" class="th-product-name--medium">{{product.name}}</a><div class="th-product-price"><span ng-if="product.pricing.salePrice"><span class="th-product-price--medium -sale">{{product.pricing.salePrice | currency}}</span></span> <span class="th-product-price--medium" data-ng-class="{strike: product.pricing.salePrice}">{{product.pricing.regularPrice | currency}}</span></div></div><!--
<span class="th-price--reg" data-ng-show="product.pricing.regularPrice > 0">
			<span class="th-price" data-ng-class="{strike: product.pricing.salePrice > 0}">
				{{product.pricing.regularPrice | currency}}</span>
			<span class="th-price-text th-text-left" data-translate="product.regularPriceLabel"></span></span>
<span class="th-price--now" data-ng-show="product.pricing.salePrice > 0">
			<span class="th-price">{{product.pricing.salePrice | currency}}</span>
			<span class="th-price-text" data-translate="product.nowPriceLabel"></span></span>-->