.btn {
	text-transform: uppercase;
	font-family: "robotocondensed-regular";
    font-weight: bold;
}

.btn.btn-default {
	font-weight: normal;
}

.btn.btn-lg {
	font-weight: normal;
	font-size: 1.2em;
	letter-spacing: 0.1em;
}

.btn.btn-grey-sm {
	background: #eeeeee;
	color: #424242;
	font-family: "roboto-regular";
	border: 0;
	text-transform: none;
}

.btn.v-load-more {
	border: 0;
	color: #6b6b6b;
	background-color: #d4d4d4;
	font-weight: bold;
	padding-top: 12px;
	width: 70%;
	padding-bottom: 12px;
	margin: 10px auto 0;
}

.btn:hover {
	opacity: 0.8;
}
