
/* CATEGORY PRODUCTS */
.v-products-wrap {
  .v-product {
    position: relative;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 25px;

    .v-new-item,
    .v-sale-item {
      position: absolute;
      top: 15px;
      right: 15px;
      z-index: 1;
    }

    &.v-details {
      text-align: left;
      font-size: 1.4em;
      margin: 0 auto;
    }

    .v-product-image {
      position: relative;
      padding: 7px 0;
    }

    .v-product-image .img-responsive {
      margin: 0 auto;
    }

    .v-product-name {
      font-family: "robotocondensed-regular";
      text-transform: uppercase;
      font-size: 13px;
      padding: 2px 0;
      line-height: 1.22em;
      text-align: center;
    }

    .v-price-box {
      padding: 5px 0;
      margin: 0 auto;
      font-size: 1.333em;
      line-height: 1.333em;
      font-family: "robotocondensed-regular";
      text-transform: uppercase;
      color: #313131;

      span {
        vertical-align: text-top;
        display: inline-block;
      }

      .v-price {
        padding: 0 10px 0 4px;
        font-weight: bold;
      }

      .v-price:first-child {
        border-right: 1px solid #ccc;
      }

      .v-now-price {
        color: #e3280f;
      }

      .v-price span {
        font-size: 0.71em;
        color: #333;
        font-weight: normal;
      }

      .strike {
        text-decoration: line-through;
      }

    }

    .v-colors-sm .img-responsive {
        display: inline-block;
    }

  }
}



.row.v-related-wrap {
  margin: 0 -15px 20px;

  .v-product {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .v-product-name {
    margin-top: 12px;
  }

  .v-product-image {
    float: left;
    padding-right: 15px;

    img {
        max-width: 90px;
    }
  }

  .v-product-name {
    text-align: left;
  }

  .v-price-box {
    text-align: left;
  }

  .v-colors-sm {
    text-align: left;
  }

}

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {

  .row.v-related-wrap {
    margin:20px -15px 0;

    .v-product {
      padding-top: 15px;
      padding-bottom: 25px;
    }

    .v-product-name {
      margin-top: 0;
    }

    .v-product-image {
      float: none;
      padding-right: 0;

      img {
        max-width: 100%;
      }
    }

    .v-product-name {
      text-align: center;
    }

    .v-price-box {
      text-align: center;
    }

    .v-colors-sm {
      text-align: center;
    }

  }

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {

}
