/* ============= FONTS ============= */
@font-face {
    font-family: 'antonioregular';
    src: url('../fonts/antonio/antonio-regular-webfont.eot');
    src: url('../fonts/antonio/antonio-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/antonio/antonio-regular-webfont.woff') format('woff'),
         url('../fonts/antonio/antonio-regular-webfont.ttf') format('truetype'),
         url('../fonts/antonio/antonio-regular-webfont.svg#antonioregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'antoniobold';
    src: url('../fonts/antonio/antonio-bold-webfont.eot');
    src: url('../fonts/antonio/antonio-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/antonio/antonio-bold-webfont.woff') format('woff'),
         url('../fonts/antonio/antonio-bold-webfont.ttf') format('truetype'),
         url('../fonts/antonio/antonio-bold-webfont.svg#antoniobold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'antoniolight';
    src: url('../fonts/antonio/antonio-light-webfont.eot');
    src: url('../fonts/antonio/antonio-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/antonio/antonio-light-webfont.woff') format('woff'),
         url('../fonts/antonio/antonio-light-webfont.ttf') format('truetype'),
         url('../fonts/antonio/antonio-light-webfont.svg#antoniolight') format('svg');
    font-weight: normal;
    font-style: normal;
}