.container {
  width: 100%;
}


@media (min-width: $screen-sm-min) {
  .container {
    width: 79.91%;
  }
  .container.theme-showcase {
    width: 96%;
  }
}

@media (min-width: $screen-md-min) {
  .container {
    width: 79.91%;
  }
  .container.theme-showcase {
    width: 96%;
  }
}

@media (min-width: $screen-lg-min) {
  .container {
    width: 79.91%;
  }
  .container.theme-showcase {
    width: 96%;
  }
}
