.v-content-slider {
    margin-bottom: 15px;
}
.v-slider {

    .carousel-control .icon-prev, .carousel-control .glyphicon-chevron-left {
        left: 10%;
        top: 47%;
    }

    .carousel-control .icon-next, .carousel-control .glyphicon-chevron-right {
        right: 10%;
        top: 47%;
    }

    .carousel-indicators li {
        width: 13px;
        margin: 0 3px;
        height: 13px;
        background-color: #ffffff;
        border: 0;
    }

    .carousel-indicators .active {
        width: 13px;
        height: 13px;
        border: 0;
        background-color: #f63e34;
    }
}

@media (min-width: $screen-sm-min) {
	.v-content-slider {
	    margin-bottom: 30px;
	}
}

