
.v-navbar {

    .v-container-header {
        position: relative;
    }

    .navbar-toggle {
        float: left;
        margin-right: 0;
        margin-left: 15px;
        border: 0;
        padding: 8px 10px;

        .icon-bar {
            height: 4px;
        }
    }

    .v-header {
        border-bottom: 1px solid #f0f0f0;
    }

    .navbar-brand {
        text-indent: -9999px;
        background: url(../../images/template/logo.png) no-repeat 0 0;
        background-size: 76px 36px;
        width: 76px;
        height: 36px;
        padding: 0;
        position: absolute;
        top: 5px;
        left: 50%;
        margin-left: -38px;
        display: block;
    }

    .v-nav-tools {
        position: absolute;
        top: 8px;
        right: 0;
    }

    /* MY CART */
    .v-my-cart {
        display: inline-block;
        vertical-align: middle;
        padding: 6px 15px 6px 5px;

        .my-cart-number {
            color: #e32311;
        }

        .my-cart-number:before {
            content: "(";
        }

        .my-cart-number:after {
            content: ")";
        }

    }

}


@media (min-width: $screen-sm-min) {

    $navbar-height: 65px;

    .v-navbar {

        .navbar-toggle {
            margin: 19px 10px;
        }

        .navbar-brand {
            background: url(../images/template/logo.png) no-repeat 0 0;
            background-size: 122px 58px;
            width: 122px;
            height: 58px;
            top: 7px;
            margin-left: -55px;
        }

        /* MY CART */
        .v-nav-tools {
            top: 22px;
        }

    }


}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {

    $navbar-height: 93px;

    .v-navbar {

        .v-main-menu {
            float: left;
        }

        .free-shipping {
            display: block;
            text-transform: uppercase;
            padding: 10px 15px;
        }

        .navbar-nav {
            margin-left: 14px;
        }

        > .container .navbar-brand {
            position: static;
            float: left;
            margin: 16px 0 0 11px;
        }

        .navbar-toggle {
            float: right;
            margin-right: 15px;
            margin-left: 0;
        }

        .navbar-nav > li > a {
            font-family: "robotocondensed-regular";
            text-transform: uppercase;
            font-size: 16px;
        }

        .navbar-nav > li > a {
            border-left: 1px solid #c2c2c2;
            padding-left: 0.9em;
            padding-right: 0.9em;
        }

        .navbar-nav > li:first-child > a {
            border: 0;
        }

        .navbar-nav > li {
            padding-top: 38px;
            padding-bottom: 38px;
            position: relative;
        }

        .navbar-nav > li > a {
            padding-top: 0;
            padding-bottom: 0;
        }

        .v-nav-tools {
            position: absolute;
            top: 30px;
            right: 13px;
        }

    }


}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {

    $navbar-height: 93px;

    .v-navbar {
        .navbar-nav {
            margin-left: 34px;
        }

        .navbar-nav > li > a {
            padding-left: 1.33em;
            padding-right: 1.33em;
        }
    }

}

