/* PAGE HEADERS */
.page-header {
  border: 0;
  margin-top: 0;
  margin-bottom: 0;

  h1 {
    padding-left: 15px;
    font-weight: normal;
    font-family: "antonio-regular";
    font-size: 1.8em;
    text-transform: uppercase;
  }

}

@media (min-width: $screen-sm-min) {

  .page-header {
    h1 {
      text-align: center;
      padding-left: 0;
      border-top: 1px solid #fff;
      font-size: 2.667em;
      padding: 34px 0 29px;
      margin: 0;
    }
  }

}

@media (min-width: $screen-md-min) {

  .page-header {
    h1 {
      border-top: 0;
    }
  }

}

@media (min-width: $screen-lg-min) {

  .page-header {

    h1 {
        border-top: 1px solid #cbcbcb;
    }
  }

}
