.v-quick-options {
  position: absolute;
  bottom: 7px;
  left: 0;
  width: 100%;
  z-index: 2;
  overflow: hidden;
  line-height: 30px;
  height: 0px;
  width: 100%;

  .v-quick-view {
    text-transform: uppercase;
    color: #fff;
    text-indent: 14px;
    width: 85%;
    float: left;
    text-align: left;
    font-family: "robotocondensed-regular";
    background-color: rgba(1, 1, 1, 0.5);
  }

  .v-quick-view:hover {
    background-color: rgba(1, 1, 1, 0.6);
  }

  .v-add-to-cart {
      float: left;
      height: 30px;
      width: 15%;
      background: #f6271b url(../../images/template/cart-bag.png) no-repeat center center;

    &:hover {
      background-color: #d92319;
    }
  }
}

.v-product-image:hover .v-quick-options {
  @include transition(all, 0.2s, ease-in-out);
  height: 30px;
}

