.v-refine-exp {
  display: none;
}

@media (min-width: $screen-md-min) {
  .v-refine-exp {
    display: block;
    background: #f4f3f0;
    padding: 11px 10px;

    .v-filter-text {
      font-size: 14px;
      padding-right: 15px;
      font-weight: bold;
      text-transform: uppercase;
    }

    select {
      min-width: 174px;
      margin-right: 10px;
    }
  }
}

@media (min-width: $screen-lg-min) {
  .v-refine-exp {
    display: block;
    select {
      min-width: 233px;
      margin-right: 15px;
    }
  }
}

