//This is a file for styles that don't have a home yet

html,
body{
  overflow-x: hidden !important;
}

.th{
  &__back-button {
	margin-top : 20px;
	font-size  : 1.6rem;
  }

  &__title{
	font-weight: 500;
	text-transform: uppercase;
	margin-top: 10px;
	text-align: center;
	font-size: 2.4rem;
	margin-bottom: 20px;
  }
  &__subtitle{
	margin-bottom: 20px;
	text-align: center;
  }
}

.align-right{
	text-align: right;
}

.align-left{
	text-align: left;
}

.no-padding{
  padding: 0px;
}

.currency{
	color: green;
}

.th-my-account,
.th-checkout{

	.form-group{

		.form-control{
			background-color : transparent;
			height           : 35px;
			padding          : 0px 3px;
			font-size        : 1.8rem;

			&.btn-lg {
				/* This is the dropdown input control */
				height  : 35px;
				padding : 0px 3px;
			}
		}

		.th-dropdown .dropdown-toggle .caret {
			position : absolute;
			right    : 4px;
			top      : 18px;
		}

		.dropdown-menu {
			font-size : 15px;
		}

		.vn-placeholder{
			left: 5px;

			&.-selected{
				left: 5px;
			}
		}

		.th-dropdown{
		  .vn-placeholder{
			left: 5px;
			margin-left: 0px;
		  }
		  &.th-address__state{
			.vn-placeholder{
			  left: 2px;
			}
		  }
		}

	}
}

//Fix for aria css outline
div[data-ng-click]:focus{
	outline: none;
}

.clickable {
	cursor: pointer;
}
