.vn-product-option {
	&__label {
		display: block;
		margin-top: 10px;
		color: #050505;
		font-family: $font-family-condensed-bold;
		text-transform: uppercase;
		letter-spacing: 0.07em;
		text-align: center;
	}
}
