<div class="collapse navbar-collapse " id="th-main-menu" data-ng-class="!navCollapsed && 'in'" data-ng-click="navCollapsed=true">
	<ul class="nav navbar-nav">
		<li class="dropdown nav-top-level-menu-items" data-ng-repeat="category in smartNavCategories" style="">
			<a class="navbar-link" data-ng-href="{{ category.url }}">
				{{category.name}}
				<span data-ng-if="category.subCategories.length" class="caret th-dropdown-toggle"></span>
				</a>
			<ul vn-show-on-dropdown-hover class="dropdown-menu" data-ng-if="category.subCategories.length">
				<li data-ng-repeat="subCategory in category.subCategories">
					<a data-ng-href="{{ subCategory.url }}">{{subCategory.name}}</a>
					</li>
				</ul>
			</li>
		<li class="dropdown" data-ng-show="displaySmartNavMoreMenuItem">
			<a href="#" class="navbar-link" data-translate="header.smartNavMoreLinkText">
				More
				<span class="caret th-dropdown-toggle"></span>
				</a>
			<ul vn-show-on-dropdown-hover class="dropdown-menu">
				<li data-ng-repeat="category in smartNavMoreCategories">
					<a class="navbar-link" data-ng-href="{{ category.url }}">{{category.name}}</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
