// Declare Custom Fonts Here (update any .svg file's id to 'font'!)
// Set to font's file name
@include app-font('roboto-regular');
@include app-font('Roboto-Italic');
@include app-font('Roboto-Bold');
@include app-font('Roboto-BoldItalic');
@include app-font('Roboto-Light');
@include app-font('Roboto-LightItalic');
@include app-font('Roboto-Thin');
@include app-font('Roboto-ThinItalic');
@include app-font('RobotoCondensed-Regular');
@include app-font('RobotoCondensed-Bold');

@include app-font('antonio-regular');
@include app-font('antonio-bold');
@include app-font('antonio-light');

@include app-font('crimsontext');
@include app-font('crimsontext-italic');

// Custom Font Variables
$font-family-condensed-reg:         "RobotoCondensed-Regular";
$font-family-condensed-bold:        "RobotoCondensed-Bold";
$font-family-serif-italic:          "crimsontext-italic", "Times New Roman", Times, serif !default;
$font-family-heading-reg:           "antonio-regular";

$font-family-glyphs: 				"Glyphicons Halflings";

// Primary Fonts are assigned to Bootstrap variables. See file '_bootstrap-style.scss'r
