//@import "images/sprites/icons/*.png";
//we must import the sprites individually
@import "/app/images/sprites/icons/cat-bag.png";
@import "/app/images/sprites/icons/heart.png";
@import "/app/images/sprites/icons/new.png";
@import "/app/images/sprites/icons/sale.png";
@import "/app/images/sprites/icons/zoom.png";

@include all-icons-sprites;

.th-product__new {
	@include icons-sprite(new);
	height : icons-sprite-height(new);
	width  : icons-sprite-width(new);
}

.th-product__sale {
	@include icons-sprite(sale);
	height : icons-sprite-height(sale);
	width  : icons-sprite-width(sale);
}

.th-favorite-icon {
	@include icons-sprite(heart);
	@extend %inline-block;
	height : icons-sprite-height(heart);
	width  : icons-sprite-width(heart);
}

.th-product-view__zoom {
	@include icons-sprite(zoom);
	@extend %inline-block;
	height : icons-sprite-height(zoom);
	width  : icons-sprite-width(zoom);
}

// --------------------------------------------

@import "sprites/social/*.png";
@include all-social-sprites;

.th-social__icon--facebook {
	@include social-sprite(facebook);
	height : social-sprite-height(facebook);
	width  : social-sprite-width(facebook);
}

.th-social__icon--twitter {
	@include social-sprite(twitter);
	height : social-sprite-height(twitter);
	width  : social-sprite-width(twitter);
}

.th-social__icon--instagram {
	@include social-sprite(instagram);
	height : social-sprite-height(instagram);
	width  : social-sprite-width(instagram);
}

.th-social__icon--tumblr {
	@include social-sprite(tumblr);
	height : social-sprite-height(tumblr);
	width  : social-sprite-width(tumblr);
}

.th-social__icon--pinterest {
	@include social-sprite(pinterest);
	height : social-sprite-height(pinterest);
	width  : social-sprite-width(pinterest);
}

.th-social__icon--google {
	@include social-sprite(google);
	height : social-sprite-height(google);
	width  : social-sprite-width(google);
}
