.vn-cart-summary {
  position: absolute;
  top: 8px;
  right: 0;
}

.vn-my-cart {
  @include inline-block;
  padding: 6px 15px 6px 5px;

  .vn-my-cart__number {
    color: #e32311;
  }

  .vn-my-cart__number:before {
    content: "(";
  }

  .vn-my-cart__number:after {
    content: ")";
  }

}

@include respond-to(sm-and-up) {

    .vn-cart-summary {
      top: 22px;
    }

}

@include respond-to(md-and-up) {
    .vn-cart-summary {
      position: absolute;
      top: 30px;
      right: 13px;
    }
}

