.vn-labeled-radio {

  text-align: left;
  font-weight: normal;

  &--vertical {

    display: table-row;

    &__radio, &__checkbox, &__color-image, &__text, &__border {
      display: table-cell;
      vertical-align: middle;
    }

    &__radio, &__checkbox, &__text {
      padding: 0.5rem;
    }

  }

  &__border {
    display: none;
  }

  &--tiles {

    @extend %inline-block;
    padding: 0 2.5px;
    margin-bottom: 5px;
    cursor: pointer;

    &__radio {
      display: none;
    }

    &__content {
      display: block;
      position: relative;
    }

    &__color {
      position: absolute;
      width: 100%;
      height: 100%;
      border: 2px solid transparent;
    }

    &__image {
      position: relative; // stacks over color
      border: 2px solid white;
    }

    &__text {
      position: relative;
      padding: 5px 10px;
      font-family: $font-family-condensed-bold;
      text-transform: uppercase;
      color: #444;
    }

    &__border {
      position: absolute;
      display: block;
      top: 0;
      width: 100%;
      height: 100%;
      border: 1px solid #d6d6d6;
      outline: 1px solid transparent;

      &:hover {
        border-color: #9fe6f8;
        outline-color: #9fe6f8;
      }

    }

    &__radio[disabled] + &__content > &__border:hover {
      border-color: #d6d6d6;
      outline-color: transparent;
    }

    &__radio[disabled] + &__content > &__text {
      color: #d6d6d6;
    }

    &__radio:checked + &__content > &__border {
      border-color: #007391;
      outline-color: #007391;
    }

  }

  &--no-text {

    &__text {
      display: none;
    }

  }

  &__color-image {
    position: relative;
  }

  &__color {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &__image {
    position: relative;
  }

}
