.vn-slider {

  .carousel-indicators li {
    width: 13px;
    margin: 0 3px;
    height: 13px;
    background-color: map-get($colors, body-bg);
    border: 0;
  }

  .carousel-indicators .active {
    width: 13px;
    height: 13px;
    border: 0;
    background-color: map-get($colors, control-bg-active);
  }

  &__slide {
    height: 237px;
    background-size: cover;
  }

  &--product {
    .vn-slider__slide{
      height: auto;
    }
  }

  @include respond-to(sm-and-up) {

    &__slide {
      height: 405px;
      background-size: cover;
    }

  }

  @include respond-to(md-and-up) {

    &__slide {
      height: 485px;
      background-size: cover;
    }

  }

}

@include respond-to(sm-and-up) {

  .th-content-slider {
    margin-bottom: 30px;
  }

}

@include respond-to(md-and-up) {

  .th-content-slider {
    padding-left: 15px;
    padding-right: 15px;
  }

}
