.vn-social {
  text-align: center;
  padding: 26px 0 20px;
  clear: both;
}

.vn-social__icon {
  margin: 0 2px;
  @extend %inline-block;

  &:hover {
    @extend %animate-all-default;
    @extend %opacity-80;
  }
}

@include respond-to(md-and-up) {

  .vn-social {
    text-align: left;
    padding-left: 12px;
  }

  .vn-social__icon {
    margin: 0 6px;
  }

}
