@import "bootstrap/mixins";

@mixin respond-to($viewport-size) {
  @if $viewport-size == xs {
    @media only screen and (max-width: $screen-xs-max) {
      @content;
    }
  }
  @else if ($viewport-size == sm) {
    @media only screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      @content;
    }
  }
  @else if ($viewport-size == sm-and-up) {
    @media only screen and (min-width: $screen-sm-min) {
      @content;
    }
  }
  @else if ($viewport-size == sm-and-down) {
    @media only screen and (max-width: $screen-sm-max) {
      @content;
    }
  }
  @else if ($viewport-size == md) {
    @media only screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
      @content;
    }
  }
  @else if ($viewport-size == md-and-up) {
    @media only screen and (min-width: $screen-md-min) {
      @content;
    }
  }
  @else if ($viewport-size == lg) {
    @media only screen and (min-width: $screen-lg-min) {
      @content;
    }
  }
}

@mixin app-font($name, $weight: normal, $style: normal)
{
    $font-files:
        inline-font-files(
            '#{$name}.woff', woff
        ),
        font-files(
            '#{$name}.ttf', truetype,
            '#{$name}.svg#font', svg
        );
    @include font-face($name, $font-files, '#{$name}.eot', $weight, $style);
}

@mixin input-placeholder {
  &.placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &:-ms-input-placeholder { @content; }
  &::-webkit-input-placeholder { @content; }
}

@mixin font-smoothing($value: antialiased) {
  -webkit-font-smoothing: $value;
}

// example: @include translucent-bg(@includeSmoke, 0.7);
@mixin translucent-bg($color, $opacity) {
  background-color: $color;
  background-color: transparentize($color, 1 - $opacity);
}

// example: @include translucent-bg(@includeSmoke, 0.7);
@mixin translucent-text($color, $opacity) {
  color: $color;
  color: transparentize($color, 1 - $opacity);
}

@mixin background($color: null, $image: null, $repeat: null, $attachment: null, $position: null, $size: null) {
  background: $color $image $repeat $attachment $position;
  @if $size {
    @include background-size($size);
  }
}

@mixin font($weight: null, $style: null, $variant: null, $size: null, $line-height: null, $family: null) {
  $font: $weight $style $variant;
  @if $size and $line-height {
    $font: $font $size/#{$line-height};
  }
  @else if $size {
    $font: $font $size;
  }
  font: $font $family;
  @if $line-height and not $size {
    line-height: $line-height;
  }
}

@mixin absolute-center($width, $height) {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: $height/-2 0 0 $width/-2;
}
