.form-control {
    font-family: $font-family-condensed-reg;
    color: map-get($colors, text);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
}
.form-control:focus {
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0), 0 0 8px rgba(0, 0, 0, 0);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.0), 0 0 8px rgba(0, 0, 0, 0);
}
