.panel-group .panel-default {
  border-left: 0;
  border-right: 0;
  -webkit-box-shadow: 0 1px 1px rgba(map-get($colors, component-shadow), 0);
  box-shadow: 0 1px 1px rgba(map-get($colors, component-shadow), 0);
}

.panel-default > .panel-heading {
  color: map-get($colors, headings);
  border-left: 0;
  border-right: 0;

  .panel-title {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
  }
}

.panel-default > .panel-heading + .panel-collapse .panel-body {
  border-top-color: map-get($colors, border--lightest);
}
