@import "compass/css3/font-face";

@mixin app-font($name, $weight: normal, $style: normal)
{
    $font-files:
        inline-font-files(
            '#{$name}.woff', woff
        ),
        font-files(
            '#{$name}.ttf', truetype,
            '#{$name}.svg#font', svg
        );
    @include font-face($name, $font-files, '#{$name}.eot', $weight, $style);
}

@include app-font('Roboto');
@include app-font('Roboto', bold);
@include app-font('Roboto', normal, italic);
@include app-font('Roboto', bold, italic);

@include app-font('RobotoCondensed');
@include app-font('RobotoCondensed', bold);



// ANTONIO
@font-face {
    font-family: 'antonioregular';
    src: url('../fonts/antonio/antonio-regular-webfont.eot');
    src: url('../fonts/antonio/antonio-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/antonio/antonio-regular-webfont.woff') format('woff'),
         url('../fonts/antonio/antonio-regular-webfont.ttf') format('truetype'),
         url('../fonts/antonio/antonio-regular-webfont.svg#antonioregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'antoniobold';
    src: url('../fonts/antonio/antonio-bold-webfont.eot');
    src: url('../fonts/antonio/antonio-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/antonio/antonio-bold-webfont.woff') format('woff'),
         url('../fonts/antonio/antonio-bold-webfont.ttf') format('truetype'),
         url('../fonts/antonio/antonio-bold-webfont.svg#antoniobold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'antoniolight';
    src: url('../fonts/antonio/antonio-light-webfont.eot');
    src: url('../fonts/antonio/antonio-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/antonio/antonio-light-webfont.woff') format('woff'),
         url('../fonts/antonio/antonio-light-webfont.ttf') format('truetype'),
         url('../fonts/antonio/antonio-light-webfont.svg#antoniolight') format('svg');
    font-weight: normal;
    font-style: normal;
}