//@import "bootstrap/breadcrumbs";

/*@include respond-to(md-and-up) {
	.breadcrumb {
		margin-bottom: 0;
		border-bottom: 0;
		border-bottom: 1px solid map-get($colors, border);

		a:hover {
			@include single-transition(all, 200ms, ease);
		}
	}
}*/
