//@import "bootstrap/navs";

.th-related-wrap {
    clear : both;
}

.nav {
    .open > a {
        border-color : map-get($colors, border);

        &:hover, &:focus {
            border-color : map-get($colors, border);
        }

    }
}

ul.nav-tabs {
    clear         : both;
    border-bottom : 1px solid map-get($colors, border);
    border-top    : 0;
    margin-bottom : 19px;
    text-align    : center;

    > li {
        @extend %inline-block;
        font-family    : $font-family-condensed-reg;
        font-size      : 1.3rem;
        float          : none;
        margin         : 0;
        text-transform : uppercase;

        > a {
            border  : 0;
            padding : 10px 13px 7px;
            color   : map-get($colors, link);
            margin  : 0;

            &:hover {
                margin     : 0;
                color      : map-get($colors, link-hover);
                border-top : 0;
                cursor     : pointer;
            }
        }

        &.active {
            > a {
                border-top    : 0;
                border-bottom : 1px solid map-get($colors, border--lightest);
                margin-bottom : 0;
                color         : map-get($colors, link);
                border-color  : map-get($colors, border--dark);
                border-left   : 0;
                border-right  : 0;

                &:hover {
                    color      : map-get($colors, link-hover);
                    border-top : 0;
                }
            }
        }
    }
}

@include respond-to(sm-and-up) {

    ul.nav-tabs {
        text-align : left;
        border-top : 1px solid map-get($colors, border);

        > li {
            font-size : 1.4rem;
            margin    : 0;
            float     : left;

            > a {
                padding : 10px 13px;
            }

            &.active {
                > a {
                    border-left   : 1px solid map-get($colors, border);
                    border-right  : 1px solid map-get($colors, border);
                    margin-bottom : -1px;
                    border-bottom : 1px solid map-get($colors, border--lightest);
                }
            }
        }
    }
}
