@import "bootstrap/navbar";

.th-navbar {

  .th-menu-container {
    min-height: 44px;
    position: relative;
  }

  .navbar-toggle {
    float: left;
    margin-right: 0;
    border: 0;
    padding: 8px 10px;

    .icon-bar {
      height: 4px;
    }
  }

  .th-header {
    border-right: none;
    border-bottom: 1px solid map-get($colors, border--light);
  }
}

@include respond-to(xs) {
  .th-navbar {
    min-height: 44px;

    .th-navbar__logo {
      position: relative;
      top: 3px;

      img {
        max-height: 36px;
        margin: auto;
      }
    }

  }
}

@include respond-to(sm) {
  .th-navbar {
    .th-navbar__logo {
      position: relative;
      top: 10px;

      img {
        max-height: 48px;
        margin: auto;
      }
    }

    .navbar-nav > li > a {
      position: relative;
      display: inline-block;
      padding: 10px 15px;
      display: inline-block;
    }

    .navbar-nav > li > span > a {
      padding: 2px 7px 5px 13px;
    }
  }
}

@include respond-to(sm-and-up) {

  .th-navbar {

    .th-menu-container {
      min-height: 74px;
    }

    .navbar-toggle {
      margin: 19px 10px;
    }

    .navbar-nav > li > a {
      position: relative;
      display: inline-block;
      padding: 10px 15px;
      display: inline-block;
    }

    .navbar-nav > li > span > a {
      padding: 2px 7px 5px 13px;
    }

    .navbar-nav > li > span > a > span.caret {
      margin-top: -4px;
    }
  }
}

/* Medium devices (desktops, 992px and up) */
@include respond-to(md-and-up) {

  .th-navbar {

    .th-menu-container {
      min-height: 92px;
    }

    .th-main {
      float: left;
    }

    .free-shipping {
      display: block;
      text-transform: uppercase;
      padding: 10px 15px;
    }

    .navbar-nav {
      margin-left: 14px;
    }

    > .container .navbar-brand {
      /*position: static;
            float: left;
            margin: 16px 0 0 11px;*/
    }

    .navbar-toggle {
      float: right;
      margin-right: 15px;
      margin-left: 0;
    }

    .navbar-nav > li > a {
      font-family: $font-family-condensed-reg;
      text-transform: uppercase;
      font-size: 1.6rem;
      display: inline-block;
    }

    .navbar-nav > li > a {
      border-left: 1px solid map-get($colors, border);
      padding-left: 0.9em;
      padding-right: 0.9em;
    }

    .navbar-nav > li:first-child > a {
      border: 0;
    }

    .navbar-nav > li {
      padding-top: 38px;
      padding-bottom: 38px;
      position: relative;
    }

    .navbar-nav > li > a {
      padding-top: 0;
      padding-bottom: 0;
    }

    .navbar-nav > li > span > a {
      padding: 2px 7px 5px 13px;
    }

    .navbar-nav > li > span > a > span.caret {
      margin-top: -4px;
    }
  }
}

/* Large devices (large desktops, 1200px and up) */
@include respond-to(lg) {

  .th-navbar {
    .navbar-nav > li > a {
      padding-left: 0.7em;
    }
  }
}
