.vn-app-message{

  &--fixed{
	position: fixed;
	top: 100px;
	z-index: 9999;
	left: 50%;
	margin-left: -200px;
	width: 400px;
	box-shadow: 0px 0px 10px rgba(0,0,0,.2);
  }
  &--static{
	position: static;
  }

  &__text{
	line-height: 26px;
  }
  &__button{

  }
  @media (max-width: $screen-xs){
	left: 0;
	margin-left: 6%;
	width: 90%;

	&__text{

	}
	&__button{

	}
  }
}
