.th-dropdown {

	.vn-placeholder {
		margin-left: -10px;
	}

	.btn {
		text-align: left;
	}

	&-toggle {
		margin-left : 5px;
		margin-top  : -3px;
	}
}

.th-dropdown.open {
	button.btn-default.dropdown-toggle {
		background: none;
	}
}
