.th-my-account,
.th-checkout{

  .list-group{
	margin     : 10px 0px 10px 0px;
	box-shadow : rgba(0, 0, 0, 0.14902) 0px 1px 1px 0px, rgba(0, 0, 0, 0.09804) 0px 1px 2px 0px;

	.list-group-item{
	  padding      : 20px;
	  margin-left  : 0;
	  margin-right : 0;
	  background   : #fafafa;

	  [data-vn-address-display]{
		cursor: default;
	  }

	  &.-clickable{

		&:hover{
		  cursor: pointer;
		  background-color: #F1F1F1;
		}
	  }
	}

	//For select lists
	.list-group-item.-radio{

	  &:hover{
		cursor: pointer;
		background-color: #F1F1F1;
	  }

	  .row{
		padding-left: 30px;
	  }

	  input{
		display: none !important;

		&:checked {
		  + div {
			&:before {
			  content     : '\f192';
			  font-family : 'FontAwesome';
			}
		  }
		}
	  }

	  > div{

		&:before {
		  content        : '\f10c';
		  font-family    : 'FontAwesome';
		  font-size      : 16px;
		  display        : inline-block;
		  line-height    : 18px;
		  vertical-align : middle;
		  text-align     : center;
		  color          : #000;
		  margin-right   : 5px;
		  font-weight    : normal;
		  position       : absolute;
		  top            : 50%;
		  margin-top     : -9px;
		}
	  }
	}

  }
}
