.th-my-account,
.th-checkout,
.th-checkout__thanks{

  .panel{
	margin     : 10px 0;
	background : #fafafa;
	border     : 1px solid #ebebeb;
	box-shadow : rgba(0, 0, 0, 0.14902) 0px 1px 1px 0px, rgba(0, 0, 0, 0.09804) 0px 1px 2px 0px;

	&-body{
	  padding: 20px;
	}

	&-default{

	}
  }
}
