<!DOCTYPE html>
<html ng-app="app">
<head>
	<!-- dependencies (probably should instead be loaded through bower.json) -->
	<script src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.17/angular.min.js'></script>
	<script src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js'></script>
	<script src='//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.11.0/ui-bootstrap.min.js'></script>
	<script src='//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.11.0/ui-bootstrap-tpls.min.js'></script>
	<script src='//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.11.0/ui-bootstrap-tpls.min.js'></script>
	<script src='//tinymce.cachefly.net/4.1/tinymce.min.js'></script>
	<script src='//cdn.rawgit.com/angular-ui/ui-tinymce/v0.0.5/src/tinymce.js'></script>
	<script src='//cdn.rawgit.com/davidjbradshaw/iframe-resizer/v2.5.2/js/iframeResizer.contentWindow.min.js'></script>

	<!-- angular-ladda (which requires ladda.js, which requires spin.js) -->
	<script src='//cdnjs.cloudflare.com/ajax/libs/spin.js/2.0.1/spin.min.js'></script>
	<script src='//cdn.rawgit.com/hakimel/ladda/0.9.4/js/ladda.js'></script>
	<link href='//cdn.rawgit.com/hakimel/ladda/0.9.4/dist/ladda.min.css' rel="stylesheet">
	<script src='//cdn.rawgit.com/kevinsproles/angular-ladda/0.1.7/dist/angular-ladda.min.js'></script>

	<!-- the star of the show -->
	<script src="app.js"></script>

	<!-- Use the Volusion Admin Bootstrap -->
	<link href="//cdn.rawgit.com/volusion/vol-admin-bootstrap/v0.0.1/dist/css/bootstrap.min.css" rel="stylesheet">

	<!-- use FontAwesome to get icons for the textAngular WYSIWYG -->
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

	<!-- apply some styles to this page -->
	<style>
		body {
			margin-top: 30px;
		}
		.tab-content {
			padding-top:10px;
		}
	</style>

</head>
<body ng-controller="ThemeSettingsCtrl">

<!-- Theme Settings -->
<section class="container">
	<div>

		<!-- TODO: remove this hack. This line needs to be here otherwise on refresh the settings model won't bind to anything below. Very strange. -->
		<textarea style="display:none" ui-tinymce ng-model="settings.general.header.content.topPromo"></textarea>


		<form>

			<!-- Tabs -->
			<div data-tabset type="pills">

				<!-- General -->
				<div data-tab>
					<div data-tab-heading>General</div>

					<h3>Header Content</h3>
					<div class="form-group">
						<label class="control-label">Promo</label>
						<textarea ui-tinymce="tinymceOptions" ng-model="settings.general.header.content.topPromo"></textarea>
					</div>

					<h3>Footer Content</h3>
					<div class="form-group">
						<label class="control-label">Column 1</label>
						<textarea ui-tinymce="tinymceOptions" ng-model="settings.general.footer.content.column1"></textarea>
					</div>
					<div class="form-group">
						<label class="control-label">Column 2</label>
						<textarea ui-tinymce="tinymceOptions" ng-model="settings.general.footer.content.column2"></textarea>
					</div>
					<div class="form-group">
						<label class="control-label">Column 3</label>
						<textarea ui-tinymce="tinymceOptions" ng-model="settings.general.footer.content.column3"></textarea>
					</div>
					<div class="form-group">
						<label class="control-label">Column 4</label>
						<textarea ui-tinymce="tinymceOptions" ng-model="settings.general.footer.content.column4"></textarea>
					</div>
					<div class="form-group">
						<label class="control-label">Bottom Row</label>
						<textarea ui-tinymce="tinymceOptions" ng-model="settings.general.footer.content.bottomRow"></textarea>
					</div>

				</div>

				<!-- Home Page -->
				<div data-tab>
					<div data-tab-heading>Home</div>

					<h3>Content</h3>
					<div class="form-group">
						<label class="control-label">Content 1</label>
						<textarea ui-tinymce="tinymceOptions" class="form-control" data-ng-model="settings.pages.home.content1"></textarea>
					</div>
					<div class="form-group">
						<label class="control-label">Content 2</label>
						<textarea ui-tinymce="tinymceOptions" class="form-control" data-ng-model="settings.pages.home.content2"></textarea>
					</div>
					<div class="form-group">
						<label class="control-label">Content 3</label>
						<textarea ui-tinymce="tinymceOptions" class="form-control" data-ng-model="settings.pages.home.content3"></textarea>
					</div>

					<input type="checkbox" data-ng-model="settings.pages.home.featuredProducts.isEnabled"> Display Featured Products

					<h3>Content Tiles</h3>
					<input type="checkbox" data-ng-model="settings.pages.home.tiles.isEnabled"> Display Content Tiles


					<!-- Content Tiles -->
					<div data-tabset type="pills">
						<div data-tab data-ng-repeat="(key, obj) in settings.pages.home.tiles.tiles">
							<div data-tab-heading>{{$index}}</div>
							<div class="form-group">
								<label class="control-label">Image Url</label>
								<input class="form-control" type="text" data-ng-model="settings.pages.home.tiles.tiles[key].imageUrl" />
							</div>
							<div class="form-group">
								<label class="control-label">Link To</label>
								<input class="form-control" type="text" data-ng-model="settings.pages.home.tiles.tiles[key].linkTo" />
							</div>
						</div>
					</div>


					<h3>Home Page Slideshow</h3>
					<input type="checkbox" data-ng-model="settings.pages.home.slider.isEnabled"> Display Slide Show
					<br /><br />
					<div data-tabset type="pills">
						<button type="button" class="btn btn-info" data-ng-click="addSlide()">Add Slide</button>
						<div data-tab data-ng-repeat="slide in settings.pages.home.slider.slides">
							<div data-tab-heading>
								Slide {{$index + 1}}
								&nbsp;&nbsp;
								<span class="glyphicon glyphicon-remove" data-ng-click="settings.slider.slides.splice($index, 1)"></span>
							</div>
							<div>
								<div class="form-group">
									<label class="control-label">Headline</label>
									<input class="form-control" type="text" data-ng-model="slide.headline" />
								</div>
								<div class="form-group">
									<label class="control-label">Image Url</label>
									<input class="form-control" type="text" data-ng-model="slide.imageUrl" />
								</div>
								<div class="form-group">
									<label class="control-label">Sub Headline</label>
									<input class="form-control" type="text" data-ng-model="slide.subHeadline" />
								</div>
								<div class="form-group">
									<label class="control-label">Links To</label>
									<input class="form-control" type="text" data-ng-model="slide.linksTo" />
								</div>
							</div>
						</div>
					</div>

				</div>

				<!-- Category Page -->
				<div data-tab>
					<div data-tab-heading>Category</div>

					TODO

				</div>

			</div>

			<!-- Save Button -->
			<hr>
			<div class="form-group">
				<button class="btn btn-primary btn-lg" data-ng-click="save()" ladda="isSaving" data-style="expand-right">Save Theme Settings</button>
				<span ng-show="isSaving">
					Would be saved if you were in production, but since you're not, simply copy the debug output to your themeSettings.json file manually.
				</span>
			</div>

		</form>


	</div>




	<!-- Debug Panel -->
	<style>
		.debugPanel {
			position:absolute;
			right:0;
			top:0;
			width:500px;
			padding:10px;
			background-color:#ff7e47;
		}
		.debugPanelHidden {
			width:35px;
			background-color:#ff7e47;
		}
		body {
			margin-right:500px;
		}
	</style>
	<div class="debugPanel" data-ng-show="debug">
		<span class="pull-right glyphicon glyphicon-resize-small" data-ng-click="debug = false"></span>
		<h1>Debug</h1>
		<p>We've detected you're running locally, so only you see this debug window. Watch your theme settings json model change in real time.</p>
		<div>
			<textarea style="width:100%" rows=50>{{settings | json}}</textarea>
		</div>
	</div>
	<div class="debugPanel debugPanelHidden" data-ng-hide="debug">
		<span class="pull-right glyphicon glyphicon-list-alt" data-ng-click="debug = true"></span>
	</div>

</section>
</body>
</html>
