.th-address {

	&__enterAddress {
		margin     : 10px 0px 10px 0px;
		padding    : 20px 5px;
		background : #fafafa; /* was $gray-lighter */
		border     : 1px solid #ebebeb;
		box-shadow : rgba(0, 0, 0, 0.14902) 0px 1px 1px 0px, rgba(0, 0, 0, 0.09804) 0px 1px 2px 0px;

		@media (max-width : $screen-xs) {
			padding : 10px 0px;
		}

		&__title{
			text-align     : center;
			padding-bottom : 13px;
			font-weight    : bold;
			font-size      : 1.3em;
		}
	}

	&__display {
		cursor     : pointer;
		margin     : 10px 0px 10px 0px;
		padding    : 20px 20px 10px 20px;
		background : #fafafa; /* was $gray-lighter */
		border     : 1px solid #ebebeb;
		box-shadow : rgba(0, 0, 0, 0.14902) 0px 1px 1px 0px, rgba(0, 0, 0, 0.09804) 0px 1px 2px 0px;

	  	&.-readonly {
			cursor: default;

			&:hover{
				cursor: default;

				> .row:hover{
					cursor: default;
				}
			}
		}

		.row {
			display     : flex;
			align-items : center;
		}

		&:hover {
			background : #fff;
			color      : #777;
		}

		&__addressPart {
			margin-bottom : 5px;
			font-size     : 14px;
		}

		.styled-optionbox-option {
			border-bottom : 1px solid #CCC;
			margin-bottom : 10px;
		}

		&__actions {
			padding-top: 15px;

			&__preferred {
				color: $brand-success;
			  	line-height: 26px;
			}
		}
	}

	&__choose {

		&__options {
			margin     : 10px 0px 10px 0px;
			padding    : 0;
			background : #fafafa; /* was $gray-lighter */
			border     : 1px solid #ebebeb;
			box-shadow : rgba(0, 0, 0, 0.14902) 0px 1px 1px 0px, rgba(0, 0, 0, 0.09804) 0px 1px 2px 0px;

			&__option {
				position : relative;
				margin   : 0px;
				width    : 100%;
				cursor   : pointer;

				[vn-address-display]{
					cursor: default;
				}
			}

			&__new-option {
				padding       : 20px;
				display       : inline-block;
				width         : 100%;
				cursor        : pointer;
			}

			.styled-optionbox-option {
				width : 100%;
			}

			&__editBtn {
				position  : absolute;
				top       : 50%;
				transform : translateY(-50%);
				right     : 20px;
			}
		}
	}

	&__form-wrapper {
		padding: 20px 10px 0px 10px;

		div[class^="col-"]{
			padding-left  : 8px;
			padding-right : 8px;

			@media (max-width: $screen-xs){
				padding-left  : 5px;
				padding-right : 5px;
			}
		}

		[name="type"] + label{
			color     : #999;
			font-size : 14px;
		}
	}

	&__change {
		text-align    : center;
		margin-bottom : 40px;
	}

	&__location {
		text-align : center;
		padding    : 0 0 10px 0;

		@media (max-width : 350px) {

			button.btn {
				font-size : 14px;
			}
		}
	}

	&__country {
		position : relative;

		.dropdown-menu {
			min-width : 150px;
			width     : 100%;
		}
	}

	&__same-as {
		text-align : center;
		padding    : 0 20px;
	}

	&__state {
		position : relative;

		.vn-dropdown{
			&__menu{
				@media (max-width: $screen-xs){
					position    : absolute;
					left        : 50%;
					margin-left : -90px;
				}
			}
		}
	}
}
