.th-checkout {
	&__login {
		text-align       : center;
		background-color : white;
		height           : 100%;
		margin           : 50px 0px;

		&__form {
			margin: 20px;

			@media (max-width: $screen-xs){
				margin: 0 0 20px 0;
			}

			.form-control {
				font-size: 1.8rem;
			}
		}


		&__error {
			border-radius: $alert-border-radius;
			color:		 		$alert-danger-text;
			background-color: 	$alert-danger-bg;

			border: 			1px solid #ebebeb;
			box-shadow: 		rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
			margin-bottom: 		10px;
			padding: 			$alert-padding;
			@media (max-width: $screen-xs){
			  	margin: 0px;
			}

		}

		&__user-type {
			text-align : center;
			padding    : 0px 0px 20px 0px;

			.btn-group {
				width : 100%;

				button {
					width : 50%;

					@media (max-width: $screen-xs){
						font-size: 14px;
					}
				}
			}
		}

		&__continue {
			margin-top: 20px;
		}
	}
}
