%subtotal {
	font-size   : 1.5rem;
	position    : absolute;
	right       : 0;
	top         : 0;
}

.vn-page-checkout,
.vn-page-paypal-checkout{

	#main-content-area{
		height: calc(100% - 160px);
		height: -webkit-calc(100% - 160px);
		overflow: hidden;

		@media (max-width: $screen-md){
			height: auto;
		}
	}
	.th-checkout{
		height: 100%;
		margin-top: 0px;
		margin-bottom: 0px;

		&__step{
			height: 100%;
		}
	}
	.th-checkout-footer{
		margin-top: 0px;
	}
}

.th-checkout__review {
	padding : 17px;
	margin-top: 15px;
	background: #fafafa; /* was $gray-lighter */
	border: 1px solid #ebebeb;
	box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px, rgba(0,0,0,0.09804) 0px 1px 2px 0px;

	&__totals {
		border-bottom : 1px solid #ddd;
		padding: 0px 0px 14px 0px;

		&__expand {

			float : left;
			margin-top: -4px;

			button {
				border           : none;
				background-color : transparent;
				outline          : 0;
				outline          : none;
			}

			span {
				&:after {
					font-family : 'FontAwesome';
					content     : '\f078'; // fa-chevron-down
					margin      : 0 5px;
				}
			}
		}

		&__expand.expanded {
			span {
				&:after {
					font-family : 'FontAwesome';
					content     : '\f077'; // fa-chevron-up
					margin      : 0 5px;
				}
			}
		}

		&__count {
			float : left;
		}

		&__amount {
			float       : right;
			font-size   : 1.5rem;
		}
	}

	&__discounts {
		border-bottom : 1px solid #CCC;

		&__discount {
			margin : 14px 0;

			.discount-info-row {
				position : relative;
			}

			&-info {
				text-align : left;

				&--subtotal {
					@extend %subtotal;
				}
			}
		}
	}

	&__store-credit {
		border-bottom : 1px solid #ddd;

		.store-credit-info-row {
			position   : relative;
			margin     : 14px 0;
			text-align : left;
		}

		&-info {

			&--subtotal {
				@extend %subtotal;
			}
		}
	}

	&__shipping-method {
		border-bottom : 1px solid #ddd;

		.shipping-method-info-row {
			position   : relative;
			margin     : 14px 0;
			text-align : left;
		}

		&-info {

			&--subtotal {
				@extend %subtotal;
			}
		}
	}

	&__tax {
		border-bottom : 1px solid #ddd;

		.tax-info-row {
			position   : relative;
			margin     : 14px 0;
			text-align : left;
		}

		&-info {

			&--subtotal {
				@extend %subtotal;
			}
		}
	}

	&__grand-total {

		.grand-total-info-row {
			position   : relative;
			margin-top : 14px;
			text-align : left;
			font-size: 20px;
			font-weight: bold;
		}

		&-info {

			&--subtotal {
				@extend %subtotal;
				font-size: 20px;
				font-weight: bold;
			}
		}
	}

	&__items {

		padding    : 10px 0;
		overflow-y : auto;
		height     : 100%;

		// Add animation
		/*-webkit-transition : all linear 0.5s;
		transition         : all linear 0.5s;*/

		/*&.ng-hide-add {
			-webkit-transition : all linear 0.5s;
			transition         : all linear 0.5s;
		}
		&.ng-hide-remove {
			-webkit-transition : all linear 0.5s;
			transition         : all linear 0.5s;
		}*/

		&--label {
			text-transform : uppercase;
		}

		&__item {

			position      : relative;
			margin-bottom : 10px;
			border-bottom : 1px solid #CCC;

			&.-last {
				margin-bottom : 0;
				border-bottom: 1px solid transparent;
			}

			&-image {
				float        : left;
				margin-right : 10px;

				img {
					max-height : 80px;
					max-width  : 80px;
				}
			}

			&-info {
				line-height   : 1.2;
				text-align    : left;
				margin-bottom : 5px;

				.item-info-row {
					position : relative;
				}

				&--name {
					@include ellipsis(true);
				}

				&--qty {
				}

				&--subtotal {
					@extend %subtotal;
				}
			}
		}
	}
}
