.th-checkout__thanks {

	&__header {
		text-align : center;
		font-size  : $font-size-large;
		margin     : 20px 0px;

		@media (max-width: $screen-sm){
			margin-bottom: 0px;
		}

		.title {
			font-weight: bold;
			font-size: $font-size-h3;
		}

		.order-info {
		}

		.action-info {
			margin-top : 10px;
			font-size: $font-size-base;
		}
	}

	&__column {
		width : 50%;
		float : left;
		padding : 20px;

		@media (max-width: $screen-sm){
			padding-top: 0px;
  			padding-bottom: 0px;
		}

		&.-next {
			border-left : 1px solid #ddd;
		}

		.title {
			margin-top : 20px;
			font-weight: bold;
			font-size: $font-size-large;
		}
	}

	&__display {
		.row {
			margin  :0;
			padding: 0;
		}

		.credit-card {
			&__total {}

			&__number {
				font-weight: bold;
			}

			&__image {
				border     : none;
				height     : 30px;
				width      : 44px;
				position   : absolute;
				top        : 10px;
				left       : 170px;
				background : url('/images/sprites/creditcards-b.png') -166px 0;

				&--notvalid {
					-webkit-filter : grayscale(100%);
					-moz-filter    : grayscale(100%);
					filter         : grayscale(100%);
				}

				&--flipped {
					background : url('/images/sprites/creditcards-b.png') -291px 0;
				}

				&--unknown {
					background : url('/images/sprites/creditcards-b.png') -166px 0;
				}

				&--amex {
					background : url('/images/sprites/creditcards-b.png') 1px 0;
				}

				&--amex-flipped {
					background : url('/images/sprites/creditcards-b.png') -333px 0;
				}

				&--visa {
					background : url('/images/sprites/creditcards-b.png') -41px 0;
				}

				&--mastercard {
					background : url('/images/sprites/creditcards-b.png') -83px 0;
				}

				&--discover {
					background : url('/images/sprites/creditcards-b.png') -208px 0;
				}
			}
		}
	}

	&__title {
		font-weight    : bold;
		text-transform : uppercase;
		text-align     : center;
		font-size      : 2rem;
		margin-top     : 20px;
	}

	&__display {
		margin        : 10px;
		padding       : 20px 20px 10px 20px;
		background    : #fafafa;
		border        : 1px solid #ebebeb;
		box-shadow    : rgba(0, 0, 0, 0.14902) 0px 1px 1px 0px, rgba(0, 0, 0, 0.09804) 0px 1px 2px 0px;
		font-family   : roboto-regular, Helvetica, Arial, sans-serif;
		font-size     : 15px;
		line-height   : 20px;

		&__name {
			float         : left;
			padding-right : 90px;
		}

		&__price {
			position   : absolute;
			right      : 20px;
			text-align : right;
		}
	}
}
