<div class="">
	{{ categories }}
	<!-- conditional content that gives us a mobile menu toggle btn -->
	<h3 data-ng-show="!showMobileSearch">Narrow By</h3>
	<a href data-ng-show="showMobileSearch"
	   data-ng-click="toggleSearch()">
		<h3>Narrow By</h3>
	</a>
</div>
<div data-ng-show="mobileDisplay">
	{{ facets }}
	<!-- This is here b/c mobile needs to hide / show the content -->
	<div vn-category-search categories="categories"></div>
	<h3>Filter By</h3>
	<div vn-facet-search facets="facets"></div>
	<h3>Price</h3>
	<input type="text"
		   data-ng-model="minPrice"
		   data-ng-keypress="searchByPrice($event)"/>
	to
	<input type="text"
		   data-ng-model="maxPrice"
		   data-ng-keypress="searchByPrice($event)"/>
	<button class="btn" href data-ng-click="clearAllFilters()">Clear Filters</button>
</div>
