<div class="vn-faceted-search-header">
	<button class="btn btn-success __cancel-action" href
			data-ng-click="dismissMobileFilters()"
			data-ng-show="showApplyButton">Apply</button> <!-- close() -->
	<button class="btn __clear-action" href data-ng-click="clearAllFilters()">Clear</button> <!-- close() & apply() -->
</div>
<div data-ng-show="showCategorySearch">
	<div vn-category-search categories="categoryList"
		 query-products="queryProducts()"></div>
</div>
<div data-ng-show="showFacetSearch">
	<div vn-facet-search facets="facets"
		 query-products="queryProducts()"></div>
	<h4>Price</h4>
	<input type="text"
		   data-ng-model="minPrice"
		   data-ng-keypress="searchByPrice($event)"/>
	to
	<input type="text"
		   data-ng-model="maxPrice"
		   data-ng-keypress="searchByPrice($event)"/>
</div>
