<div data-ng-controller="FooterCtrl">

	<!-- Storefront Footer -->
	<footer class="th-footer"
			data-ng-show="footerState">

		<div class="hidden-lg th-elist">
			<div class="hidden-xs th-elist__title">Sign-Up for Our Newsletter</div>
			<vn-newsletter-signup form-classes="th-elist__form"  form-group-classes="th-elist__group"
					input-classes="th-elist__input" submit-classes="th-elist__submit"
					label-text="Sign-up for promotions"></vn-newsletter-signup>
		</div>
		<!-- .v-newsletter -->

		<div class="container visible-lg-block th-footer__top">
			<div class="row">
				<div class="col-md-8">
					<div class="row th-footer__site-links">
						<div class="col-md-4">
							<div data-ng-bind-html="themeSettings.general.footer.content.column1 | vnLegacyLinkify | html"></div>
						</div>
						<div class="col-md-4">
							<div data-ng-bind-html="themeSettings.general.footer.content.column2 | vnLegacyLinkify | html"></div>
						</div>
						<div class="col-md-4">
							<div data-ng-bind-html="themeSettings.general.footer.content.column3 | vnLegacyLinkify | html"></div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="th-footer__more-info">
						<div class="th-elist" ng-if="themeSettings.general.footer.newsletterSignup.isEnabled">
							<div class="th-elist__title">Sign-up for our Newsletter</div>
							<div class="th-elist__text">Get our latest news and exclusive offers</div>
							<vn-newsletter-signup form-classes="th-elist__form"  form-group-classes="th-elist__group"
												  input-classes="th-elist__input" submit-classes="th-elist__submit"
												  label-text="Sign-up for promotions"></vn-newsletter-signup>
						</div>
						<div data-ng-bind-html="themeSettings.general.footer.content.column4 | vnLegacyLinkify | html"></div>
					</div>
				</div>
			</div>
			<!-- .row -->
		</div>

		<div class="container">
			<div class="row th-footer__bottom">
				<div data-ng-bind-html="themeSettings.general.footer.content.bottomRow | vnLegacyLinkify | html"></div>
			</div>
		</div>
	</footer>

	<!-- Checkout Footer -->
	<footer class="th-checkout-footer"
			data-ng-show="checkoutFooterState">
		<div class="container">
			<div class="row th-footer__bottom">
				<div data-ng-bind-html="themeSettings.general.footer.content.bottomRow | vnLegacyLinkify | html"></div>
			</div>
		</div>
	</footer>

</div>
