<nav class="navbar navbar-default navbar-fixed-top th-navbar"
	 role="navigation"
	 data-ng-hide="hideWrapper"
	 data-ng-controller="HeaderCtrl">

	<div class="th-header">
		<div class="container">
			<div class="th-header__shipping-text">
				<a href="#" class="free-shipping" data-translate="header.promo">Free shipping on all orders over $99!</a>
			</div>
			<div class="th-header__account-menu">
				<ul class="nav nav-pills">
					<li><a legacy-link="/login.asp" data-translate="header.signIn">Sign In</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container th-menu-container">
		<div class="row">
			<!-- Desktop Logo -->
			<div class="col-md-2 hidden-xs hidden-sm">
				<!--TODO: cleanup html-->
				<!--<a class="navbar-brand" ui-sref="i18n.home">-->
				<a class="navbar-brand" href="/">
					<img data-ng-src="{{ config.data.general.logoUrl }}" class="img-responsive" />
				</a>
			</div>

			<!-- Sandwich Button -->
			<div class="col-xs-3 hidden-md hidden-lg">
				<button type="button" class="navbar-toggle" data-ng-init="navCollapsed = true" snap-toggle="left">
					<span class="sr-only" data-translate="header.toggleNavigation">Toggle Navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>

			<!-- Mobile Logo -->
			<div class="col-xs-6 hidden-md hidden-lg">
				<a class="th-navbar__logo" data-ng-href="/">
					<img data-ng-src="{{config.data.general.logoUrl }}" class="img-responsive" />
				</a>
			</div>

			<!-- Mobile Logo -->
			<div class="col-xs-6 hidden-md hidden-lg">
				<a class="th-navbar__logo" data-ng-href="/">
					<img data-ng-src="{{config.general.logoUrl}}" class="img-responsive" />
				</a>
			</div>
			<div class="col-md-8 hidden-xs hidden-sm">
				<div class="collapse navbar-collapse " id="th-main-menu" data-ng-class="!navCollapsed && 'in'" data-ng-click="navCollapsed=true">
					<ul class="nav navbar-nav">
						<li class="dropdown nav-top-level-menu-items" data-ng-repeat="category in smartNavCategories" style="visibility: hidden;">
							<a class="navbar-link" href="c/{{ category.slug }}">{{category.name}}</a>
							<span>
								<a href="#" data-ng-if="category.subCategories.length" class="dropdown-toggle th-dropdown-toggle" data-toggle="dropdown">
									<span class="caret"></span>
								</a>
								<ul show-on-dropdown-hover class="dropdown-menu" data-ng-if="category.subCategories.length">
									<li data-ng-repeat="subCategory in category.subCategories">
										<a href="c/{{ subCategory.slug }}">{{subCategory.name}}</a>
									</li>
								</ul>
							</span>
						</li>
						<li class="dropdown" data-ng-show="displaySmartNavMoreMenuItem">
							<a href="#" class="navbar-link" data-translate="header.smartNavMoreLinkText">More</a>
							<span>
								<a href="#" class="dropdown-toggle th-dropdown-toggle" data-toggle="dropdown">
									<span class="caret"></span>
								</a>
								<ul show-on-dropdown-hover class="dropdown-menu">
									<li data-ng-repeat="category in smartNavMoreCategories">
										<a class="navbar-link" href="c/{{ category.id }}">{{category.name}}</a>
									</li>
								</ul>
							</span>
						</li>
					</ul>
				</div>
			</div>

			<div class="col-xs-3 col-md-2">
				<div class="th-cart-summary pull-right">
					<div class="th-search-popout hidden-xs hidden-sm" role="search">
						<a id="search-toggle" type="button"
						   class="th-search-popout__trigger"
						   data-ng-class="{ '-position' : !showSearch }"
						   data-ng-click="showSearch = !showSearch">
							<span class="glyphicon glyphicon-search"></span>
						</a>
						<div data-ng-show="showSearch" data-ng-include=" 'views/partials/form-search.html' "></div>
					</div>
					<div class="th-my-cart">
						<a legacy-link="{{viewCart()}}" class="th-my-cart__link">
							<span class="th-my-cart__text" data-translate="header.myCart">My Bag</span>
							<span class="th-my-cart__number">{{cart.items.length}}</span>
						</a>
					</div>
				</div>
			</div>
		</div>

	</div>
	<!-- /.container-fluid -->
</nav>
