<nav class="navbar navbar-default navbar-fixed-top th-navbar" role="navigation">

    <div class="th-header">
        <div class="container">
            <div class="th-header__shipping-text">
                <a href="#" class="free-shipping">Free shipping on all orders over $99!</a>
            </div>
            <div class="th-header__account-menu">
                <ul class="nav nav-pills">
                    <li><a href="#">Sign In</a></li>
                    <li><a href="#">Create Account</a></li>
                    <li><a href="#">My Favorites</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container th-menu-container">
        <div class="row">
            <!-- Desktop Logo -->
            <div class="col-md-2 hidden-xs hidden-sm">
                <!--TODO: cleanup html-->
                <!--<a class="navbar-brand" ui-sref="i18n.home">-->
                <a class="navbar-brand" href="/">
                    <img ng-src="{{config.data.general.logoUrl}}" class="img-responsive"/>
                </a>
            </div>

            <!-- Sandwich Button -->
            <div class="col-xs-3 hidden-md hidden-lg">
                <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" snap-toggle="left">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- Mobile Logo -->
            <div class="col-xs-6 hidden-md hidden-lg">
                <a class="th-navbar__logo" ui-sref="i18n.home">
                    <img ng-src="{{config.general.logoUrl}}" class="img-responsive"/>
                </a>
            </div>
            <div class="col-md-8 hidden-xs hidden-sm">
                <div class="collapse navbar-collapse " id="th-main-menu" ng-class="!navCollapsed && 'in'" ng-click="navCollapsed=true">

                    <!-- Navigation -->
                    <!--<ul class="nav navbar-nav">-->
                        <!--<li class="dropdown" ng-repeat="item in mainNav.data">-->
                            <!--<a class="th-dropdown-toggle"-->
                               <!--href="c/{{ item.slug }}">{{item.name}}</a>-->
                            <!--<span>-->
                                <!--<a href="" ng-if="item.subCategories" class="dropdown-toggle th-dropdown-toggle" data-toggle="dropdown">-->
                                    <!--<span class="caret"></span>-->
                                <!--</a>-->
                                <!--<ul class="dropdown-menu" ng-if="item.subCategories.length">-->
                                    <!--<li ng-repeat="subCategory in item.subCategories">-->
                                        <!--<a href="c/{{ subCategory.slug }}">{{subCategory.name}}</a>-->
                                    <!--</li>-->
                                <!--</ul>-->
                            <!--</span>-->
                        <!--</li>-->
                    <!--</ul>-->

                    <!-- Categories -->
                    <ul class="nav navbar-nav">
                        <li class="dropdown nav-top-level-menu-items" data-ng-repeat="category in smartNavCategories" style="visibility: hidden;">
                            <a class="navbar-link" href="c/{{ category.id }}">{{category.name}}</a>
                            <span>
                                <a href="#" data-ng-if="category.subCategories.length" class="dropdown-toggle th-dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" data-ng-if="category.subCategories.length">
                                    <li data-ng-repeat="subCategory in category.subCategories">
                                        <a  href="c/{{ subCategory.id }}">{{subCategory.name}}</a>
                                    </li>
                                </ul>
                            </span>
                        </li>
                        <li class="dropdown" ng-show="displaySmartNavMoreMenuItem">
                            <a href="#" class="navbar-link" data-translate=" index.smartNavMoreLinkText">More</a>
                            <span>
                                <a href="#" class="dropdown-toggle th-dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li data-ng-repeat="category in smartNavMoreCategories">
                                        <a class="navbar-link" href="c/{{ category.id }}">{{category.name}}</a>
                                    </li>
                                </ul>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-xs-3 col-md-2">
                <div class="th-cart-summary pull-right">
                    <div class="th-search-popout hidden-xs hidden-sm" role="search">
                        <a id="search-toggle" type="button" class="th-search-popout__trigger" data-toggle="popover" data-placement="bottom" data-html="true" data-content="" data-container="body">
                            <form class='form-inline' role='search'>
                                <div class='form-group'>
                                    <input type='email' class='th-search-popout__input' placeholder='Search...'>
                                    <button type='submit' class='btn btn-xs btn-primary th-search-popout__submit'>Go!</button>
                                </div>
                            </form>
                            <span class="glyphicon glyphicon-search"></span>
                        </a>
                    </div>

                    <span class="th-my-cart">
                        <a legacy-link="{{viewCart()}}" class="th-my-cart__link">
                            <span class="th-my-cart__text">My Bag</span>
                            <span class="th-my-cart__number">{{cart.items.length}}</span>
                        </a>
                    </span>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->
</nav>
