<div data-ng-controller="HeaderCtrl">

	<!-- Storefront Header -->
	<nav class="navbar navbar-default navbar-static-top th-navbar"
		 role="navigation"
		 data-ng-show="headerState">

		<div class="container-fluid hidden-xs hidden-sm th-header-top">
			<div class="container">
				<div class="row">
					<div class="col-md-6 text-left text-uppercase th-header-top__text">
						<span data-ng-bind-html="themeSettings.general.header.content.topPromo | vnLegacyLinkify | html"></span>
					</div>
					<div class="col-md-6 text-right th-header-top__text">
						<a data-vn-legacy-link="/login.asp" data-translate="header.signIn">Sign In</a>
					</div>
				</div>
			</div>
		</div>

		<div class="container th-menu-container">
			<div class="row">

				<!-- Sandwich Button -->
				<div class="col-xs-3 hidden-md hidden-lg">
					<button type="button" class="navbar-toggle" data-ng-init="navCollapsed = true" snap-toggle="left">
						<span class="sr-only" data-translate="header.toggleNavigation">Toggle Navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>

				<!-- Desktop Logo -->
				<div class="col-md-2 hidden-xs hidden-sm">
					<div class="th-navbar__logo">
						<a href="/">
							<img data-ng-src="{{config.general.logoUrl }}" />
						</a>
					</div>
				</div>

				<!-- Mobile Logo -->
				<div class="col-xs-6 hidden-md hidden-lg">
					<div class="th-navbar__logo">
						<a data-ng-href="/">
							<img data-ng-src="{{config.general.mobileLogoUrl }}" />
						</a>
					</div>
				</div>

				<!-- Navbar -->
				<div class="col-md-8 hidden-xs hidden-sm">
					<div vn-nav category-list=""></div>
				</div>

				<div class="col-xs-3 col-md-2">
					<div class="pull-right th-cart-summary">
						<div class="hidden-xs hidden-sm th-search-popout">
							<div vn-search-form search-term="searchLocal" allow-collapse="true" show-search="showSearchDesktop"></div>
						</div>
						<div class="th-my-cart">
							<a href class="th-my-cart__link" data-ng-click="gotoSoftAdd()"><!--snap-toggle="right"-->
								<span class="th-my-cart__text" data-translate="header.myCart">My Bag</span>
								<span class="th-my-cart__number">{{ getCartItemsCount() | number}}</span>
							</a>
						</div>
					</div>
				</div>

			</div><!-- /row -->
		</div><!-- /th-menu-container -->
	</nav>

	<!-- Checkout Header -->
	<nav class="th-checkout-header"
		 role="navigation"
		 data-ng-show="checkoutHeaderState">

		<!-- Mobile Logo -->
		<a data-ng-href="/">
			<img data-ng-src="{{config.general.mobileLogoUrl }}" />
		</a>

	</nav>
</div>
