<div data-snap-drawer class="th-mobile-menu">
  <div class="th-mobile-menu-catgories">
    <ul class="nav navbar-nav">
      <li class="th-mobile-menu-categories-header">Categories</li>
      <li class="dropdown" data-ng-repeat="category in categories">
        <a href="#" class="dropdown-toggle th-dropdown-toggle" data-toggle="dropdown">{{category.name}}</a>
        <ul class="dropdown-menu" data-ng-if="category.subCategories.length">
          <li data-ng-repeat="subCategory in category.subCategories"><a data-ui-sref="i18n.category({ categoryName: subCategory.name, categoryId: subCategory.id })">{{subCategory.name}}</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="th-menu-site-map">
    <ul>
      <li class="th-site-map-header">Company Info</li>
      <li><a data-ui-sref="i18n.about" data-translate="index.about">About Us</a></li>
      <li><a href="#">Careers</a></li>
      <li><a href="#">Partners</a></li>
      <li><a href="#">Excetera</a></li>
    </ul>

    <ul>
      <li class="th-site-map-header">Help &amp; Support</li>
      <li><a href="#">Customer Service</a></li>
      <li><a href="#">Shopping Bag</a></li>
      <li><a href="#">Order Status</a></li>
      <li><a data-ui-sref="i18n.contact" data-translate="index.contact">Contact Us</a></li>
      <li><a href="#">Returns</a></li>
      <li><a href="#">Shipping</a></li>
      <li><a href="#">Size Charts</a></li>
      <li><a href="#">Favorites</a></li>
      <li><a href="#">Site Map</a></li>
    </ul>

    <ul>
      <li class="th-site-map-header">Programs &amp; Services</li>
      <li><a href="#">Affiliate Program</a></li>
      <li><a href="#">Gift Certificates</a></li>
      <li><a href="#">Gift Cards</a></li>
    </ul>

  </div>
</div>
