<div data-snap-drawer class="th-mobile-menu" ng-hide="hideWrapper">
  <div class="th-search hidden-md hidden-lg">
    <form class="th-search__form">
      <input type="text" class="th-search__input" placeholder="Search...">
      <button type="submit" class="th-search__submit">
        <span class="glyphicon glyphicon-search th-search__icon"></span>
      </button>
    </form>
  </div>
  <div class="th-mobile-menu__list">
    <ul class="nav navbar-nav th-mobile-list">
      <li class="th-mobile-list__item th-mobile-list__item--header">Categories</li>
      <li class="th-mobile-list__item dropdown" data-ng-repeat="category in categories">
        <a href="#" data-ui-sref="i18n.category({ categoryName: category.slug, categoryId: category.id })" class="navbar-link th-dropdown-toggle th-mobile-list__link">{{category.name}}</a>
        <span>
          <a href="#" data-ng-if="category.subCategories.length" class="dropdown-toggle th-dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu th-mobile-list th-mobile-list--sub" data-ng-if="category.subCategories.length">
            <li data-ng-repeat="subCategory in category.subCategories"><a class="th-mobile-list__link th-mobile-list__link--sub" data-ui-sref="i18n.category({ categoryName: subCategory.slug, categoryId: subCategory.id })">{{subCategory.name}}</a></li>
          </ul>
        </span>
      </li>
    </ul>
  </div>
  <div class="th-mobile-menu__list">
    <ul class="th-mobile-sitemap">
      <li class="th-mobile-sitemap__item th-mobile-sitemap__item--header">Company Info</li>
      <li class="th-mobile-sitemap__item"><a class="th-mobile-sitemap__link" data-ui-sref="i18n.about" data-translate="index.about">About Us</a></li>
      <li class="th-mobile-sitemap__item"><a class="th-mobile-sitemap__link" href="#">Careers</a></li>
      <li class="th-mobile-sitemap__item"><a class="th-mobile-sitemap__link" href="#">Partners</a></li>
      <li class="th-mobile-sitemap__item"><a class="th-mobile-sitemap__link" href="#">Excetera</a></li>
    </ul>

    <ul class="th-mobile-sitemap">
      <li class="th-mobile-sitemap__item th-mobile-sitemap__item--header">Help &amp; Support</li>
      <li class="th-mobile-sitemap__item"><a class="th-mobile-sitemap__link" href="#">Customer Service</a></li>
      <li class="th-mobile-sitemap__item"><a class="th-mobile-sitemap__link" href="#">Shopping Bag</a></li>
      <li class="th-mobile-sitemap__item"><a class="th-mobile-sitemap__link" href="#">Order Status</a></li>
      <li class="th-mobile-sitemap__item"><a class="th-mobile-sitemap__link" data-ui-sref="i18n.contact" data-translate="index.contact">Contact Us</a></li>
      <li class="th-mobile-sitemap__item"><a class="th-mobile-sitemap__link" href="#">Returns</a></li>
      <li class="th-mobile-sitemap__item"><a class="th-mobile-sitemap__link" href="#">Shipping</a></li>
      <li class="th-mobile-sitemap__item"><a class="th-mobile-sitemap__link" href="#">Size Charts</a></li>
      <li class="th-mobile-sitemap__item"><a class="th-mobile-sitemap__link" href="#">Favorites</a></li>
      <li class="th-mobile-sitemap__item"><a class="th-mobile-sitemap__link" href="#">Site Map</a></li>
    </ul>

    <ul class="th-mobile-sitemap">
      <li class="th-mobile-sitemap__item th-mobile-sitemap__item--header">Programs &amp; Services</li>
      <li class="th-mobile-sitemap__item"><a class="th-mobile-sitemap__link" href="#">Affiliate Program</a></li>
      <li class="th-mobile-sitemap__item"><a class="th-mobile-sitemap__link" href="#">Gift Certificates</a></li>
      <li class="th-mobile-sitemap__item"><a class="th-mobile-sitemap__link" href="#">Gift Cards</a></li>
    </ul>

  </div>
</div>
