<div data-snap-drawer
	 class="th-mobile-menu"
	 data-ng-show="snapMenuState"
	 data-ng-controller="HeaderCtrl">

	<div class="th-search hidden-md hidden-lg"
		 ng-controller="SearchCtrl">
		<form class="th-search__form"
			  role='search'
			  name="frmSearch"
			  data-ng-submit="doSearch()"
			  novalidate>
			<input type="text"
				   class="th-search__input"
				   placeholder="Search..."
				   data-ng-model='searchLocal'>
			<button type="submit"
					class="th-search__submit"
					data-ng-click="doSearch()">
				<span class="glyphicon glyphicon-search th-search__icon"></span>
			</button>
		</form>
	</div>
	<div class="th-mobile-menu__list">
		<ul class="nav navbar-nav th-mobile-list">
			<li class="th-mobile-list__item th-mobile-list__item--header">Categories</li>
			<li class="th-mobile-list__item dropdown" ng-repeat="category in smartCategories">
				<a href="#" class="dropdown-toggle navbar-link th-dropdown-toggle th-mobile-list__link" ng-if="category.subCategories.length" data-toggle="dropdown">
					{{category.name}} <span class="pull-right caret"></span>
				</a>

				<a data-ng-href="{{category.url}}" class="navbar-link th-dropdown-toggle th-mobile-list__link" ng-if="!category.subCategories.length">
					{{category.name}}
				</a>
				<ul class="dropdown-menu th-mobile-list th-mobile-list--sub" data-ng-if="category.subCategories.length">
					<li data-ng-repeat="subCategory in category.subCategories">
						<a class="th-mobile-list__link th-mobile-list__link--sub"
						   data-ng-href="{{subCategory.url}}">{{subCategory.name}}</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>

	<div class="th-mobile-menu__list" data-ng-bind-html="themeSettings.general.footer.content.column1 | legacyLinkify | html"></div>
	<div class="th-mobile-menu__list" data-ng-bind-html="themeSettings.general.footer.content.column2 | legacyLinkify | html"></div>
	<div class="th-mobile-menu__list" data-ng-bind-html="themeSettings.general.footer.content.column3 | legacyLinkify | html"></div>

</div>
