<div class="th-product">
  <span class="th-product__sale hidden-xs" data-ng-show="product.isOnSale"></span>
  <span class="th-product__new hidden-xs" data-ng-show="product.isNew"></span>
  <div class="th-product__image">
    <a data-ui-sref="i18n.product({ productTitle: product.name, productCode: product.code })"><img data-ng-src="{{product.mainImage.large}}" class="img-responsive" alt=""></a>
    <div class="th-quick-options visible-md visible-lg">
      <a data-ui-sref="i18n.product({ productTitle: featuredProduct.name, productCode: featuredProduct.code })" class="th-quick-view" data-translate="product.quickView">Quick View</a>
      <a href="#" class="th-add-to-cart"><span></span></a>
    </div>
  </div>
  <div class="th-product__name">
    <a data-ui-sref="i18n.product({ productTitle: product.name, productCode: product.code })">{{product.name}}</a>
  </div>
  <div class="th-product__price">
    <span class="th-reg-price" data-ng-show="product.pricing.regularPrice > 0"><span class="th-price" data-ng-class="{strike: product.pricing.salePrice > 0}">{{product.pricing.regularPrice}}</span><span class="th-price-text th-text-left" data-translate="product.regularPriceLabel">Reg</span></span>
    <span class="th-now-price" data-ng-show="product.pricing.salePrice > 0"><span class="th-price">{{product.pricing.salePrice}}</span><span class="th-price-text" data-translate="product.nowPriceLabel">Now</span></span>
  </div>

  <div class="th-colors-sm visible-xs">
    <a href="#"><img src="/images/theme/sw-1-sm.png" class="img-responsive" alt=""></a>
    <a href="#"><img src="/images/theme/sw-2-sm.png" class="img-responsive" alt=""></a>
    <a href="#"><img src="/images/theme/sw-3-sm.png" class="img-responsive" alt=""></a>
    <a href="#"><img src="/images/theme/sw-4-sm.png" class="img-responsive" alt=""></a>
    <a href="#"><img src="/images/theme/sw-5-sm.png" class="img-responsive" alt=""></a>
  </div>
</div>
