<div data-accordion data-close-others="true">
	<div data-accordion-group data-is-open="accordionPanels.isopen1" data-ng-show="product.descriptions.detail">
		<div data-accordion-heading>
			<span data-translate="product.description">Description</span>
			<i class="pull-right glyphicon" data-ng-class="{'glyphicon-chevron-down': accordionPanels.isopen1, 'glyphicon-chevron-right': !accordionPanels.isopen1}"></i>
		</div>
		<span class="th-product-info__accordion-text" itemprop="description" data-ng-bind-html="product.descriptions.detail | legacyLinkify | html"></span>
	</div>
	<div data-accordion-group data-is-open="accordionPanels.isopen2" data-ng-show="product.descriptions.features">
		<div data-accordion-heading>
			<span data-translate="product.features">Features</span>
			<i class="pull-right glyphicon" data-ng-class="{'glyphicon-chevron-down': accordionPanels.isopen2, 'glyphicon-chevron-right': !accordionPanels.isopen2}"></i>
		</div>
		<span class="th-product-info__accordion-text" data-ng-bind-html="product.descriptions.features | legacyLinkify | html"></span>
	</div>
	<div data-accordion-group data-is-open="accordionPanels.isopen3" data-ng-show="product.descriptions.techSpecs">
		<div data-accordion-heading>
			<span data-translate="product.techSpecs">Tech Specs</span>
			<i class="pull-right glyphicon" data-ng-class="{'glyphicon-chevron-down': accordionPanels.isopen3, 'glyphicon-chevron-right': !accordionPanels.isopen3}"></i>
		</div>
		<span class="th-product-info__accordion-text" data-ng-bind-html="product.descriptions.techSpecs | legacyLinkify | html"></span>
	</div>
	<div data-accordion-group data-is-open="accordionPanels.isopen4" data-ng-show="product.descriptions.extendedInfo">
		<div data-accordion-heading>
			<span data-translate="product.extendedInfo">Extended Info</span>
			<i class="pull-right glyphicon" data-ng-class="{'glyphicon-chevron-down': accordionPanels.isopen4, 'glyphicon-chevron-right': !accordionPanels.isopen4}"></i>
		</div>
		<span class="th-product-info__accordion-text" data-ng-bind-html="product.descriptions.extendedInfo | legacyLinkify | html"></span>
	</div>
</div>
