<div class="th-product">
	<span class="hidden-xs icon-th-product__sale" data-ng-show="product.isOnSale"></span>
	<span class="hidden-xs icon-th-product__new" data-ng-show="product.isNew"></span>

	<div class="th-product__image">
		<a data-ng-href="{{ product.url }}">
			<img vn-product-image product="product" default-image="defaultProductImage">
		</a>
	</div>
	<div class="th-product__name">
		<a data-ng-href="{{product.url}}">{{product.name}}</a>
	</div>
	<div class="th-product__price">
		<span class="th-price--reg" data-ng-show="product.pricing.regularPrice > 0">
			<span class="th-price" data-ng-class="{strike: product.pricing.salePrice > 0}">
				{{product.pricing.regularPrice | currency}}</span>
			<span class="th-price-text th-text-left" data-translate="product.regularPriceLabel"></span></span>
		<span class="th-price--now" data-ng-show="product.pricing.salePrice > 0">
			<span class="th-price">{{product.pricing.salePrice | currency}}</span>
			<span class="th-price-text" data-translate="product.nowPriceLabel"></span></span>
	</div>
	
</div>
