<div data-snap-drawer="right"
	 class="th-checkout"
	 data-ng-controller="ShoppingCartCtrl">

	<div class="th-checkout__brand" data-ng-if="!isInDesktopMode">
		<button type="button" class="navbar-toggle th-checkout__brand--search" data-ng-init="navCollapsed = true" snap-toggle="left">
			<span class="sr-only" data-translate="header.toggleNavigation">Toggle Navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>

		<img class="th-checkout__brand--image" data-ng-src="{{ config.general.logoUrl }}" class="img-responsive" />

		<br style="clear: both;" />
	</div>

	<div class="th-checkout__nav">
		<button class="th-checkout__nav--button" data-snap-close data-translate="shopping-card.btnKeepShopping">Keep Shopping</span></button>
		<a class="th-checkout__nav--button"
				href="/login"
				data-translate="shopping-card.btnCheckout"
				data-ng-disabled="cartEmpty">
			Checkout
		</a>
	</div>

	<div class="th-checkout__scroll-area" data-vn-scroll-top>

		<div class="th-checkout__scroll-area--overlay"
			 data-ng-if="loading"
			 vn-busy-animation
			 vn-busy-animation-show="{{ loading }}"
			 vn-busy-animation-size="80px"
			 vn-busy-animation-class="th-checkout__scroll-area--overlay--loader"></div>

		<div class="th-checkout__subtotal" data-ng-if="!cartEmpty">
			<div>
				<div class="th-checkout__subtotal--label" data-translate="shopping-card.lblSubtotal">Subtotal</div>
				<div class="th-checkout__subtotal--price">{{ calcSubtotal | currency }}</div>
				<br style="clear: both;" />
			</div>

			<div class="th-checkout__subtotal__addlabel" data-ng-show="!coupon.show">
				<a href data-ng-click="toggleShowCoupon()" data-translate="shopping-card.lblAddCoupon">Add promo code</a>
			</div>
			<div class="th-checkout__subtotal__add" data-ng-show="coupon.show">
				<input class="form-control th-checkout__subtotal__add--coupon"
					   data-ng-model="coupon.code"
					   placeholder="{{ 'shopping-card.lblAddCoupon' | translate }}">
				<button class="btn btn-primary th-checkout__subtotal__add--button"
						data-translate="shopping-card.btnApply"
						data-ng-click="applyCoupon()">
					Apply
				</button>
			</div>

			<br style="clear: both;" />

		</div>

		<div class="th-alert-container">
			<div data-vn-app-message=""></div>
		</div>

		<div class="th-checkout__coupons" data-ng-if="!couponsEmpty">
			<div class="th-checkout__coupons--label">
				<label data-translate="shopping-card.lblCoupons">Discounts</label>
			</div>

			<div class="th-checkout__coupons__coupon"
				 data-ng-repeat="coupon in cart.discounts track by $index"
				 data-ng-class="{'-last': $last}">

				<div class="th-checkout__coupons__coupon--close" data-ng-if="coupon.couponCode !== ''">
					<button data-ng-click="deleteCoupon('{{coupon.id}}')"><span></span></button>
				</div>
				<div>
					<div class="th-checkout__coupons__coupon--name">
						<span>{{ coupon.name }}</span>
					</div>
				</div>

				<div class="th-checkout__coupons__coupon--value">
					<span>{{ coupon.value | vnCurrency }}</span>
				</div>
			</div>

			<br style="clear: both;" />
		</div>

		<div class="th-checkout__noitems--label"
			 data-translate="shopping-card.lblYourCartIsEmpty"
			 data-ng-if="cartEmpty">

			 Your cart is empty
		</div>

		<div class="th-checkout__items" data-ng-if="!cartEmpty">
			<div class="th-checkout__items--label">
				<label data-translate="shopping-card.lblYourCart">Your cart</label>
			</div>

			<div class="th-checkout__items--gift">
				<input type="checkbox" data-ng-model="showGiftOption" data-ng-change="resetGiftOptions()"><label data-translate="shopping-card.lblGift">This is a gift</label>
			</div>

			<div class="th-checkout__items__item" data-ng-repeat="item in cart.items | reverse" data-ng-class="{'-last' : $last}">
				<div class="th-checkout__items__item--close">
					<button data-ng-click="deleteItem({{ item.id }})"><span></span></button>
				</div>
				<div>
					<img class="th-checkout__items__item--image" data-ng-src="{{ item.imgUrl }}" />
					<div>
						<div class="th-checkout__items__item--name">
							<a data-ng-href="{{ item.productUrl }}" >{{ item.name }}</a>
						</div>
						<div class="th-checkout__items__item--price">{{ item.pricing.unitPrice | currency }}</div>
						<div class="th-checkout__items__item--option" data-ng-repeat="option in item.options">
							<span>{{ option.optionText }}</span>
						</div>
					</div>

					<br style="clear: both;" />
				</div>

				<div>
					<div class="th-checkout__items__item--qty">
						<!--<span class="dropdown" on-toggle="toggled(open)">-->
							<button class="btn btn-default dropdown-toggle"
									data-toggle="dropdown">

									{{ item.qty }}<span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li ng-repeat="choice in getArray(choices) track by $index">
									<a role="menuitem"
									   tabindex="-1"
									   href
									   data-ng-click="onOptionChanged(item, {{ $index+1 }})">

									   {{ $index+1 }}
									</a>
								</li>
							</ul>
						<!--</span>-->
					</div>
					<div class="th-checkout__items__item--subtotal">{{ item.pricing.subtotal | vnCurrency }}</div>
				</div>

				<br style="clear: both;" />

				<div class="th-checkout__items__item__gift animate-if" data-ng-if="showGiftOption && item.isGiftWrapAvailable">
					<div class="th-checkout__items__item__gift--option" data-ng-class="{'-visual-cue' : visualCue}">
						<input type="checkbox" data-ng-model="item.giftWrap.selected" data-ng-change="addGiftWrap()">
						<span data-translate="shopping-card.lblGiftOption">Add gift wrap for</span>&nbsp;{{ item.giftWrap.price | currency }}
					</div>

					<textarea class="th-checkout__items__item__gift--message animate-if"
						   	  maxlength="255"
						   	  data-vn-auto-grow
						   	  data-ng-trim="false"
						   	  data-ng-if="item.giftWrap.selected"
						   	  data-ng-model="item.giftWrap.message"
						      data-ng-blur="addGiftMsg()"
						      placeholder="{{ 'shopping-card.lblGiftMessage' | translate }}"></textarea>

					<div class="th-checkout__items__item__gift--message-count" data-ng-if="item.giftWrap.selected">
						<span>{{255 - item.giftWrap.message.length}}</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
