<div data-snap-drawer="right"
	 class="th-checkout"
	 data-ng-controller="ShoppingCardCtrl">

	<div class="th-checkout__nav">
		<button class="th-checkout__nav--button" data-snap-close>Keep Shopping</span></button>
		<button class="th-checkout__nav--button" data-ng-click="gotoCheckout()">Checkout</button>
	</div>

	<div class="th-checkout__subtotal">
		<div>
			<div class="th-checkout__subtotal--label">Subtotal:</div>
			<div class="th-checkout__subtotal--price">{{ cart.totals.items | currency }}</div>
			<br style="clear: both;" />
		</div>

		<div class="th-checkout__subtotal__addlabel">
			<a href data-ng-click="toggleShowCoupon()">Add coupon</a>
		</div>
		<div class="th-checkout__subtotal__add" data-ng-show="showCoupon">
			<input class="form-control th-checkout__subtotal__add--coupon">
			<button class="btn btn-primary th-checkout__subtotal__add--button">Apply</button>
		</div>

		<br style="clear: both;" />

	</div>

	<div class="th-checkout__items">
		<div>
			<div class="th-checkout__items--label">Your cart ({{ getCartItemsCount() }})</div>
		</div>
		<div class="th-checkout__items__item" data-ng-repeat="item in cart.items | reverse">
			<div >

			</div>
			<div>
				<img class="th-checkout__items__item--image" data-ng-src="{{ item.imgUrl }}" />
				<div>
					<div class="th-checkout__items__item--name">
						<a data-ng-href="{{ item.productUrl }}" >{{ item.name }}</a>
					</div>
					<div class="th-checkout__items__item--price">{{ item.pricing.unitPrice | currency }}</div>
					<div class="th-checkout__items__item--option" data-ng-repeat="option in item.options">
						<span>{{ option.optionText }}</span>
					</div>
				</div>

				<br style="clear: both;" />
			</div>

			<div>
				<div class="th-checkout__items__item--qty">
					<input class="form-control" value="{{ item.qty }}"/>
				</div>
				<div class="th-checkout__items__item--subtotal">{{ item.pricing.subtotal | currency }}</div>
			</div>

			<br style="clear: both;" />
		</div>
	</div>
</div>
