<a href="{{product.sharing.facebook}}" class="th-social__icon icon-th-social__icon--facebook" target="_blank"></a>
<a href="{{product.sharing.twitter}}" class="th-social__icon icon-th-social__icon--twitter" target="_blank"></a>
<a href="{{product.sharing.tumblr}}" class="th-social__icon icon-th-social__icon--tumblr" target="_blank"></a>
<a href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());" class="th-social__icon icon-th-social__icon--pinterest" target="_blank"></a>
<a href="{{product.sharing.googlePlus}}" class="th-social__icon icon-th-social__icon--google" target="_blank"></a>
