<ul class="nav navbar-nav th-mobile-list">
	<li class="th-mobile-list__item th-mobile-list__item--header">Categories</li>
	<li class="dropdown th-mobile-list__item" ng-repeat="category in categories">
		<a href="#" class="dropdown-toggle navbar-link th-dropdown-toggle th-mobile-list__link" ng-if="category.subCategories.length" data-toggle="dropdown">
			{{category.name}} <span class="pull-right caret"></span>
		</a>
		<a data-ng-href="{{category.url}}" class="navbar-link th-dropdown-toggle th-mobile-list__link" ng-if="!category.subCategories.length">
			{{category.name}}
		</a>
		<ul class="dropdown-menu th-mobile-list th-mobile-list--sub" data-ng-if="category.subCategories.length">
			<li>
				<a data-ng-href="{{category.url}}" class="th-mobile-list__link th-mobile-list__link--sub">
					All {{category.name}}
				</a>
			</li>
			<li data-ng-repeat="subCategory in category.subCategories">
				<a class="th-mobile-list__link th-mobile-list__link--sub"
				   data-ng-href="{{subCategory.url}}">{{subCategory.name}}</a>
			</li>
		</ul>
	</li>
</ul>
