//@import "bootstrap/buttons";

.btn {

    &.th-load-more {
        padding-top    : 12px;
        width          : 70%;
        display        : block;
        text-align     : center;
        padding-bottom : 12px;
        margin         : 10px auto 0;
    }

    &:hover {
        @extend %animate-all-default;
        @extend %opacity-80;
    }

    &.btn-grey-sm {
        background     : map-get($colors, component-bg--darker);
        color          : map-get($colors, btnDefaultColor);
        font-family    : $font-family-sans-serif;
        border         : 0;
        text-transform : none;
    }
}

// Add to Cart - Product Details
.th-product-details {
    .th-add-to-cart {
        padding : 4px 15px;
    }
}

// Write a review
.th-write-review {
    padding : 10px 0;

    a {
        font-size       : 1.4rem;
        padding         : 5px 0;
        display         : block;
        text-decoration : underline;

        &:hover {
            text-decoration : none;
        }
    }
}

// Add to Favorites
.th-add-favorite {

    img {
        margin-right : 5px;
    }

    a {
        color     : map-get($colors, link--light);
        font-size : 1.4rem;

        &:hover {
            color : map-get($colors, link-hover--dark);
        }
    }
}
