.th-product {
	position       : relative;
	text-align     : center;
	padding-top    : 15px;
	padding-bottom : 25px;

	&__availability {
		font-size   : 1.8rem;
		line-height : 1.5;
		color       : $brand-danger;
	  	font-family : "Roboto Condensed";
		text-align: center;

		@include respond-to(sm-and-up) {
			text-align : left;
		}
	}

	&__image {
		position : relative;
		padding  : 7px 0;

	  	&--sold-out {
		  opacity: 0.5;
		}

		.img-responsive {
			margin  : 0 auto;
			display : block;
			@extend %animate-all-default;
		}
	}

	&__name {
		font-family    : $font-family-condensed;
	  	font-weight    : 400;
		text-transform : uppercase;
		font-size      : 1.4rem;
		line-height    : 1.22em;
		text-align     : center;
		line-height    : 1.5;

		a:hover {
			@extend %animate-all-default;
		}
	}

	&__new,
	&__sale {
		position : absolute;
		top      : 15px;
		right    : 15px;
		z-index  : 1;
	}

	&__price,
	&__price--large {
		margin         : 0 auto;
		line-height    : 1.5;
		font-family    : $font-family-condensed;
	  	font-weight    : 400;
		text-transform : uppercase;
		color          : $text-color;

	  &--sold-out {
		color: lighten($text-color, 50%);
	  }


	  .th-price {
			@include inline-block;
			margin-right : 1px;
			font-size    : 1.6rem;
			padding      : 0 4px 0 0;
			font-weight  : 500;

			&--reg {
				@include inline-block;
				white-space : nowrap;
			}

			&--now {
				color        : $brand-info;
				border-left  : 1px solid $hr-border;
				padding-left : 6px;
				padding-bottom: 6px;
				margin-left  : 3px;
				white-space  : nowrap;
			}
		}

		.th-price-text {
			@include inline-block;
			font-size   : 1.2rem;
			font-weight : normal;
		}

		.strike {
			text-decoration : line-through;
		}
	}

	&__price--large {
		line-height : 30px;
		padding     : 12px 0 15px;
		text-align  : center;

		@include respond-to(sm-and-up) {
			text-align : left;
		}

		.th-price {
			font-size : 2.6rem;

			@include respond-to(lg) {
				font-size: 3.0rem;
			}
		}

		.th-now-price {
			padding-left : 13px;
			margin-left  : 13px;
		}

		.th-price-text {
			font-size : 1.4rem;
		}
	}

}

.th-related-wrap {
	clear  : both;
	margin : 0 0 20px;

	.th-product {
		padding-top    : 10px;
		padding-bottom : 10px;
	}

	.th-product__image {
		float         : left;
		padding-right : 15px;

		img {
			max-width : 90px;
		}
	}

	.th-product__name,
	.th-product__price {
		text-align : left;
	}

	.th-product__name {
		margin-top : 12px;
	}
}

@include respond-to(sm) {
	.th-related-wrap {
		.th-product {
			&__name {
				height : auto;
			}
			&__price {
				line-height : 18px;
			}
		}

		.th-price--now {
			border-left  : 0;
			padding-left : 0;
			margin-left  : 0;

			&:before {
				content     : '\A';
				white-space : pre;
			}
		}
	}
}

@include respond-to(sm-and-up) {
	.th-related-wrap {
		margin : 20px 0 0;

		.th-product {
			padding-top    : 15px;
			padding-bottom : 25px;
		}

		.th-product__image {
			float         : none;
			padding-right : 0;

			img {
				max-width : 100%;
			}
		}

		.th-product__name,
		.th-product__price {
			text-align : center;
		}

		.th-product__name {
			margin-top : 0;
		}
	}
}

.th-product__container {
	@include respond-to(sm) {
		> .col-sm-6:nth-of-type(2n+3) {
			clear : both;
		}
	}

	@include respond-to(md) {
		> .col-md-4:nth-of-type(3n+4) {
			clear : both;
		}
	}

	@include respond-to(lg) {
		> .col-lg-3:nth-of-type(4n+5) {
			clear : both;
		}
	}

}








