.th-product-details {
	a:hover {
		@extend %animate-all-default;
	}

	&__add-to-cart {
		@extend %font-smoothing;
		padding : 4px 15px;

		&--loader {
			height         : 20px;
			text-align     : center;
			margin         : 0 auto;
			display        : inline-block;
			vertical-align : top;
			margin-top     : -8px;
		}

		/*
		  Set the color of the icon
		*/
		svg path,
		svg rect {
			fill : #FFFFFF;
		}
	}

	&__availability {
		background-color : cornsilk;
		padding          : 7px 15px;
	}

	&__options {
		margin-top : 15px;
		padding    : 10px;
		text-align : center;
	}

	&__title {
		font-family    : $font-family-condensed;
	  	font-weight    : 400;
		font-size      : 3.0rem;
		text-align     : center;
		text-transform : uppercase;

		@include respond-to(xs) {
			line-height : 30px;
		}

		@include respond-to(sm) {
			font-size   : 3.1rem;
			line-height : normal;
			padding     : 30px 0;
		}

		@include respond-to(md-and-up) {
			font-size   : 3.1rem;
			line-height : 34px;
			text-align  : left;
		}
	}
}
