.th-reviews {
	font-size  : 1.3rem;
	margin-top : 15px;
	border: 1px solid #EDEDED;
	padding: 20px 10px;

	ul.rating i { color : goldenrod }

	a {
		color  : lighten($text-color, 55);
		margin : 0 4px;
	}

	&__heading {
		font-family    : $font-family-condensed-reg;
		font-size      : 1.8rem;
		overflow       : hidden;
		margin-bottom  : 10px;
		text-transform : uppercase;
	}

  &__show-rating-bar{
	text-align: center;
	padding: 5px 0;
	text-decoration: underline;
  }

  &__divider{
	border-color: #EDEDED;
	margin: 30px 0;
  }

  @media (max-width: $screen-sm){
	padding-left: 0;
	padding-right: 0;

	&__rating-button{
		text-align: center;

	  .th-rating-button{
		float: none;
	  }
	}
  }
}

.th-write-review {
	padding : 10px 0;

	a {
		display         : block;
		font-size       : 1.4rem;
		padding         : 5px 0;
		text-decoration : underline;

		&:hover {
			text-decoration : none;
		}
	}
}


.th-product-rating{
  font-size: 14px;

  &__stars{
	display: inline-block;
  }
  &__count{
	display: inline-block;
	margin: 0 3px;
  }

  @media (max-width: $screen-sm){
	text-align: center;
	margin: 0 0 10px 0;
	font-size: 16px;
  }
}

.vn-rating{

  .star{
	color: goldenrod;

	&--empty{

	}
	&--filled{

	}
	&--half-filled{

	}
  }
  &-title{
	margin: 0px;
  }
}

.th-rating-bar {
  &__line {
	padding: 3px;
	&__stars {
	  padding-right: 0px;
	  text-align: right;
	}
	&__bar {
	  height: 10px;
	  &-bg {
		background-color: #ddd;
		height: 10px;
	  }
	  &-inner {
		height: 10px;
		font: 10px sans-serif;
		background-color: black;
		text-align: right;
		color: white;
	  }
	}
	&__count{
	  padding-left: 0px;
	  text-align: left;
	}
  }
  @media (max-width: $screen-sm){
	&__line {

	  &__stars {
		font-size: 10px;
	  }
	  &__bar {
		padding: 0 5px;
	  }
	  &__count{
		font-size: 10px;
	  }
	}
  }
}

.th-rating-summary {
  padding-top: 10px;
  margin: 5px;
  width: 100%;
  text-align: center;
  &__rating {
	font-size: 2.4rem;
  }

  &__stars {
	margin: 8px 0 5px 0;
	font-size: 18px;
  }

  &__average {
	font-size: 1.2rem;
	strong {
	  font-family: roboto-bold, Helvetica, Arial, sans-serif;
	}
  }
}

.th-rating-button {
  	margin-top: 20px;
  	text-align: center;
  	float: right;
	background-color: black;
  	color: white;
}


.th-review-list{
  line-height: 1.3;

  &__sort{
  	text-align: center;

	.btn-group{

	  	.btn{
		  font-size: 12px;
		}
	}
  }

  &__item{
	margin: 30px 0px;

	&__stars{

	  @media (max-width: $screen-sm){

		.th-product-rating__stars{
		  display: block;
		  text-align: center;
		  font-size: 18px;
		  margin: 5px 0;
		}
		.th-review-list__item__title{
		  display: block;
		}
	  }
	}
	&__title{
	  font-family: roboto-bold, Helvetica, Arial, sans-serif;
	  font-size: 14px;

	  @media (min-width: $screen-sm) {
		margin-left: 10px;
	  }
	}
	&__note{
	  color: #555;
	  margin-bottom: 10px;
	}
	&__reviewer{

	}
	&__date{
	  text-align: right;
	}
	&__found-helpful{
	  @media (max-width: $screen-sm) {
		display: block;
		text-align: center;
		margin: 10px 0;
	  }
	}
	&__helpful{
	  text-align: right;

	  @media (min-width: $screen-sm) {
		margin-top: 10px;
	  }
	}
	&__helpful-buttons{

	  .btn-group{

		.btn{
		  font-size: 1.3rem;
		  text-transform: none;
		}
	  }

	  @media (max-width: $screen-sm) {
		display: block;
		text-align: center;
	  }
	  @media (min-width: $screen-sm) {
		margin-left: 20px;
	  }
	}
  }
}
