.th-cart-summary {
	position    : relative;
	white-space : nowrap;
	top         : 8px;
	right       : 0;

	@include respond-to(sm) {
		top: 23px;
	}

	@include respond-to(md-and-up) {
		right    : 13px;
		top      : 29px;
	}
}

.th-my-cart {
	@include inline-block;
	padding     : 6px 0;
	margin-left : 10px;

	&__number {
		color : $brand-info;

		&:before {
			content : "(";
		}

		&:after {
			content : ")";
		}
	}

	&__text {
		color: $navbar-default-link-color;

		&:hover {
			color: $link-hover-color;
		}
	}
}
