.th-elist {
	border-bottom : 1px solid $hr-border;
	padding       : 12px 0;

	&__form {
		@include inline-block;
		white-space : nowrap;
	}

	&__group {
		@include inline-block;
		margin : 0;
	}

	&__input {
		@include inline-block;
		border-color : $hr-border;
		height       : 31px;
		margin       : 0;
		min-width    : 162px;

		&:focus {
			border-color : darken($hr-border, 40);
		}
	}

	&__submit {
		@extend %font-smoothing;
		@include inline-block;
		background : $btn-primary-bg;
		border     : 0;
		color      : lighten($text-color, 100);
		font-size  : 1.5rem;
		padding    : 5px 10px;

		&:hover {
			background : $btn-primary-bg;
			color      : lighten($text-color, 100);
		}
	}

	&__title {
		@include inline-block;
		font-family    : $font-family-condensed-reg;
		font-size      : 1.4rem;
		font-weight    : normal;
		margin-right   : 13px;
		text-transform : uppercase;
	}
}

@include respond-to(lg) {
	.th-elist {
		border-bottom : 0;
		padding       : 0 0 25px 35px;

		&__form {
			display    : block;
			margin-top : 5px;
		}

		&__input {
			border-color : lighten($hr-border, 50);
			min-width    : 175px;
		}

		&__text {
			padding : 3px 0;
		}

		&__title {
			display     : block;
			font-family : $font-family-condensed-bold;
			margin      : 10px 0 0;
		}
	}
}
