.th-elist {
	border-bottom : 1px solid $navbar-default-border;
	padding       : 12px 0;

	&__form {
		@include inline-block;
		white-space : nowrap;
	}

	&__title {
		@include inline-block;
		margin         : 0;
		font-weight    : normal;
		margin-right   : 13px;
		display        : none;
		font-size      : 1.4rem;
		text-transform : uppercase;
		font-family    : $font-family-condensed-reg;
	}

	&__group {
		@include inline-block;
		margin : 0;
	}

	&__input {
		@include inline-block;
		border-color : $navbar-default-border;
		width        : 100%;
		height       : 32px;
		margin       : 0;

		&:focus {
			border-color : darken($navbar-default-border, 40);
		}
	}

	&__submit {
		@include inline-block;
		font-size  : 1.5rem;
		padding    : 5px 10px;
		color      : lighten($text-color, 100);
		background : $btn-primary-bg;
		border     : 0;

		&:hover {
			background : $btn-primary-bg;
			color      : lighten($text-color, 100);
		}
	}
}

@include respond-to(lg) {
	.th-elist {
		border-bottom : 0;
		padding       : 0 0 25px 35px;

		&__form {
			display    : block;
			margin-top : 5px;
		}

		&__title {
			display     : block;
			margin      : 10px 0 0 0;
			font-weight : bold;
		}

		&__input {
			height       : 33px;
			min-width    : 220px;
			border-color : lighten($navbar-default-border, 50);
		}
	}
}




