.th-footer {
	background-color : $body-bg;
	border-top       : 1px solid $hr-border;
	line-height      : 2em;
	margin-top       : 20px;
	text-align       : center;

	&__bottom {
		padding : 1.5em 0;
	}

	&__contact {
		list-style : none;
		margin     : 0;
		padding    : 0 0 10px;

		@include respond-to(md-and-up) {
			float : right;
			padding-bottom: 0;
		}

		li {
			@include inline-block;
			border-left  : 1px solid $hr-border;
			line-height  : 13px;
			margin-right : 9px;
			padding-left : 10px;

			&:first-child {
				border : 0;
			}
		}
	}

	&__copyright {
		@include respond-to(md-and-up) {
			text-align : left;
		}
	}

	&__title {
		font-family    : $font-family-condensed-bold;
		font-size      : 1.4rem;
		margin-top     : 10px;
		text-transform : uppercase;
	}
}

@include respond-to(lg) {
	.th-footer {
		background-color : darken($body-bg, 6);
		border-top       : 0;
		min-height       : 310px;
		text-align       : left;

		&__more-info {
			margin-top : 35px;
		}

		&__site-links {
			border-right : 1px solid $hr-border;
			margin-top   : 25px;
			overflow     : hidden;
		}

		&__title {
			display : block;
		}

		&__top {
			border-bottom  : 1px solid $hr-border;
			padding-bottom : 25px;

			ul.nav {
				margin : 0 0 35px;

				> li > a {
					padding : 0;
				}
			}
		}
	}

	.th-info-box {
		padding-left : 35px;
	}
}
