.th-footer {
	text-align       : center;
	background-color : #fff;
	line-height      : 2em;
	border-top       : 1px solid $navbar-default-border;

	a:hover {
		@extend %animate-all-default;
	}

	&__title {
		font-size      : 1.4rem;
		margin-top     : 10px;
		text-transform : uppercase;
		font-weight    : bold;
		font-family    : $font-family-condensed-reg;
	}

	&__bottom {
		padding : 1.5em 0;
	}

	&__copyright {
		margin-right : 15px;
	}

	&__contact {
		list-style : none;
		padding    : 0;
		margin     : 0;

		li {
			@include inline-block;
			border-left  : 1px solid $navbar-default-border;
			line-height  : 13px;
			padding-left : 10px;
			margin-right : 9px;

			&:first-child {
				border : 0;
			}
		}
	}
}

.th-back-top {
	span {
		font-size      : 1.2rem;
		font-weight    : normal;
		vertical-align : text-top;
	}
}

@include respond-to(lg) {

	.th-footer {
		min-height       : 422px;
		border-top       : 0;
		text-align       : left;
		background-color : darken($body-bg, 6);

		&__title {
			display : block;
		}

		&__top {
			padding-bottom : 25px;
			border-bottom  : 1px solid $navbar-default-border;

			ul.nav {
				margin : 0 0 35px;

				> li > a {
					padding : 0;
				}
			}
		}

		&__site-links {
			border-right : 1px solid $navbar-default-border;
			margin-top   : 25px;
			overflow     : hidden;
		}

		&__more-info {
			margin-top : 35px;
		}

		&__contact {
			float      : left;
			list-style : none;
			padding    : 0;
			margin     : 0;

			li {
				@include inline-block;
				border-left  : 1px solid $navbar-default-border;
				line-height  : 13px;
				padding-left : 10px;
				margin-right : 9px;

				&:first-child {
					border : 0;
				}
			}
		}

		&__copyright {
			float        : left;
			margin-right : 15px;
		}
	}

	.th-info-box {
		padding-left : 35px;
	}

	.th-back-top {
		span {
			font-size      : 1.2rem;
			font-weight    : normal;
			vertical-align : text-top;
		}
	}
}
