.th-header {
	border-bottom : 1px solid lighten($navbar-default-border, 10);

	a {
		color : $navbar-default-link-color;

		&:hover {
			@extend %animate-all-default;
			color : $navbar-default-link-hover-color;
		}
	}

	&__account-menu {
		padding : 10px 15px;
	}

	&__shipping-text {
		padding        : 10px 15px;
		text-transform : uppercase;
	}
}
