.th-list {
  margin     : 10px 0px 10px 0px;
  padding    : 0;
  background : #fafafa; /* was $gray-lighter */
  border     : 1px solid #ebebeb;
  box-shadow : rgba(0, 0, 0, 0.14902) 0px 1px 1px 0px, rgba(0, 0, 0, 0.09804) 0px 1px 2px 0px;

  &__item {
	position : relative;

	[vn-address-display]{
	  cursor: default;
	}

	&__editBtn {
	  position  : absolute;
	  top       : 50%;
	  transform : translateY(-50%);
	  right     : 20px;
	}

	&:last-child{

		.styled-optionbox-option{
			border-bottom: 0px;
		}
	}
  }

  &__header {

	&__item{
	  padding       : 20px;
	  border-bottom : 1px solid #ddd;
	  display: block;
	}

  }

  .styled-optionbox-option {
	width : 100%;
  }


}
