/* TODO determine if this stylesheet is being used,
 if so then refactor visibility with Bootstrap classes */

.th-mega-menu {
	display : none;
}

/* Small devices (tablets, 768px and up) */
@include respond-to(sm-and-up) {

	.th-mega-menu {
		display : none;
	}
}

/* Medium devices (desktops, 992px and up) */
@include respond-to(md-and-up) {
	.th-mega-menu {
		.navbar-nav {
			margin : 0px -5px;
		}

		.navbar-nav > li > a {
			padding-top    : 13px;
			padding-bottom : 13px;
		}

		.th-dropdown-toggle {
			background : image-url("theme/dropdown-arrow.png") no-repeat center right;
		}

		.navbar-default .navbar-nav > li {
			border-top : 1px solid lighten($navbar-default-border, 10);
		}

		.navbar-default .navbar-nav > li > a {
			text-transform : uppercase;
			font-family    : $font-family-condensed-reg;
		}
	}
	/* MEGA MENU STYLE
	********************************/
	.dropdown.active-mega-tab a.dropdown-toggle {
		position : relative !important;
		z-index  : 9999;
	}

	.dropdown.active-mega-tab a.dropdown-toggle:after {
		content     : image-url("theme/menu-arrow.png");
		bottom      : -42px;
		position    : absolute;
		left        : 50%;
		margin-left : -4px;
	}

	.th-mega-menu {
		padding       : 10px 0px !important;
		width         : 1140px;
		margin-right  : auto;
		margin-left   : auto;
		border-radius : 0;
		margin-top    : 0px;
		left          : 15px !important;
	}

	.th-mega-menu li {
		@include inline-block;
		float     : left;
		font-size : 1.2rem;
		padding   : 3px 0px;
	}

	.th-mega-menu li.th-mega-menu-column > ul {
		margin : 15px 0 25px;
	}

	.th-mega-menu li.th-mega-menu-column > ul > li {
		float         : none;
		display       : block;
		margin-bottom : 3px;
	}

	.th-mega-menu li.th-mega-menu-column li.th-nav-header {
		padding        : 0 0 10px 0 !important;
		margin-bottom  : 9px;
		font-size      : 1.4rem;
		display        : block;
		text-transform : uppercase;
		font-family    : $font-family-condensed-reg;
		border-bottom  : 1px solid $navbar-default-border;
	}

	.th-mega-menu img {
		padding-bottom : 10px;
	}

	.th-mega-menu .th-navbar-header {
		position : relative;
	}

	.th-navbar .navbar-nav > li.th-mega-drop {
		position : static !important;
	}

	.th-menu-img {
		margin-left   : 40px;
		margin-top    : 15px;
		padding-right : 15px;
	}
	/* Disable Toggle style
	********************************/
	/* Dropdown Toggle on style */
	.th-navbar .nav li.dropdown.open > .dropdown-toggle,
	.th-navbar .nav li.dropdown.active > .dropdown-toggle,
	.th-navbar .nav li.dropdown.open.active > .dropdown-toggle {
		background : inherit; /* Set to inherit when using mouse hover to open dropdown */
		color      : inherit;
	  }
	/* Toggle off style */
	.th-navbar .nav li.dropdown.open.active > .dropdown-toggle,
	.th-navbar .nav > li.dropdown > a:focus {
		background : inherit;
		color      : inherit;
	}
	/* Toggle hover */
	.th-navbar .nav li.dropdown > .dropdown-toggle:hover,
	.th-navbar .nav li.dropdown.open > .dropdown-toggle:hover {
		background-color : $body-bg;
	}
	/* Toggle caret*/
	.th-navbar .nav li.dropdown > .dropdown-toggle .caret {
	}
	/* Toggle caret hover */
	.th-navbar .nav li.dropdown > a:hover .caret,
	.th-navbar .nav li.dropdown > a:focus .caret {
		border-bottom-color : $navbar-default-border;
		border-top-color    : $navbar-default-border;
	}
	/* Toggle caret active */
	.th-navbar .nav li.dropdown.open > .dropdown-toggle .caret,
	.th-navbar .nav li.dropdown.active > .dropdown-toggle .caret,
	.th-navbar .nav li.dropdown.open.active > .dropdown-toggle .caret {
		border-bottom-color : $navbar-default-border;
		border-top-color    : $navbar-default-border;
	}
	/* Hover style
	********************************/
	.th-navbar .nav > li > a, .th-mega-menu a {
		-webkit-transition          : all 200ms ease;
		-moz-transition             : all 200ms ease;
		-ms-transition              : all 200ms ease;
		-o-transition               : all 200ms ease;
		transition                  : all 200ms ease;

		-webkit-backface-visibility : hidden; /* Safari Flicker Fix #2 */
		-webkit-transform           : translateZ(0);
	  }

	  .th-mega-menu {
		width : 940px;
	  }
	}

/* Large devices (large desktops, 1200px and up) */
@include respond-to(lg) {

	.th-mega-menu {
		width : 1140px;
	}
}
