.snap-content {
	background-color: $body-bg; //required to set a background color, otherwise the snap menu will show through content pages
}

//Reverses snap styles, so that we can use window.scrollTo
html, body{
	overflow: auto;
}
.snap-content{
	overflow: initial;
}
//Restores snap styles when the side panels are open
.snapjs-left,
.cart-active{
	overflow: hidden;

	.snap-content{
		overflow: auto;
	}

	.th-mobile-menu{
		visibility: visible;
	}
}

.th-mobile-menu {
	background-color : $body-bg;
	border-right     : 1px solid $hr-border;
	visibility       : hidden;

	&__list {
		padding : 20px 15px 0;

		&--footer {
			&:last-child { padding-bottom: 20px }

			li > a { padding-bottom: 2px }
		}
	}
}

.th-mobile-list {
	list-style : none;
	margin     : 0 0 10px;
	padding    : 0;
	width      : 100%;

	> li{
		float : none;

		> a{
			display      : block;
			padding-left : 0;
		}
	}

	&__item {
		&--header {
			font-family    : $font-family-condensed-bold;
			font-size      : 1.4rem;
			letter-spacing : 1px;
			margin-bottom  : 15px;
			text-transform : uppercase;
		}
	}

	&__link {
		border-bottom  : 1px solid $hr-border;
		display        : inline-block;
		font-size      : 1.4rem;
		line-height    : 17px;
		padding        : 10px 10px 10px 0;
		position       : relative;
		text-transform : uppercase;

		&--sub {
			background-color:#efefef;
		}
	}
}
