.th-modal{
	
	&__button{

		&--primary{
			font-size: 12px !important;
		}
		&--secondary{
			font-size: 14px;
			margin-right: 20px;
		}
	}

	&__message{
		font-size: 14px;
		margin-bottom: 5px;
	}

	.styled-optionbox-option{
		border-bottom: 0px;
	}

	.modal-header{
		padding: 0px;
	}
	.modal-body{
		padding: 25px 25px 10px 25px;
	}
}