.th-navbar {
	min-height : 44px;

	.th-menu-container {
		min-height : 44px;
		position   : relative;
	}

	.navbar-toggle {
		border       : 0;
		float        : left;
		margin-right : 0;
		padding      : 8px 10px;

		.icon-bar {
			height : 4px;
		}
	}

	&__logo {
		height: 45px;
		max-width: 100%;
		position: relative;

		@include respond-to(sm)        { height: 74px }
		@include respond-to(md-and-up) { height: 92px }

		img {
			@extend %position-absolute-center;
			max-height: 100%;
			max-width: 100%;

			@include respond-to(xs) { padding: 3px }
		}
	}
}


@include respond-to(sm-and-up) {
	.th-navbar {
		.th-menu-container {
			min-height : 74px;
		}

		.navbar-toggle {
			margin  : 19px 10px;
			display : block;
		}

		.navbar-nav {
			> li {
				> a {
					display  : inline-block;
					padding  : 10px 15px;
					position : relative;
				}

				> span {
					> a {
						padding : 2px 7px 5px 13px;
					}
				}
			}
		}
	}
}

@include respond-to(md-and-up) {
	.th-navbar {
		.th-menu-container {
			min-height : 92px;
		}

		.th-main {
			float : left;
		}

		.navbar-toggle {
			float        : right;
			margin-right : 15px;
			margin-left  : 0;
		}

		.navbar-nav {
			margin-left : 14px;

			> li {
				padding-top : 36px;
				position    : relative;

				&:first-child {
					> a {
						border : 0;
					}
				}

				> span {
					> a {
						padding : 2px 13px 5px 0px;

						> span.caret {
							margin-top : -4px;
						}
					}
				}

				> a {
					border-left    : 1px solid $navbar-default-border;
					display        : inline-block;
					font-family    : $font-family-condensed-reg;
					font-size      : 1.6rem;
					padding-left   : 0.9em;
					padding-right  : 0.9em;
					padding-top    : 0;
					padding-bottom : 0;
					text-transform : uppercase;
				}
			}
		}
	}
}

@include respond-to(lg) {

	.th-navbar {
		.navbar-nav {
			> li {
				> a {
					padding-left : 0.7em;
				}
			}
		}

		.navbar-toggle {
			display: none;
		}
	}
}
