/* */
/*! POPOVER
/*!---------------------------------------------------*/
.input-help {
	display          : none;
	position         : absolute;
	z-index          : 999;
	width            : 240px;
	padding          : 10px;
	background-color : $popover-bg;
	border           : 1px solid $popover-border-color;

	border-radius    : $border-radius-base;
	@include box-shadow(lighten($gray-lighter, 10%) 0 0 2px 2px);

	ul {
		margin  : 5px;
		padding : 0;

		li {
			font-size : $font-size-small;
		}
	}

	.arrow,
	.arrow:after {
		position     : absolute;
		display      : block;
		width        : 0 !important;
		height       : 0 !important;
		border-color : transparent;
		border-style : solid;
	}

	.arrow {
		border-width : $popover-arrow-outer-width;
	}

	.arrow:after {
		border-width : $popover-arrow-width;
		content      : "";
	}

	&.top {
		bottom : 60px;
		right  : 5px;

		.arrow {
			right               : 20px;
			border-bottom-width : 0;
			border-top-color    : #999999;
			// IE8 fallback
			border-top-color    : $popover-arrow-outer-color;
			bottom              : -$popover-arrow-outer-width;

			&:after {
				bottom              : 1px;
				margin-left         : -$popover-arrow-width;
				border-bottom-width : 0;
				border-top-color    : $popover-arrow-color;
			}
		}
	}

	&.top-left {
		bottom : 60px;
		left   : 5px;

		&.-dropdown {
			bottom : 42px;
			left   : 0;
		}

		.arrow {
			left                : 20px;
			border-bottom-width : 0;
			border-top-color    : #999999;
			// IE8 fallback
			border-top-color    : $popover-arrow-outer-color;
			bottom              : -$popover-arrow-outer-width;

			&:after {
				bottom              : 1px;
				margin-left         : -$popover-arrow-width;
				border-bottom-width : 0;
				border-top-color    : $popover-arrow-color;
			}
		}
	}

	/* */
	/*&.right {
	    bottom: 50px;
	    right: 0px;

	    .arrow {
	        //top: 50%;
	        top: 17px;
	        left: -$popover-arrow-outer-width;
	        margin-top: -$popover-arrow-outer-width;
	        border-left-width: 0;
	        border-right-color: #999;
	        // IE8 fallback
	        border-right-color: $popover-arrow-outer-color;
	        &:after {
	            left: 1px;
	            bottom: -$popover-arrow-width;
	            border-left-width: 0;
	            border-right-color: $popover-arrow-color;
	        }
	    }
	}*/
	&.bottom {
		top : 42px;

		.arrow {
			left                : 20px;
			//margin-left: -$popover-arrow-outer-width;
			border-top-width    : 0;
			border-bottom-color : #999999;
			// IE8 fallback
			border-bottom-color : $popover-arrow-outer-color;
			top                 : -$popover-arrow-outer-width;
			&:after {
				top                 : 1px;
				margin-left         : -$popover-arrow-width;
				border-top-width    : 0;
				border-bottom-color : $popover-arrow-color;
			}
		}
	}

	&.bottom-right {
		top   : 42px;
		right : 5px;

		.arrow {
			right               : 20px;
			//margin-left: -$popover-arrow-outer-width;
			border-top-width    : 0;
			border-bottom-color : #999999;
			// IE8 fallback
			border-bottom-color : $popover-arrow-outer-color;
			top                 : -$popover-arrow-outer-width;
			&:after {
				top                 : 1px;
				margin-left         : -$popover-arrow-width;
				border-top-width    : 0;
				border-bottom-color : $popover-arrow-color;
			}
		}
	}

	/* */
	/*&.left {
	    bottom: 50px;
	    right: 0px;

	    .arrow {
	        top: 50%;
	        right: -$popover-arrow-outer-width;
	        margin-top: -$popover-arrow-outer-width;
	        border-right-width: 0;
	        border-left-color: #999;
	        // IE8 fallback
	        border-left-color: $popover-arrow-outer-color;
	        &:after {
	            right: 1px;
	            border-right-width: 0;
	            border-left-color: $popover-arrow-color;
	            bottom: -$popover-arrow-width;
	        }
	    }
	}*/
}

.input-help h4 {
	margin      : 0;
	padding     : 0;
	font-family : $font-family-sans-serif;
	font-weight : bold;
	font-size   : $font-size-small;
	text-align  : left;
}

/* Always hide the input help when it's pristine */
input.ng-pristine + .input-help {
	display : none !important;
}

/* Hide the invalid box while the input has focus */
/*.ng-invalid:focus + .input-help {
  display: none;
}*/
/* */
/* Show a blue border while an input has focus, make sure it overrides everything else */
/* Overriding Twitter Bootstrap cuz I don't agree we need to alarm the user while they're typing */
/*input:focus {
  color: black !important;
  border-color: rgba(82, 168, 236, 0.8) !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6) !important;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6) !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6) !important;
}*/

/* Show green border when stuff has been typed in, and its valid */
.ng-dirty.ng-valid {
	/*border-color:#3a7d34;*/
}

/* Show red border when stuff has been typed in, but its invalid */
.ng-dirty.ng-invalid {
	border-color : #EC3F41;
}

/* Show the help box once it has focus */
.immediate-help:focus + .input-help {
	display : block;
}

.immediate-help.ng-valid:focus + .input-help {
	display : none;
}

/* Immediate help should be red when pristine */
.immediate-help.ng-pristine:focus + .input-help {
	/*border-color:#ec3f41;*/
}

.immediate-help.ng-pristine:focus + .input-help::before {
	/*color:#ec3f41;*/
}

/* Help hould be green when input is valid */
.ng-valid + .input-help {
	/*border-color:#3a7d34;*/
}

.ng-valid + .input-help::before {
	/*color:#3a7d34;*/
}

/* Help should show and be red when invalid */
.ng-invalid + .input-help {
	/*border-color: #ec3f41;*/

	/*Change following row block for debugging input-help element*/
	display: none;
}

.ng-invalid + .input-help::before {
	/*color: #ec3f41;*/
}

/* Style input help requirement bullets */
.input-help ul {
	list-style : none;
	margin     : 10px 0 0 0;
}

/* Default each bullet to be invalid with a red cross and text */
.input-help li {
	padding-left : 22px;
	line-height  : 24px;
	color        : #EC3F41;
	background   : url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAA1CAYAAABIkmvkAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAAJwAAACcBKgmRTwAAABZ0RVh0Q3JlYXRpb24gVGltZQAxMC8wOS8xMlhq+BkAAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzVxteM2AAAEA0lEQVRIie2WW2jbVRzHv//zT5rkn0ub61zaNdEiPqTC9EFRhtgJk63qg3Wr0806pswNiYgDUXxwyryCEB8UBevtaSCCDHQoboKyoVvVzfRmL2napU0mrdbl8s//dy4+dM1M28n64FsPnIdz+XzO75zfOXA0pRRWU7o/uS9FxOc+3/vlIQBgq4F3fHxvKuIPJ9cFwi9uTXU8BwDa1Uaw/aN7UusCkWRbPI5yxcTI2Bgy49kXrkrwwIedqYg/nGyLXwsJiYHBYWTGs7Cq5Kpt4cA3PXft+2rX40vhrt7OVLgplIzHYuBKoH9gCKMjGVE1LdfJl86YDAAOfN2ziZP4NODyv9/z2fanFuH7P9iWCjcFk/FYK4QSGLgEk0WeUy/3mQCgPXFs9xbBRW883NrssDvQN3hWcOLPEPGWiD94MBaPQymBoaERjI9mBSfu+fHwL+biItpjR3e6JFfloDeAaGQ9SpUycvlp6ExHJBKGYsDvgyMYH81KTsL90yuX4VoWdh3pMqSQpWBjAC3RZkgpYEkCFDA8NIqJ0UlFxI3Tr/5aB9elsau305BcloKBAFpjLeBSYGRwDBNjk4oTN06/dnYZXCcAgK1vbzYkl6VwOATihOzYlOLEjTOvn1sRXiYAgDsP32YIKUuWaXFOwtP3xrnqleAVBQBwy/M3GZy4+PnN3/4TvqJgNWVVj2lNsCZYE6wJ1gRrgv9dYAMAHHw2Bl2fUEpBVavtLPVW/78nVR/Zk4CupzVHA6zChSOK0yHv0S8GFyK4BMPhAJxOgLE03/9kYhE2dz+agKaldY8bDaEQ7D5ft7Roy+UIlCooy5LQdaZ5vVBEgGmmrT172yVxaIylmdcDm9cHc2oK1Zm8kETvLAo0pRRk8mmnEqKouVw68zVCzP8F/uccFHHoXi/sjT6Y53Mw83mhOHn8J7416wQAwPftd0ouiswwdJu/CRASkBKQAmYuBzNfWIC/O173W6llwfbeu6Yi8tDsrAQJYGICyGQAIWDO5KUkaxlcJwAASdSmaWAQHCACOAc4h6YzJi1qWymNNUHlwYcT0JDWXQbACYhGgeh6gHM4Ghuh2/R0YePNiaUCTSmFcvdDCY1paZvhht3nQ2VmGmahICSR5vQHmDt6DcozeZSnp2FdLLZHhwdq94SVd+xMaJqWtrkM2L1uVHILpy0t8igidymXExfHMzBCQbhCIdga7Onz8etqkdgkUYTZbYCSqORmULlQEIq4J3jyexMA8jdu9BRzuaKyLN3udkNjDEqICID+2hbm797Wwez24/T3vJTE3aFTP9Sd9vT1NziVEMUGr1c35+Y2b5jKnqgNKqWglMLspjs6/rj1dudie2mdao07J5s3dCzt/werJTyI1yYqpQAAAABJRU5ErkJggg==) no-repeat 2px -34px;
	font-family  : $font-family-sans-serif;
	font-weight  : normal;
	font-size    : $font-size-small;
	text-align   : left;
}

/* Set to green check and text when valid */
.input-help li.valid {
	color               : #3A7D34;
	background-position : 2px 6px;
}
