.th-product-view {
	&__image {
		position : relative;

		img {
			display : block;
			margin  : 0 auto;
		}

		&:hover {
			display : block;
		}
	}

	&__zoom {
		cursor : crosshair;
		@include absolute-center(
			$width : icons-sprite-width(zoom),
			$height : icons-sprite-height(zoom)
		);

		&:hover {
			@extend %opacity-80;
		}
	}

	&__thumbnail {
		cursor : pointer;
	}

	&__alts {
		text-align : center;
        margin-top: 15px;

		img {
			@extend %inline-block;
		}
	}
}
