.th-product-info {
	clear       : both;
	padding-top : 15px;

	.panel-heading {
		font-size      : 1.5rem;
		letter-spacing : 1px;
		padding-top    : 14px;
		padding-bottom : 14px;
	}

	.accordion-toggle, .glyphicon {
		cursor : pointer;
	}
}

.panel-group .panel + .panel {
	margin     : 0;
	border-top : 0;
}
