.th-product-description {
	clear       : both;
	padding-top : 15px;

	&__accordion-text {
		font-size : 1.4rem;
	}

	.panel-heading {
		background-color : transparent;
		border-bottom    : 0px;
		font-size        : 1.5rem;
		letter-spacing   : 1px;
		padding: 14px 10px 14px 0;
	}

	.collapse {
		border-top : 1px solid $panel-default-border;
	}

	.collapse.in {
		border-top : 0px;
	}

	.accordion-toggle, .glyphicon {
		cursor : pointer;
	}

	.panel-body {
		line-height : 2.0rem;
		padding     : 0 0 10px 0;
	}
}

.panel-group .panel + .panel {
	border-top : 0;
	margin     : 0;
}
