.th-qty-wrap {
	padding : 4px 15px;

	@include respond-to(sm-and-up) {
		padding-right : 0;
	}
}

.th-qty-counter {
	&__btn {
		border-color : $hr-border;
		height       : 45px;
		min-width    : 45px;
		padding      : 10px 8px 11px;

		@include respond-to(sm-and-up) {
			min-width : 25px;
			padding   : 13px 0px;
		}
	}

	&__input {
		height     : 45px;
		font-size  : 1.6rem;
		padding    : 10px 5px;
		text-align : center;
	}
}
