/* */
/*! RATING */
/*!***************************************************************************/
.tick {
  &:before {
	content: '\2605'
  }
}

.rating {
  margin: 0;
  padding: 0;
}

ul.rating {
  display: inline-block;
}

.rating li {
  list-style-type: none;
  display: inline-block;
  padding: 1px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  color: #000;
}
/*!***************************************************************************/
