.th-reviews {
	border-top  : 1px solid $hr-border;
	color       : lighten($text-color, 55);
	font-size   : 1.3rem;
	line-height : 22px;

	a {
		color  : lighten($text-color, 55);
		margin : 0 4px;
	}

	&__heading {
		font-family    : $font-family-condensed-reg;
		font-size      : 1.8rem;
		overflow       : hidden;
		padding        : 20px 0;
		text-transform : uppercase;
	}

	&__helpful {
		padding : 10px 0 0;
	}

	&__rating {
		padding : 10px 0;
	}

	&__star-group {
		display      : inline-block;
		margin-right : 10px;
	}

	&__star {
		@extend %inline-block;
		margin-right : 1px;
	}

	&__title {
		font-family   : 'roboto-bold';
		font-size     : 1.4rem;
		font-weight   : normal;
		margin-top    : 5px;
		margin-bottom : 5px;
	}

	&__totals {
		border   : 1px solid lighten($hr-border, 10);
		overflow : hidden;
		padding  : 15px;

		&--right {
			margin-top : 10px;
		}

		@include respond-to(sm-and-up) {
			&--left {float : left}
			&--right {float : right}
		}
	}

}

.th-write-review {
	padding : 10px 0;

	a {
		display         : block;
		font-size       : 1.4rem;
		padding         : 5px 0;
		text-decoration : underline;

		&:hover {
			text-decoration : none;
		}
	}
}
