.th-reviews {
	font-size   : 1.3rem;
	color       : lighten($text-color, 55);
	line-height : 22px;
	border-top  : 1px solid $hr-border;

	a {
		color  : lighten($text-color, 55);
		margin : 0 4px;
	}

	&__heading {
		text-transform : uppercase;
		font-size      : 1.8rem;
		padding        : 20px 0;
		overflow       : hidden;
		font-family    : $font-family-condensed-reg;
	}

	&__helpful {
		padding : 10px 0 0;
	}

	&__rating {
		padding : 10px 0;
	}

	&__star-group {
		display: inline-block;
		margin-right : 10px;
	}

	&__star {
		margin-right : 1px;
		@extend %inline-block;
	}

	&__title {
		font-weight : bold;
		margin-top: 5px;
		margin-bottom: 5px;
	}

	&__totals {
		border   : 1px solid lighten($hr-border, 10);
		padding  : 15px;
		overflow : hidden;

		&--right {
			margin-top : 10px;
		}

		@include respond-to(sm-and-up) {
			&--left { float : left; }
			&--right { float: right; }
		}
	}

}

// TODO Clean this up, taken from buttons stylesheet in core
// Write a review
.th-write-review {
	padding: 10px 0;

	a {
		font-size: 1.4rem;
		padding: 5px 0;
		display: block;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}
}
