.th-search {
	padding   : 0 10px 0;
	margin-top: 15px;
	min-width : 48px;
	height    : 48px;
	position  : relative;

  @include respond-to(md-and-up) {
    @include inline-block;
		margin       : 0;
		padding      : 0;
		border       : 0;
		border-bottom: 0;
		height       : 46px;
  }

  &__input {
		cursor      : pointer;
		border-color: $navbar-default-border;
		border-width: 1px;
		border-style: solid;
		background  : transparent;
		padding     : 10px;
		height      : 48px;
		width       : 100%;

    @include respond-to(md-and-up) {
			width       : 48px;
			height      : 40px;
			z-index     : 3;
			text-indent : -99px;
			position    : absolute;
			top         : 3px;
			right       : 8px;
			border-color: transparent;
    }

    &:focus {

      outline: none;

      @include respond-to(md-and-up) {
        @include single-transition(all, 200ms, ease);
				border-color: $navbar-default-border;
				width       : 200px;
				text-indent : 0;
				z-index     : 1;
      }
    }
  }

  &__submit {
		position  : absolute;
		background: transparent;
		border    : 0;
		top       : 14px;
		right     : 19px;
		z-index   : 2;

    @include respond-to(md-and-up) {
			top  : 15px;
			right: 13px;
    }
  }

}
