.animate-if {
	background : white;
}

.animate-if.ng-enter, .animate-if.ng-leave {
	-webkit-transition : all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
	transition         : all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
	opacity : 0;
}

.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {
	opacity : 1;
}

.snap-drawers{
	overflow: hidden;
}

.inline-block-wrap{
	font-size: 0px;

	> *{
		font-size: 12px;
	}
}
@-webkit-keyframes animateCartIn {
  0% {
	right: -300px;
	z-index: 9;
  }
  99%{
	right: 0px;
  }
  100% {
	right: 0px;
	z-index: 9;
  }
}
@-moz-keyframes animateCartIn {
  0% {
	right: -300px;
	z-index: 9;
  }
  99%{
	right: 0px;
  }
  100% {
	right: 0px;
	z-index: 9;
  }
}
@-o-keyframes animateCartIn {
  0% {
	right: -300px;
	z-index: 9;
  }
  99%{
	right: 0px;
  }
  100% {
	right: 0px;
	z-index: 9;
  }
}
@keyframes animateCartIn {
  0% {
	right: -300px;
	z-index: 9;
  }
  99%{
	right: 0px;
  }
  100% {
	right: 0px;
	z-index: 9;
  }
}

@-webkit-keyframes animateCartOut {
  0% {
	right: 0px;
	z-index: 9;
  }
  99%{
	right: -300px;
  }
  100% {
	right: -300px;
	z-index: -1;
  }
}
@-moz-keyframes animateCartOut {
  0% {
	right: 0px;
	z-index: 9;
  }
  99%{
	right: -300px;
  }
  100% {
	right: -300px;
	z-index: -1;
  }
}
@-o-keyframes animateCartOut {
  0% {
	right: 0px;
	z-index: 9;
  }
  99%{
	right: -300px;
  }
  100% {
	right: -300px;
	z-index: -1;
  }
}
@keyframes animateCartOut {
  0% {
	right: 0px;
	z-index: 9;
  }
  99%{
	right: -300px;
  }
  100% {
	right: -300px;
	z-index: -1;
  }
}

@-webkit-keyframes animateOverlayIn {
  0% {
	opacity: 0;
	z-index: -1;
  }
  1%{
	z-index: 8;
  }
  99%{
	opacity: 1;
  }
  100% {
	opacity: 1;
	z-index: 8;
  }
}
@-moz-keyframes animateOverlayIn {
  0% {
	opacity: 0;
	z-index: -1;
  }
  1%{
	z-index: 8;
  }
  99%{
	opacity: 1;
  }
  100% {
	opacity: 1;
	z-index: 8;
  }
}
@-o-keyframes animateOverlayIn {
  0% {
	opacity: 0;
	z-index: -1;
  }
  1%{
	z-index: 8;
  }
  99%{
	opacity: 1;
  }
  100% {
	opacity: 1;
	z-index: 8;
  }
}
@keyframes animateOverlayIn {
  0% {
	opacity: 0;
	z-index: -1;
  }
  1%{
	z-index: 8;
  }
  99%{
	opacity: 1;
  }
  100% {
	opacity: 1;
	z-index: 8;
  }
}


@-webkit-keyframes animateOverlayOut {
  0% {
	opacity: 1;
	z-index: 8;
  }
  99%{
	opacity: 0;
  }
  100% {
	opacity: 0;
	z-index: -1;
  }
}
@-moz-keyframes animateOverlayOut {
  0% {
	opacity: 1;
	z-index: 8;
  }
  99%{
	opacity: 0;
  }
  100% {
	opacity: 0;
	z-index: -1;
  }
}
@-o-keyframes animateOverlayOut {
  0% {
	opacity: 1;
	z-index: 8;
  }
  99%{
	opacity: 0;
  }
  100% {
	opacity: 0;
	z-index: -1;
  }
}
@keyframes animateOverlayOut {
  0% {
	opacity: 1;
	z-index: 8;
  }
  99%{
	opacity: 0;
  }
  100% {
	opacity: 0;
	z-index: -1;
  }
}

.th-cart {

	&__panel{
		background-color : $body-bg;
		border-left      : 1px solid $hr-border;
		position         : absolute;
		height           : 100%;
		width            : 300px;
		right            : -300px;
		z-index          : -1;
		overflow         : hidden;
		box-shadow       : 0px 0px 5px 2px rgba(0,0,0,.1);

		@include respond-to(xs){
			width : 100%;
			right : -100%;

			&__overlay{
				display : none;
			}
		}
	}

	&__overlay{
		position           : absolute;
		top                : 0px;
		right              : 0px;
		width              : 100%;
		height             : 100%;
		background-color   : rgba(0,0,0,.5);
		cursor             : default;
	}

	&--open{

		.th-cart__panel{
		  -webkit-animation-name      : animateCartIn;
		  -webkit-animation-duration  : .4s;
		  -webkit-animation-fill-mode : forwards; /* Chrome, Safari, Opera */
		  -moz-animation-name         : animateCartIn;
		  -moz-animation-duration     : .4s;
		  -moz-animation-fill-mode    : forwards;
		  animation-name              : animateCartIn;
		  animation-duration          : .4s;
		  animation-fill-mode         : forwards;
		}

		@media (min-width: $screen-sm){
		  .th-cart__overlay{
			-webkit-animation-name      : animateOverlayIn;
			-webkit-animation-duration  : .4s;
			-webkit-animation-fill-mode : forwards; /* Chrome, Safari, Opera */
			-moz-animation-name         : animateOverlayIn;
			-moz-animation-duration     : .4s;
			-moz-animation-fill-mode    : forwards;
			animation-name              : animateOverlayIn;
			animation-duration          : .4s;
			animation-fill-mode         : forwards;
		  }
		}
	}

	&--closed{

	  .th-cart__panel{
		-webkit-animation-name     : animateCartOut;
		-webkit-animation-duration : .4s;
		-moz-animation-name         : animateCartOut;
		-moz-animation-duration     : .4s;
		animation-name             : animateCartOut;
		animation-duration         : .4s;
	  }
	  @media (min-width: $screen-sm){
		.th-cart__overlay{
		  -webkit-animation-name      : animateOverlayOut;
		  -webkit-animation-duration  : .4s;
		  -moz-animation-name         : animateOverlayOut;
		  -moz-animation-duration     : .4s;
		  animation-name              : animateOverlayOut;
		  animation-duration          : .4s;
		}
	  }
	}

	.-visual-cue {
		background-color : yellow;
	}

	&__body {
		overflow-y : auto;
		height     : 100%;
		height     : calc(100% - 190px);
		height     : -webkit-calc(100% - 190px);
		height     : -moz-calc(100% - 190px);
		margin-top : 40px;

		&--overlay {
			@extend %font-smoothing;

			width            : 100%;
			height           : 100%;
			position         : absolute;
			background-color : $btn-default-bg;
			z-index          : 9999;
			text-align       : center;

			@include opacity(0.8);

			&--loader {
				position : absolute;
				height   : 80px;
				width    : 80px;
				top      : 40%;
				left     : 40%;
			}

			/*
			  Set the color of the icon
			*/
			svg path,
			svg rect {
				fill : $btn-default-color;
			}
		}
	}

	&__brand {
		padding          : 3px 10px;
		border-bottom    : 1px solid $hr-border;
		height           : 46px;
		position         : relative;
		z-index          : 3;
		background-color : white;

		&--image {
			display : block;
			margin  : auto;
			height  : 36px;
		}

		&--search {
			float  : left;
			margin : 0;

			span {
				background-color : black;
				height           : 4px !important;
			}
		}
	}

	&__nav {
		position         : absolute;
		border-bottom    : 1px solid $hr-border;
		background-color : $btn-default-bg;
		z-index          : 999;
		width            : 100%;

		&--button {
			padding    : 7px 5px;
			border     : 0 none;
			background : none;
			width      : 132px;
			margin     : 0;
			font-size  : 14px;
			outline    : none;
			outline    : 0;
			width      : 50%;
			text-align : center;
			display    : inline-block;

			&[disabled] {
				//background-color : $gray-lighter;
				color : $btn-link-disabled-color;

				&:hover {
					background-color : $body-bg;
					color            : $btn-link-disabled-color;
				}
			}

			&:hover {
				background-color : $btn-primary-bg;
				color            : $btn-primary-color;
			}

			&:first-child {

				&:before {
					font-family : $font-family-glyphs;
					content     : "\e079";
					margin      : 0 10px 0 0;
					font-size: .8em;
				}
			}

			&:last-child {

				float : right;
				border-left: 1px solid $hr-border;

				&:after {
					font-family : $font-family-glyphs;
					content     : "\e080";
					margin      : 0 0 0 10px;
					font-size: .8em;
				}
			}
		}
	}

	&__header{
		position           : absolute;
		border-bottom      : 1px solid $hr-border;
		background-color   : $btn-default-bg;
		z-index            : 999;
		width              : 100%;
		line-height        : 40px;
		height             : 40px;
		text-align         : center;
		@include box-shadow(rgba(0,0,0,0.08) 0px 1px 2px 0px);

		&:after{
			clear   : both;
			display : table;
			content : "";
		}

		&-back{
			font-size : 15px;
			position  : absolute;
			left      : 10px;
			cursor    : pointer;

			&:before {
				font-family : $font-family-glyphs;
				content     : "\e079";
				margin      : 0 10px 0 0;
			}
		}

		&-title{
			font-size : 16px;
		}
	}

	&__footer{
		position           : absolute;
		z-index            : 2;
		bottom             : 0px;
		width              : 100%;
		border-top         : 1px solid $hr-border;
		background-color   : $btn-default-bg;
		@include box-shadow(rgba(0,0,0,0.08) 0px -1px 2px 0px);

		&--keyboard-fix{
			@include respond-to(xs){
				.th-cart__promo-add,
				.th-cart__promo-summary,
				.th-cart__promo-list,
				.th-cart__subtotal,
				.th-cart__checkout{
					display: none;
				}
			}
		}
		&--promo-keyboard-fix{
			@include respond-to(xs){
				.th-cart__promo-summary,
				.th-cart__promo-list,
				.th-cart__subtotal,
				.th-cart__checkout{
					display: none;
				}
			}
		}
	}

	&__checkout{
		padding    : 10px;
		text-align : center;

		&-button{
			width     : 80%;
			display   : inline-block;
			padding   : 12px;
			font-size : 14px;
		}
	}

	&__subtotal {
		padding          : 5px 10px;
		background-color : #F1F1F1;
		line-height      : 30px;

		&--label {
			float          : left;
			text-transform : uppercase;
		}

		&--price {
			float       : right;
			font-size   : 1.5rem;
			font-family : $font-family-condensed-reg;
		}
	}

	&__promo-wrap{

	}

	&__promo-add {
		width   : 100%;
		padding : 5px 10px;

		&__input {
			width   : 75%;
			height  : 30px;
			float   : left;
			padding : 10px 5px 6px 0px;
			cursor  : pointer;

			@include input-placeholder {
				color        : #000;
				opacity      : 1;
				font-weight  : 400;
				padding-left : 2px;
				font-family  : $font-family-base;
				@include transition(opacity .2s, color .2s);
			}

			&:focus{

				@include input-placeholder {
					opacity : .4;
					color   : #000 !important;
				}
			}

			&:hover{
				@include input-placeholder {
					color : $link-hover-color;
				}
			}

			&.form-control{
				border : 0px;
			}
		}

		&__apply {
			height             : 30px;
			width              : 25%;
			padding            : 0px;
			text-align         : center;
			opacity            : 0;
			visibility         : hidden;
			transition         : opacity .2s, visibility .2s;
			-webkit-transition : opacity .2s, visibility .2s;
			-moz-transition    : opacity .2s, visibility .2s;

			&--active{
				opacity    : 1;
				visibility : visible;
			}
		}
	}

	&__promo-summary{
		padding       : 0px 10px;
		border-top    : 1px solid $hr-border;
		border-bottom : 1px solid transparent;
		line-height   : 40px;
		height        : 40px;
		width         : 100%;
		outline: none;
		cursor        : pointer;
		@include transition(color .15s);

		&:hover{
			color : $link-hover-color;
		}

		&__count{

		}
		&__count-number{

		}
		&__total{
			float : right;
			color : green;
		}
		&__arrow{
			padding-right : 8px;
			font-size     : 10px;
		}
	}

	&__promo-list {
		border     : 0px;
		max-height : 0px;
		width      : 100%;
		overflow-y : hidden;
		@include transition(max-height .3s);

		&--active{
			max-height : 100px;
			border-top : 1px solid $hr-border;
			overflow-y : auto;
			@include box-shadow(inset rgba(0,0,0,0.08) 0px 1px 3px 0px);
		}
	}

	&__promo {
		position       : relative;
		border-bottom  : 1px solid $gray-lighter;
		padding        : 10px 10px;

		&--left{
			width          : 73%;
			display        : inline-block;
			vertical-align : middle;
		}
		&--right{
			width          : 27%;
			display        : inline-block;
			vertical-align : middle;
		}

		&.-last {
			border-bottom  : none;
			margin-bottom  : 0;
			padding-bottom : 0;
		}

		&__close {
			width          : 25px;
			margin-right   : 5px;
			text-align     : left;
			display        : inline-block;
			vertical-align : middle;

			button {
				border     : 1px solid $gray-lighter;
				background : none;
				padding    : 2px;
				height     : 22px;
				width      : 22px;
				outline    : none;
				outline    : 0;

				span {
					&:before {
						font-family : $font-family-glyphs;
						content     : "\e014";
					}
				}
			}

			~ .th-cart__promo__name{
				width : 82%;
			}
		}

		&__name {
			width          : 100%;
			display        : inline-block;
			vertical-align : middle;
			line-height    : 1.2em;
		}

		&__value {
			display        : inline-block;
			vertical-align : middle;
			color          : green;
			text-align     : right;
			float          : right;
		}
	}

	&__noitems {
		&--label {
			text-transform : uppercase;
			text-align     : center;
			margin-top     : 15px;
		}
	}

	&__items {
		padding : 5px 0px;
		//		overflow-y : scroll;
		//		height     : 100%;

		&--label {
			text-transform : uppercase;
			border-bottom  : 1px solid $hr-border;
		}

		&--gift {
			padding       : 5px 10px;
			border-bottom : 1px solid $hr-border;
		}

		&__item {

			position       : relative;
			margin-bottom  : 10px;
			padding        : 10px;
			border-bottom  : 1px solid $gray-lighter;

			&__gift {
				margin-top : 10px;

				&--option {
					span {
						margin-left : 10px;
					}
				}

				&--message {
					width              : 100%;
					height             : 35px;
					margin-top         : 5px;
					padding            : 10px;
					resize             : none;
					word-wrap          : break-word;
					transition         : 0.05s;
					-moz-transition    : 0.05s;
					-webkit-transition : 0.05s;
					-o-transition      : 0.05s;
				}

				&--message-count {
					color      : $gray-light;
					text-align : right;
				}
			}

			&:last-child{
				margin-bottom : 0px;
				border-bottom : 0px;
			}

			&--close {
				position : absolute;
				right    : 10px;

				button {
					border     : 1px solid $gray-lighter;
					background : none;
					padding    : 2px;
					height     : 22px;
					width      : 22px;
					outline    : none;
					outline    : 0;

					span {
						&:before {
							font-family : $font-family-glyphs;
							content     : "\e014";
						}
					}
				}
			}

			&--image {
				max-height   : 80px;
				max-width    : 80px;
				float        : left;
				margin-right : 10px;
			}

			&--name {
				@include ellipsis(true);
				padding-right : 25px;
			}

			&--qty {
				display        : inline-block;
				vertical-align : middle;
				width          : 50%;

				.th-qty-counter{
					width : 90px;

					&__btn{
						height    : 30px;
						width     : 30px;
						min-width : 30px;
						padding   : 0px;

						.glyphicon{
							font-size : 10px;
						}
					}
					&__input{
						height    : 30px;
						width     : 40px;
						font-size : 12px;
						padding   : 2px;
					}
				}

			}

			&--subtotal {
				font-size      : 1.5rem;
				font-family    : $font-family-condensed-reg;
				display        : inline-block;
				vertical-align : middle;
				width          : 50%;
				text-align     : right;
			}
		}

	}
}
