.th-checkout {
	background-color : $body-bg;
	border-left      : 1px solid $hr-border;
	overflow         : hidden;
	position         : fixed;
	top              : 0;
	bottom           : 0;
	padding-bottom   : 120px;

	&__brand {

		padding       : 3px 10px;
		border-bottom : 1px solid $hr-border;
		height        : 46px;
		position      : relative;

		&--image {
			display : block;
			margin  : auto;
			height  : 36px;
		}

		&--search {
			float  : left;
			margin : 0;

			span {
				background-color : black;
				height           : 4px !important;
			}
		}
	}

	&__nav {
		border-bottom : 1px solid $hr-border;

		&--button {
			padding    : 7px 5px;
			border     : 0 none;
			background : none;
			width      : 130px;
			margin     : 0;
			font-size  : 14px;
			outline    : none;
			outline    : 0;

			&[disabled] {
				//background-color : $gray-lighter;
				color : $btn-link-disabled-color;

				&:hover {
					background-color : $body-bg;
					color            : $btn-link-disabled-color;
				}
			}

			&:hover {
				background-color : $btn-primary-bg;
				color            : $btn-primary-color;
			}

			&:first-child {

				&:before {
					font-family : $font-family-glyphs;
					content     : "\e079";
					margin      : 0 10px 0 0;
				}
			}

			&:last-child {

				float : right;

				&:after {
					font-family : $font-family-glyphs;
					content     : "\e080";
					margin      : 0 0 0 10px;
				}
			}
		}
	}

	&__subtotal {
		padding       : 5px 10px;
		border-bottom : 1px solid $hr-border;
		height        : 94px;

		&--label {
			float          : left;
			text-transform : uppercase;
			margin-top     : 15px;
		}

		&--price {
			float       : right;
			font-size   : 3rem;
			font-family : $font-family-condensed-reg;
		}

		&__addlabel {
			float       : left;
			padding-top : 7px;
		}

		&__add {

			float : right;

			&--coupon {
				width  : 100px;
				height : 30px;
				float  : left;
			}

			&--button {
				height : 30px;
			}
		}
	}

	&__coupons {
		padding       : 5px 10px;
		border-bottom : 1px solid $hr-border;

		&--label {
			text-transform : uppercase;
			margin         : 15px 0;
		}

		&__coupon {

			position       : relative;
			margin-bottom  : 10px;
			padding-bottom : 10px;
			border-bottom  : 1px solid $gray-lighter;

			&.-last {
				border-bottom : none;
				margin-bottom : 0;
			}

			&--close {
				position : absolute;
				right    : 0px;

				button {
					border     : 1px solid $gray-lighter;
					background : none;
					padding    : 2px;
					height     : 22px;
					width      : 22px;
					outline    : none;
					outline    : 0;

					span {
						&:before {
							font-family : $font-family-glyphs;
							content     : "\e014";
						}
					}
				}
			}

			&--name {
				padding-right : 55px;
			}

			&--value {
				position : absolute;
				right    : 0px;
				bottom   : 0px;
			}
		}
	}

	&__noitems {
		&--label {
			text-transform : uppercase;
			text-align     : center;
			margin-top     : 15px;
		}
	}

	&__items {
		padding    : 5px 10px;
		overflow-y : scroll;
		height     : 100%;

		&--label {
			text-transform : uppercase;
		}

		&__item {

			position       : relative;
			margin-bottom  : 10px;
			padding-bottom : 10px;
			border-bottom  : 1px solid $gray-lighter;

			&--close {
				position : absolute;
				right    : 0px;

				button {
					border     : 1px solid $gray-lighter;
					background : none;
					padding    : 2px;
					height     : 22px;
					width      : 22px;
					outline    : none;
					outline    : 0;

					span {
						&:before {
							font-family : $font-family-glyphs;
							content     : "\e014";
						}
					}
				}
			}

			&--image {
				max-height   : 80px;
				max-width    : 80px;
				float        : left;
				margin-right : 10px;
			}

			&--name {
				@include ellipsis(true);
				padding-right : 25px;
			}

			&--qty {

				float : left;

				button {
					width      : 80px;
					text-align : center;
					position   : relative;

					.caret {
						position : absolute;
						right    : 10px;
						top      : 12px;
					}
				}

				.dropdown-menu {
					height     : 100px;
					overflow-y : scroll;
					width      : 80px;
					margin-top : -11px;
					text-align : center;
					min-width  : 80px;
				}
			}

			&--subtotal {
				float       : right;
				font-size   : 1.5rem;
				font-family : $font-family-condensed-reg;
			}
		}

	}
}
