.th-social {
	clear      : both;
	padding    : 10px 0;
	text-align : center;

	@include respond-to(md-and-up) {
		text-align   : left;
		padding-left : 12px;
	}

	&__icon {
		@extend %inline-block;
		margin : 0 2px;
		@extend %animate-all-default;

		@include respond-to(md-and-up) {
			margin : 0px 6px 0px 0px;
		}

		&:hover {
			@extend %opacity-80;
		}
	}
}
