.th-social {
	clear: both;
	padding: 26px 0 20px;
	text-align: center;
}

.th-social__icon {
	@extend %inline-block;
	margin: 0 2px;

  &:hover {
    @extend %animate-all-default;
    @extend %opacity-80;
  }
}

@include respond-to(md-and-up) {

  .th-social {
    text-align: left;
    padding-left: 12px;
  }

  .th-social__icon {
    margin: 0 6px;
  }
}
