// refactor with classes in html hidden-xs hidden-sm
.th-sort-by {
  display: none;

  a {
    &:hover {
      @extend %animate-all-default;
    }
  }

}

.th-sort-left {
  margin-top: 3px;
}

@include respond-to(md-and-up) {
  .th-sort-by {
    display: block;
    overflow: hidden;
    padding: 8px 15px;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: lighten($text-color, 55);
    font-size: 1.2rem;
  }

  .th-sort-left {
    margin-top: 0px;
  }
}
