@import "sprites/icons/*.png";
@include all-icons-sprites;

.th-product__new {
  @include icons-sprite(new);
  height: icons-sprite-height(new);
  width: icons-sprite-width(new);
}

.th-product__sale {
  @include icons-sprite(sale);
  height: icons-sprite-height(sale);
  width: icons-sprite-width(sale);
}

.th-favorite-icon {
  @include icons-sprite(heart);
  @extend %inline-block;
  height: icons-sprite-height(heart);
  width: icons-sprite-width(heart);
}

.th-product-view__zoom {
  @include icons-sprite(zoom);
  @extend %inline-block;
  height: icons-sprite-height(zoom);
  width: icons-sprite-width(zoom);
}
