.th-order-detail{
	line-height: 1.3;
	font-size: 14px;

	&__title{
		font-size      : 1.8rem;
		margin-top     : 10px;
		margin-bottom  : 10px;
	}

	&__header{

		&__title{
			font-size: 2.5rem;
		}

		&__order-details{
			font-size: 16px;

			&__order-status{
				font-style: italic;
			}
		}
		&__order-date{
			font-size: 16px;
		}
	}

	.panel-footer{

		> .row{
			margin-bottom: 5px;
		}
	}

	&__items{
		margin-top: 20px;

		&__product{
			border-bottom: 1px solid #ddd;
  			padding: 15px 0px;

  			&:first-child{
				padding-top: 0px;
  			}
  			&:last-child{
				padding-bottom: 0px;
				border-bottom: 0px;
  			}

  			&__name{

				@media (max-width: $screen-xs){
					font-size: 12px;
				}
  			}
			&__qty{
				font-size: 12px;
			}
			&__options{
				font-size: 12px;
			}
		}

		&__discount{

			&:last-child{
				margin-bottom: 10px;
			}
		}
	}

	&__paid-with{

		&__card-number{
			padding-left: 20px;
		}
	}

	&__shipping{

		&__tracking-detail{
			margin-bottom: 10px;

		  	a{
			  color: $link-hover-color;

			  &:hover{
				text-decoration: underline;
			  }
			}
		}
	}
}
