.th-cart-summary {
  position: relative;
  white-space: nowrap;
  top: 8px;
  right: 0;
}

.th-my-cart {
  @include inline-block;
  padding: 6px 0;

  .th-my-cart__number {
    color: map-get($colors, link-active);
  }

  .th-my-cart__number:before {
    content: "(";
  }

  .th-my-cart__number:after {
    content: ")";
  }

}

@include respond-to(sm-and-up) {

    .th-cart-summary {
      top: 22px;
    }

}

@include respond-to(md-and-up) {
    .th-cart-summary {
      position: relative;
      top: 30px;
      right: 13px;
    }
}

