.th-cart-summary {
    position    : relative;
    white-space : nowrap;
    top         : 8px;
    right       : 0;
}

.th-my-cart {
    @include inline-block;
    padding : 6px 0;

    &__number {
        color : map-get($colors, link-active);

        &:before {
            content : "(";
        }

        &:after {
            content : ")";
        }
    }
}

@include respond-to(sm-and-up) {
    .th-cart-summary {
        top : 23px;
    }
}

@include respond-to(md-and-up) {
    .th-cart-summary {
        position : relative;
        right    : 13px;
        top      : 29px;
    }
}

