.th-elist {
	border-bottom : 1px solid map-get($colors, border);
	padding       : 12px 0;

	&__form {
		@include inline-block;
		white-space : nowrap;
	}

	&__title {
		@include inline-block;
		margin         : 0;
		font-weight    : normal;
		margin-right   : 13px;
		display        : none;
		font-size      : 1.4rem;
		text-transform : uppercase;
		font-family    : $font-family-condensed-reg;
	}

	&__group {
		@include inline-block;
		margin : 0;
	}

	&__input {
		@include inline-block;
		border-color : map-get($colors, border);
		width        : 100%;
		height       : 32px;
		margin       : 0;

		&:focus {
			border-color : map-get($colors, border--dark);
		}
	}

	&__submit {
		@include inline-block;
		font-size  : 1.5rem;
		padding    : 5px 10px;
		color      : map-get($colors, text--lightest);
		background : map-get($colors, btnPrimaryBg);
		border     : 0;

		&:hover {
			background : map-get($colors, btnPrimaryBg);
			color      : map-get($colors, text--lightest);
		}
	}
}

/* Small devices (tablets, 768px and up) */
@include respond-to(sm-and-up) {
	.th-elist__title {
		@include inline-block;
	}
}

/* Large devices (large desktops, 1200px and up) */
@include respond-to(lg) {
	.th-elist {
		border-bottom : 0;
		padding       : 0 0 25px 35px;

		&__form {
			display    : block;
			margin-top : 5px;
		}

		&__title {
			display     : block;
			margin      : 10px 0 0 0;
			font-weight : bold;
		}

		&__input {
			height       : 33px;
			min-width    : 220px;
			border-color : map-get($colors, border--lightest);
		}

		&__submit {
			&:hover {
				background : map-get($colors, btnPrimaryBg);
				border     : 0;
			}
		}
	}
}




