%inline-block {
  @include inline-block;
}

%opacity-80 {
  @include opacity(0.8);
}

%animate-color-default {
  @include transition(color, 0.2s, ease-in-out);
}

%placeholder-text {
  @include input-placeholder {
    color: map-get($colors, placeholder);
  }
}

%placeholder-text-focus {
  @include input-placeholder {
    color: map-get($colors, placeholder--focus);
  }
}

%position-absolute-center {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
