/* HOMEPAGE */
.th-home-content {

  .img-responsive {
      margin: 0 auto;
  }

  .row {
      margin-bottom: 15px;
  }

  .row.th-last {
      margin-bottom: 0;
  }

  .th-p-pad {
      padding: 0 2px;
  }

  .th-promo {
      width: 100%;
      margin: 0 auto;
      display: block;
      text-align: right;
  }

  .th-p1-sm {
      background: image-url("homepage/p1-sm.jpg") no-repeat top center;
      min-height: 236px;
      text-indent: -9999px;
  }

  .th-p2 {
      min-height: 495px;
      text-align: center;
      background: image-url("homepage/p2-sm.jpg") no-repeat top center;

      .th-title {
        display: block;
        max-width: 300px;
        margin: 0 auto 2.8%;
        text-transform: uppercase;
        font-family: $font-family-heading-reg;
        font-size: 2.3rem;
        line-height: 1.1em;
        border-bottom: 1px solid #d9d9d9;
        padding: .5em 0;
      }

      .th-text {
        display: block;
        max-width: 290px;
        margin: 0 auto;
        font-family: $font-family-serif;
        font-size: 1.3rem;
        line-height: 1.5em;
      }

      .th-link {
        color: #dc1703;
        display: block;
      }
  }

  .th-p3-sm {
    background: image-url("homepage/p3-sm.jpg") no-repeat top center;
    min-height: 236px;
    text-indent: -9999px;
  }

  .th-b1 {
    min-height: 182px;
    background: image-url("homepage/b1-sm.jpg") no-repeat top center;
    display: block;
    margin-bottom: 2px;
  }
  .th-b2 {
    min-height: 182px;
    background: image-url("homepage/b2-sm.jpg") no-repeat top center;
    display: block;
    margin-bottom: 2px;
  }

}
/* Small devices (tablets, 768px and up) */
@include respond-to(sm-and-up) {
  /* HOMEPAGE */
  .th-home-content {

    .th-p1 {
      background: image-url("homepage/p1.jpg") no-repeat top center;
      min-height: 553px;
      text-indent: -9999px;
    }

    .th-p2 {
      min-height: 553px;
      text-align: center;
      background: image-url("homepage/p2.jpg") no-repeat top center;
    }

    .th-p3 {
      background: image-url("homepage/p3.jpg") no-repeat top center;
      min-height: 553px;
      text-indent: -9999px;
    }

  }
}

/* Medium devices (desktops, 992px and up) */
@include respond-to(md-and-up) {
  .th-home-content {

    .row {
      margin-bottom: 30px;
    }

    .th-category {
      @include inline-block;
      font-family: $font-family-serif-italic;
      font-size: 2.0rem;
      margin: 53% 5% 0 0;
    }

    .th-p1, .th-p3, .th-b1, .th-b2, .th-b3 {
      &:hover {
        @include transition(all, 0.2s, ease-in-out);
        @include opacity(0.8);
      }
    }

    .th-p2 {
      min-height: 553px;
      background: image-url("homepage/p2.jpg") no-repeat top center;

      .th-title {
        display: block;
        max-width: 370px;
        margin: 0 auto 2.8%;
        font-size: 3.0rem;
      }

      .th-text {
        max-width: 370px;
        font-size: 1.5rem;
        line-height: 1.9rem;
      }

      .th-link {
        display: inline;
      }
    }

    .th-b1 {
      min-height: 185px;
      background: image-url("homepage/b1-sm.jpg") no-repeat top center;
      margin-bottom: 0;
    }
    .th-b2 {
      min-height: 185px;
      background: image-url("homepage/b2-sm.jpg") no-repeat top center;
      margin-bottom: 0;
    }
  }
}

/* Large devices (large desktops, 1200px and up) */
@include respond-to(lg) {
  .th-home-content {

    .th-p2 {

      .th-title {
        font-size: 3.0rem;
      }

      .th-text {
        max-width: 370px;
        font-size: 1.6rem;
        line-height: 1.6em;
      }

      .th-link {
        display: inline;
      }
    }

    .th-b1 {
      min-height: 227px;
      background: image-url("homepage/b1.jpg") no-repeat top center;
    }
    .th-b2 {
      min-height: 227px;
      background: image-url("homepage/b2.jpg") no-repeat top center;
    }

  }
}
