.th-mobile-sitemap {
    margin     : 0 0 20px;
    list-style : none;
    padding    : 0;

    &__item {
        &--header {
            letter-spacing : 1px;
            text-transform : uppercase;
            font-family    : $font-family-condensed-bold;
            font-size      : 1.2rem;
        }
    }

    &__link {
        padding     : 10px 10px 10px 0;
        position    : relative;
        display     : block;
        line-height : 17px;
        font-size   : 1.2rem;
    }
}
