.th-product {
	position       : relative;
	text-align     : center;
	padding-top    : 15px;
	padding-bottom : 25px;

	&__sale, &__new {
		position : absolute;
		top      : 15px;
		right    : 15px;
		z-index  : 1;
	}

	&__image {
		position   : relative;
		padding    : 7px 0;
//		min-height : 252px;

		.img-responsive {
			margin  : 0 auto;
			display : block;

			&:hover {
				@extend %animate-all-default;
			}
		}
	}

	&__name {
		font-family    : $font-family-condensed-reg;
		text-transform : uppercase;
		font-size      : 1.4rem;
		padding        : 2px 0;
		line-height    : 1.22em;
		text-align     : center;
		height         : 30px;

//		@include ellipsis(false);

		a:hover {
			@extend %animate-all-default;
		}
	}

	&__price, &__price--large {
		padding        : 5px 0;
		margin         : 0 auto;
		line-height    : 22px;
		font-family    : $font-family-condensed-reg;
		text-transform : uppercase;
		color          : map-get($colors, regular-price);

		.th-price {
			@include inline-block;
			margin-right : 1px;
			font-size    : 1.6rem;
			padding      : 0 4px 0 0;
			font-weight  : bold;
		}

		.th-reg-price {
			@include inline-block;
			white-space : nowrap;
		}

		.th-now-price {
			color        : map-get($colors, sales-price);
			border-left  : 1px solid map-get($colors, border);
			padding-left : 6px;
			margin-left  : 3px;
			white-space  : nowrap;
		}

		.th-price-text {
			@include inline-block;
			font-size   : 1.2rem;
			font-weight : normal;
		}

		.strike {
			text-decoration : line-through;
		}
	}

	&__price {
		height : 35px;
	}

	&__price--large {
		line-height : 30px;
		padding     : 30px 0 15px;
		text-align  : center;

		.th-price {
			font-size : 3.0rem;
		}

		.th-now-price {
			padding-left : 13px;
			margin-left  : 13px;
		}

		.th-price-text {
			font-size : 1.4rem;
		}
	}
}

.th-colors-sm .img-responsive {
	@include inline-block;
}

.th-related-wrap {
	margin : 0 0 20px;

	.th-product {
		padding-top    : 10px;
		padding-bottom : 10px;
	}

	.th-product__name {
		text-align : left;
		margin-top : 12px;
	}

	.th-product__image {
		float         : left;
		padding-right : 15px;

		img {
			max-width : 90px;
		}
	}

	.th-product__name {
		text-align : left;
	}

	.th-product__price {
		text-align : left;
	}

	.th-colors-sm {
		text-align : left;
	}

}

@include respond-to(sm-and-up) {
	.th-product__price--large {
		text-align : left;
	}

	.th-related-wrap {
		margin : 20px 0 0;

		.th-product {
			padding-top    : 15px;
			padding-bottom : 25px;
		}

		.th-product__name {
			margin-top : 0;
		}

		.th-product__image {
			float         : none;
			padding-right : 0;

			img {
				max-width : 100%;
			}
		}

		.th-product__name {
			text-align : center;
		}

		.th-product__price {
			text-align : center;
		}

		.th-colors-sm {
			text-align : center;
		}
	}

}
