.th-product-view__image {
  position: relative;
  z-index: 1;

  img {
    margin: 0 auto;
    display: block;
  }
}

.th-product-view__zoom {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -38px 0 0 -38px;
  display: none;
}

.th-product-view__image:hover .th-product-view__zoom {
  display: block;
}

.th-product-view__zoom:hover {
  @extend %opacity-80;
}

.th-product-view__alts {
  text-align: center;

  img {
    @extend %inline-block;
  }
}

