.th-product-details__title {
  text-transform: uppercase;
  font-family: $font-family-condensed-reg;
  font-size: 1.9rem;
  text-align: left;
  line-height: 22px;
  padding: 2px 0;

  a:hover {
    @extend %animate-all-default;
  }
}

.th-product-name-lg {
  text-transform: uppercase;
  font-family: $font-family-condensed-reg;
}

@include respond-to(sm-and-up) {

  .th-product-name-lg {
    font-size: 3.2rem;
    text-align: center;
    padding: 30px 0;
  }

}

@include respond-to(md-and-up) {

  .th-product-details__title {
    font-size: 3.1rem;
    line-height: 34px;
    padding-left: 0;
    text-align: left;
  }

}
