.th-product-view {

  &__image {
    position: relative;
    z-index: 1;

    img {
      margin: 0 auto;
      display: block;
    }

    &:hover {
      display: block;
    }
  }

  &__zoom {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -38px 0 0 -38px;
    display: block;

    &:hover {
      @extend %opacity-80;
    }
  }

  &__thumbnail {
    cursor: pointer;
  }

  &__alts {
    text-align: center;

    img {
      @extend %inline-block;
    }
  }

}
