.th-qty-wrap {
  padding: 4px 15px 4px 15px;
}

.th-qty-counter__input {
  padding: 19px 12px 19px;
  text-align: center;
}

.th-qty-counter__btn {
  padding: 10px 8px 11px;
  min-width: 35px;
  border-color: #cdcdcd;
}

@include respond-to(sm-and-up) {

  .th-qty-wrap{
    padding: 4px 0 4px 15px;
  }

  .th-qty-counter__input {
    padding: 19px 6px 19px;
  }

  .th-qty-counter__btn {
    padding: 10px 3px 11px;
    min-width: 25px;
  }

}


