.th-quick-options {
  position: absolute;
  bottom: 7px;
  left: 0;
  width: 100%;
  z-index: 2;
  overflow: hidden;
  line-height: 30px;
  height: 0px;
  width: 100%;

  .th-quick-view {
    text-transform: uppercase;
    color: map-get($colors, text--lightest);
    text-indent: 14px;
    width: 85%;
    float: left;
    text-align: left;
    font-family: $font-family-condensed-reg;
    background-color: rgba(map-get($colors, component-bg--darkest), 0.5);

    &:hover {
      background-color: rgba(map-get($colors, component-bg--darkest), 0.6);
    }

  }

  .th-add-to-cart {
      float: left;
      height: 30px;
      width: 15%;
      background-color: map-get($colors, component-active-bg);

      span {
        @extend %inline-block;
        @include icons-sprite(cart-bag);
        height: icons-sprite-height(cart-bag);
        width: icons-sprite-width(cart-bag);
        margin: -5px auto 0;
      }

    &:hover {
      background-color: map-get($colors, component-active-bg);
    }
  }
}

.th-product:hover .th-quick-options {
  @extend %animate-all-default;
  height: 30px;
}

