.th-reviews {
  font-size: 1.3rem;
  color: #707070;
  line-height: 22px;
  border-top: 1px solid #cdcdcd;

  a {
    color: #707070;
    margin: 0 4px;
  }

}

.th-totals-right {
  margin-top: 10px;
}

.th-rating-title {
  font-weight: bold;
}

.th-reviews__title {
  text-transform: uppercase;
  font-size: 1.8rem;
  color: #424242;
  padding: 20px 0;
  overflow: hidden;
  font-family: $font-family-condensed-reg;
}

.th-reviews__totals {
  border: 1px solid #eeeeee;
  padding: 15px;
  overflow: hidden;
}

.th-review__rating {
  padding: 10px 0;
}

.th-review__helpful {
  padding: 10px 0 0;
}

@include respond-to(sm-and-up) {

  .th-totals-left {
    float: left;
  }

  .th-totals-right {
    float: right;
  }

}
