.th-search {
  display: none;
}

.th-search--small__input {
  text-transform: uppercase;
  font-family: $font-family-condensed-reg;
  font-size: 1.4rem;
  color: #000;
  float: left;
  padding: 12px 10px;
  border: 0;
  width: 80%;
  background: #fff;
}

.th-search--small__btn {
  float: right;
  color: #969696;
  border: 0;
  font-size: 1.5rem;
  padding-top: 12px;
  padding-bottom: 11px;
  padding-right: 4px;

  &:hover {
      background: none;
  }
}

.th-search--small__group {
  width: 100%;
  margin-bottom: 0;
  overflow: hidden;
}

/* Medium devices (desktops, 992px and up) */
@include respond-to(md-and-up) {


  .th-search {
    @include inline-block;
    padding: 0;
    margin: 0;

    .glyphicon-search {
      display: inline;
    }

    .th-search__group {
      width: 0;
    }

    .th-search__input {
      display: none;
      margin: 0;
      width: 100%;
    }

    .th-search__btn {
      background: #fff;
      border-color: #fff;
      color: #939393;
      width: 30px;
      padding:0;
      font-size: 1.6rem;

      &:hover {
          background: none;
          color: #000;
      }
    }

    &:hover {
      .th-search__group {
        @include transition(all, 0.2s, ease-in-out);
        width: 145px;
      }

      .th-search__input {
        @include inline-block;
      }
    }

  }

  .th-search--small {
    display: none;
  }

}

/* Large devices (large desktops, 1200px and up) */
@include respond-to(lg) {

  .th-search {
    @include inline-block;

    .th-search__group {
      height: 31px;
    }

    .th-search__input {
      display: none;
      margin: 0;
    }

    &:hover {
      .th-search__group {
        width: 205px;
      }

      .th-search__input {
        @include inline-block;
      }
    }

  }

  .th-search--small {
    display: none;
  }

}
