.th-search {
  display: none;
}

.th-search--small__input {
  text-transform: uppercase;
  font-family: $font-family-condensed-reg;
  font-size: 1.4rem;
  color: map-get($colors, text);
  float: left;
  padding: 12px 10px;
  border: 0;
  width: 80%;
  background: map-get($colors, component-bg);
}

.th-search--small__btn {
  float: right;
  border: 0;
  font-size: 1.5rem;
  padding-top: 12px;
  padding-bottom: 11px;
  padding-right: 4px;

  &:hover {
      background: none;
  }
}

.th-search--small__group {
  width: 100%;
  margin-bottom: 0;
  overflow: hidden;
}

@include respond-to(md-and-up) {


  .th-search {
    @include inline-block;
    padding: 0;
    margin: 0;

    .glyphicon-search {
      display: inline;
    }

    .th-search__group {
      width: 0;
    }

    .th-search__input {
      display: none;
      margin: 0;
      width: 100%;
    }

    .th-search__btn {
      background: map-get($colors, btnDefaultBg);
      border-color: map-get($colors, border--lightest);
      color: map-get($colors, text--light);
      width: 30px;
      padding:0;
      font-size: 1.6rem;

      &:hover {
          background: none;
      }
    }

    &:hover {
      .th-search__group {
        @include single-transition(all, 200ms, ease);
        width: 205px;
      }

      .th-search__input {
        @include inline-block;
      }
    }

  }

  .th-search--small {
    display: none;
  }

}

@include respond-to(lg) {

  .th-search {
    @include inline-block;

    .th-search__group {
      height: 31px;
    }

    .th-search__input {
      display: none;
      margin: 0;
    }

  }

  .th-search--small {
    display: none;
  }

}
