.th-refine-exp {
  display: none;
}

@include respond-to(md-and-up) {
  .th-refine-exp {
    display: block;
    background: map-get($colors, component-bg--darker);
    padding: 11px 10px;

    .th-filter-text {
      font-size: 1.4rem;
      padding-right: 15px;
      font-weight: bold;
      text-transform: uppercase;
    }

    select {
      min-width: 174px;
      margin-right: 10px;
    }
  }
}

@include respond-to(lg) {
  .th-refine-exp {
    select {
      min-width: 233px;
      margin-right: 15px;
    }
  }
}

