.vn-slider {

	.carousel-indicators {
		.active {
			width            : 13px;
			height           : 13px;
			border           : 0;
			background-color : $brand-info;
		}

		li {
			width            : 13px;
			margin           : 0 3px;
			height           : 13px;
			background-color : $body-bg;
			border           : 0;
		}
	}

	.carousel-control {
		.glyphicon-chevron-left, .glyphicon-chevron-right {
			width       : 35px;
			height      : auto;
			margin      : 0;
			margin-top  : -60px;
			font-size   : 110px;
			font-family : Arial, Helvetica, sans-serif;

			@include respond-to(xs) {
				font-size  : 80px;
				margin-top : -50px;
			}
		}

		.glyphicon-chevron-left {
			left : 20%;

			&:before {
				content : '\2039';
			}
		}

		.glyphicon-chevron-right {
			right : 20%;

			&:before {
				content : '\203a';
			}
		}
	}

	&__slide {
		height              : 237px;
		background-size     : cover;
		background-position : center center;

		@include respond-to(sm) {
			height : 405px;
		}
		@include respond-to(md-and-up) {
			height : 400px;
		}
	}

	&--product {

		.carousel-inner {
			height: 370px;
		}

		.vn-slider__slide {
			height : auto;
		}

		img {
			margin : 0 auto;
		}
	}
}

.th-content-slider {
	@include respond-to(sm-and-up) {
		margin-bottom : 30px;
	}
	@include respond-to(md-and-up) {
		padding-left  : 15px;
		padding-right : 15px;
	}
}
