//Used for address display, pickers, and editors

.th-address {

	&__display {
		cursor      : pointer;
	  	line-height : 20px;

	  	&.-readonly {
			cursor: default;

			&:hover{
				cursor: default;
			  	color: #333;

				> .row:hover{
					cursor: default;
				}
			}
		}

		.row {
			display     : flex;
			align-items : center;
		}

		&:hover:not(.-readonly) {
			background : #fff;
			color      : #777;
		}

		&__addressPart {
			font-size: 14px;
		  	line-height: 1.4;
		}

		&__actions {
			padding-top: 15px;

			&__preferred {
				color: $brand-success;
			  	line-height: 26px;
			}
		}
	}

	&__form-wrapper {
		padding: 20px 10px 0px 10px;

		div[class^="col-"]{
			padding-left  : 8px;
			padding-right : 8px;

			@media (max-width: $screen-xs){
				padding-left  : 5px;
				padding-right : 5px;
			}
		}

		[name="type"] + label{
			color     : #999;
			font-size : 14px;
		}
	}

	&__change {
		text-align    : center;
		margin-bottom : 40px;
	}

	&__location {
		text-align : center;
		padding    : 0 0 10px 0;

		button.btn {
		  font-size : 14px;
		}
	}

	&__country {
		position : relative;

		.dropdown-menu {
			min-width : 150px;
			width     : 100%;
		}
	}

	&__same-as {
		text-align : center;
		padding    : 0 20px;
	}

	&__state {
		position : relative;

		.vn-dropdown{
			&__menu{
				@media (max-width: $screen-xs){
					position    : absolute;
					left        : 50%;
					margin-left : -90px;
				}
			}
		}
	}
}
