//Used for high level and layout styles on the checkout page

.th-checkout {
	background-color : #fafafa;
	height           : inherit;
  	margin           : -20px 15px;
	font-size        : 1.5rem;

  	&__header{
	  text-align: center;
	  padding: 10px;
	}

	&__place-order-fixed{
		position         : absolute;
		top              : 99px;
		right            : 0;
		width            : 33.3333%;
		z-index          : 100;
		padding          : 10px 30px 10px 15px;
		background-color : #FFFFFF;
	  	display          : none;
		@include box-shadow(3px 2px 8px 0px rgba(0,0,0,0.3));

		&--active{

			@media (min-width: $screen-md){
				display : block;
			}
		}

		&__btn{
			 margin : 0;
		}
	}

  	&__payment-type{
	  width: 200px;
	  margin: 0 auto;
	  position: relative;

	  .dropdown-menu{
		width: 100%;
	  }
	}

	&__loading{
		display          : none;
		position         : absolute;
		z-index          : 200;
		top              : 99px;
		width            : 33.3333333%;
		height           : calc(100% - 161px);
		height           : -webkit-calc(100% - 161px);
		height           : -moz-calc(100% - 161px);
		background-color : rgba(255,255,255,.8);

		@media (max-width: $screen-md){
			width: 100%;
		}

		&[vn-busy-animation-show="true"]{
			display: block;
		}

		&--ship-to{
			left: 0%;
		}
		&--pay-with{
			left: 33.3333%;
		}
		&--review{
			left: 66.6666%;
		}

		@media (max-width: $screen-sm){
		  &--ship-to,
		  &--pay-with,
		  &--review{
			left: 0%;
			width: 100%;
			height: 100%;
		  }
		}

		&-inner{
			height         : 20px;
			width          : 20px;
			text-align     : center;
			margin         : 0 auto;
			display        : inline-block;
			vertical-align : top;
		}

		svg{
			position    : absolute;
			left        : 50%;
			top         : 50%;
			margin-top  : -40px;
			margin-left : -40px;

			@media (max-width: $screen-md){
				top        : 20%;
				margin-top : 0;
			}
		}

		svg path,
		svg rect {
			fill : #333;
		}
	}

	&__section-heading{
		text-align     : center;
		margin         : 40px 0 20px 0;
		font-size      : 2.4rem;
		font-weight    : 500;
		text-transform : uppercase;
	}

	&__step {
		color      : #333;
		padding    : 20px 20px;
		height     : 100%;
		border-top : 1px solid #ccc;
		position   : relative;

		&__ship-to{

		}
		&__pay-with{

		}
		&__review{

		}

		&__btn-continue {
			margin-top : 20px;
		}

		&.-active {
			overflow-y 		 : auto;
			border           : none;
			border-top       : 1px solid $brand-info;
			background-color : #eee;
		  	height           : 840px;

		  	.th-checkout{

			  &__step{

				&__overlay{
				 display: none;
				}
			  }
			}

			&.-no-scroll {
				overflow-y: hidden;
			}
		}

		&__overlay {
			z-index          : 999;
			position         : absolute;
			top              : 0;
			bottom           : 0;
			left             : 0;
			right            : 0;
			height           : 100%;
			width            : 100%;
			background-color : #fafafa;
			cursor           : default;
			opacity: 0.8;
  			filter: alpha(opacity=80);
			@include transition(opacity .15s);

			&.-complete {
				opacity: 0.6;
  				filter: alpha(opacity=60);

				&:hover {
					opacity: 0.3;
  					filter: alpha(opacity=30);
				}
			}

			&:hover{
				cursor: default;
			}

			&.-complete {
				cursor : pointer;
			}
		}

		&__drawer {
			z-index          : 888;
			position         : absolute;
			height           : 100%;
			width            : 0;
			background-color : #eee;
			top              : 0;
			bottom           : 0;
			left             : 0;
			right            : 0;
			padding          : 0;
			border           : none;

			@include single-transition(width, 500ms, ease);

			&.-left {
				left  : 0;
				right : auto;
			}

			&.-right {
				right : 0;
				left  : auto;
			}

			&.-open {
				width   : 100%;

				.th-checkout__step__drawer__body {
					@include single-transition(opacity, 1000ms, ease);
					opacity : 1;
				}
			}

			&__close {
				position : absolute;
				top      : 5px;
				right    : 20px;
			  	z-index  : 1;
			  	font-size: 12px;
			}

			&__body {
				opacity    : 0;
				overflow-y : scroll;
				height     : 100%;
				overflow-x : hidden;
				padding    : 20px;
			}

			&__title {
				font-weight    : 500;
				text-transform : uppercase;
				margin-top     : 10px;
				margin-bottom  : 20px;
			}

			&__form-wrapper {
				padding : 40px;
			}
		}

		&__title {
			text-align    : center;
			font-size     : 2.4rem;
			margin-bottom : 20px;

			&__stepNumber span {
				border-radius    : 50%;
				width            : 41px;
				height           : 41px;
				padding          : 8px 0 0 2px;
				background-color : $brand-primary;
				color            : white;
				@include inline-block;
			}

			&__stepName {
				font-weight    : 500;
				text-transform : uppercase;
				margin-top     : 10px;
			}

			.fa-check-circle-o {
				height : 41px;
			}
		}

	}

	.row {
		height  : inherit;
	}
}

.vn-page-checkout,
.vn-page-paypal-checkout{

  #main-content-area{
	height: calc(100% - 140px);
	height: -webkit-calc(100% - 140px);
	overflow: hidden;
  }
  .th-checkout{
	height: 100%;
	margin-top: 0px;
	margin-bottom: 0px;

	&__step{
	  height: 100%;
	}
  }
  .th-checkout-footer{
	margin-top: 0px;
  }
}
.vn-page-paypal-checkout{
  #main-content-area{
	@media (max-width: $screen-sm){
	  height: auto;
	}
  }
}
.vn-page-checkout{
  #main-content-area{

	@media (max-width: $screen-md){
	  height: auto;
	}
  }
}
