//Used for credit card editor and picker

.th-credit-card {
  background-color : $body-bg;
  height           : 200px;
  max-width        : 300px;
  margin           : 0 0 20px;
  border           : 1px solid #ebebeb;
  box-shadow       : rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
  @include border-radius(10px);

  &.-aligned {
	margin : 0 auto 20px;
  }

  &.-inactive {
	color       : $gray-light;
	margin-left : 0;

	.th-credit-card__img {
	  @include opacity(.6);
	}
  }

  &.-selected {
	border       : 1px solid $gray-light;
	color        : $gray-darker;
	text-shadow  : -2px 2px 3px #aaa;
	margin-left  : auto;

	.th-credit-card__display__image {
	  @include opacity(1);
	}
  }

  #frmCreditCard {
	margin: 30px 0 0 0;
  }

  .row {
	padding : 0;
	margin  : 0;
  }

  &__strip {
	margin           : 15px 0;
	height           : 30px;
	background-color : #ccc;
  }

  &__exp-month {
	position : relative;

	.dropdown-menu {
	  min-width : 150px;
	  width     : 150px;
	  max-height : 150px;
	  overflow-y : auto;
	}
  }

  &__exp-year {
	position : relative;

	.dropdown-menu {
	  min-width  : 80px;
	  width      : 100%;
	  max-height : 150px;
	  overflow-y : auto;

	  a {
		padding : 3px 15px;
	  }
	}
  }

  &__display {

	&:hover {
	  background : #fff;
	}

	&__last4 {
	  line-height: 30px;
	  margin-left: 5px;
	}

	&__exp {
	  line-height: 30px;
	}

	&.-verify-CVV {

	  .form-group {
		margin-bottom: 0;
	  }
	}

	&__verifyCVV {
	  text-align: center;
	  border-top: 1px solid #ddd;
	  margin-top: 20px;
	  padding-top: 20px;

	  &__label{
		vertical-align: middle;
		margin: 0 10px 0 0;

		@media(max-width: $screen-xs){
		  font-size: 14px;
		}
	  }

	  &__input{
		width: 60px;
		position: relative;
		display: inline-block;
		vertical-align: middle;

		input{
		  margin: 0;
		}
		label{
		  left: 0;
		  top: 10px;
		  margin: 0;
		}
	  }
	}

	.form-group .vn-placeholder{
	  left: 10px;

	  &.-selected{
		top: -7px;
		left: 10px;
	  }
	}
  }

  &__heading {
	text-align: center;
	margin: 0 0 20px 0;
	font-size     : 2.4rem;
	font-weight    : bold;
	text-transform : uppercase;
  }

  &__change {
	text-align : center;
	margin-bottom : 20px;
	margin-top: 10px;
  }

  &__tile {
	position    : relative;
  }

  .credit-card-error {
	border-radius: $alert-border-radius;
	color:		 		$alert-danger-text;
	background-color: 	$alert-danger-bg;
	width:			 	300px;
	border: 			1px solid #ebebeb;
	box-shadow: 		rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
	margin-bottom: 		10px;
	padding: 			$alert-padding;

	&.-aligned {
	  margin : 0 auto 5px auto;
	}
  }

  &__img {
	height                  : 30px;
	width                   : 44px;
	background              : url('/images/sprites/creditcards.png') -166px 0;
	-webkit-transform-style : preserve-3d;
	-webkit-transition      : -webkit-transform 0.3s;
	-moz-transition         : -moz-transform 0.3s;
	transition              : transform .3s;
	display                 : inline-block;
	margin                  : 0;
	vertical-align          : middle;

	&--notvalid {
	  -webkit-filter : grayscale(100%);
	  -moz-filter    : grayscale(100%);
	  filter         : grayscale(100%);
	}

	&--flipped {
	  background : url('/images/sprites/creditcards.png') -291px 0;
	}

	&--unknown {
	  background : url('/images/sprites/creditcards.png') -166px 0;
	}

	&--amex {
	  background : url('/images/sprites/creditcards.png') 1px 0;
	}

	&--amex-flipped {
	  background : url('/images/sprites/creditcards.png') -333px 0;
	}

	&--visa {
	  border: 1px solid #ddd;
	  background : url('/images/sprites/creditcards.png') -42px 0;
	}

	&--mastercard {
	  background : url('/images/sprites/creditcards.png') -81px 0;
	}

	&--discover {
	  background : url('/images/sprites/creditcards.png') -208px 0;
	}
  }

  //Only float the cc image that exists inside card. we use the image in other places too
  .th-credit-card__img{
	float: right;
  }
}

.list-group-item{
  .th-credit-card__img {
	margin-left: 32px;
  }
}
