//Used for all paypal related styles

.paypal-button-hidden {
  display: none;
}

.vn-paypal-button{
  background-color: transparent;
  border: 0;
  margin-top: 10px;
  text-align: center;
}

.th-checkout.th-checkout--paypal{
  margin-left: auto;
  margin-right: auto;
  background-color: #eee;

  .vn-app-message--fixed{
	top: 115px;
  }

  .th-checkout{

	&__ship-method{

	  &:hover{
		background-color: #fff;
	  }
	}

	&__step{

	  &__inner{
		margin: 0 auto;

		@media (min-width: $screen-xs){
		  width: 100%;
		}
		@media (min-width: $screen-sm){

		}
		@media (min-width: $screen-md){
		  width: 80%;
		}
		@media (min-width: $screen-lg){

		}
	  }

	  &__overlay{
		opacity: 0.6;
	  }

	  &__ship-to{

		.th-checkout__ship-method__heading{
		  display: none;
		}
	  }
	}
	&__loading{
	  width: 50%;

	  &--review{
		left: 50%;
	  }

	  @media (max-width: $screen-sm){
		width: 100%;
		height: 100%;

		&--review{
		  left: 0%;
		}
	  }
	}
  }

  .th-credit-card__display{

	*{
	  cursor: default;
	}
	&:hover{
	  background: #fafafa;
	}
  }
}
