%subtotal {
	font-size   : 1.5rem;
	position    : absolute;
	right       : 0;
	top         : 0;
}

.th-checkout__review {

	&__totals {
		border-bottom : 1px solid #ddd;
		padding: 0px 0px 14px 0px;

		&__expand {

			float : left;
			margin-top: -4px;

			button {
				border           : none;
				background-color : transparent;
				outline          : 0;
				outline          : none;
			}

			span {
				&:after {
					font-family : 'FontAwesome';
					content     : '\f078'; // fa-chevron-down
					margin      : 0 5px;
				}
			}
		}

		&__expand.expanded {
			span {
				&:after {
					font-family : 'FontAwesome';
					content     : '\f077'; // fa-chevron-up
					margin      : 0 5px;
				}
			}
		}

		&__count {
			float : left;
		}

		&__amount {
			float       : right;
			font-size   : 1.5rem;
		}
	}

	&__discounts {
		border-bottom : 1px solid #CCC;

		&__discount {
			margin : 14px 0;

			.discount-info-row {
				position : relative;
			}

			&-info {
				text-align : left;

				&--subtotal {
					@extend %subtotal;
				}
			}
		}
	}

	&__store-credit {
		border-bottom : 1px solid #ddd;

		.store-credit-info-row {
			position   : relative;
			margin     : 14px 0;
			text-align : left;
		}

		&-info {

			&--subtotal {
				@extend %subtotal;
			}
		}
	}

	&__shipping-method {
		border-bottom : 1px solid #ddd;

		.shipping-method-info-row {
			position   : relative;
			margin     : 14px 0;
			text-align : left;
		}

		&-info {

			&--subtotal {
				@extend %subtotal;
			}
		}
	}

	&__tax {
		border-bottom : 1px solid #ddd;

		.tax-info-row {
			position   : relative;
			margin     : 14px 0;
			text-align : left;
		}

		&-info {

			&--subtotal {
				@extend %subtotal;
			}
		}
	}

	&__grand-total {

		.grand-total-info-row {
			position   : relative;
			margin-top : 14px;
			text-align : left;
			font-size: 20px;
			font-weight: 500;
		}

		&-info {

			&--subtotal {
				@extend %subtotal;
				font-size: 20px;
				font-weight: 500;
			}
		}
	}

	&__items {
		padding    : 10px 0;
		overflow-y : auto;
		height     : 100%;

		&--label {
			text-transform : uppercase;
		}

		&__item {

			position      : relative;
			margin-bottom : 10px;
			border-bottom : 1px solid #CCC;

			&.-last {
				margin-bottom : 0;
				border-bottom: 1px solid transparent;
			}

			&-image {
				float        : left;
				margin-right : 10px;

				img {
					max-height : 80px;
					max-width  : 80px;
				}
			}

			&-info {
				line-height   : 1.2;
				text-align    : left;
				margin-bottom : 5px;

				.item-info-row {
					position : relative;
				}

				&--name {
					@include ellipsis(true);
				}

				&--qty {
				}

				&--subtotal {
					@extend %subtotal;
				}
			}
		}
	}
}
