.displayAddress {

	.row{
		margin : 0 0 0 0;
	}
	.row div{
		margin-bottom : 10px;
		margin-left   : 0px;
		margin-right  : 0px;

		&:last{
			margin-bottom : 0px;
		}

	}
}

.th-checkout__ship-method {

	&__price {
		position  : absolute;
		top       : 50%;
		margin-top: -7px;
		right     : 20px;
	}

	&__name{
		margin: 0px 80px 0px 25px !important;
	}

	&__display {
		position : relative;
		overflow : auto;

		&__price {
			position   : absolute;
			top        : 22px;
			right      : 20px;
			text-align : right;
		}
		&__name{
		  padding-right: 60px;
		  line-height: 1.3;
		}
	}
}
