.th-checkout__thanks {

	&__header {
		text-align : center;
		font-size  : $font-size-large;
		margin     : 20px 0;

		@media (max-width: $screen-sm){
			margin-bottom: 0;
		}

		.title {
			font-weight: 500;
			font-size: $font-size-h3;
		}

		.order-info {
		}

		.action-info {
			margin-top : 10px;
			font-size: $font-size-base;
		}
	}

	&__column {

		.title {
			margin-top : 20px;
			font-weight: 500;
			font-size: $font-size-large;
		}
	}

	&__title {
		font-weight    : 500;
		text-transform : uppercase;
		text-align     : center;
		font-size      : 2rem;
		margin-top     : 20px;
	}

	&__display {
	  	font-weight   : 400;
		font-size     : 15px;
		line-height   : 20px;
	}
}
