@import 'bootstrap/panels';

/* SEARCH REFINEMENT PANELS */
.panel-group .panel-default {
  border-left: 0;
  border-right: 0;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0);
}

.panel-default > .panel-heading {
  color: #000;
  background: #fff url(../../images/template/panel-arrow.png) no-repeat center right;
  border-left: 0;
  border-right: 0;

  .panel-title {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
  }
}

.panel-default > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #fff;
}
