<div class="container">
    <div class="content-top">
        <ol class="breadcrumb visible-lg visible-md">
            <li><a ui-sref="i18n.home">Home</a></li>
            <li><a href="#">{{category.name}}</a></li>
        </ol>

        <div class="page-header">
            <h1>{{category.name}}</h1>
        </div>
        <!-- SEARCH REFINEMENT MOBILE & TABLET-->
        <div class="panel-group hidden-md hidden-lg" id="refineSearch">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a toggle="collapse" parent="#refineSearch" href="#refineBy">
                            Refine By
                        </a>
                    </h4>
                </div>
                <div id="refineBy" class="panel-collapse collapse">
                    <div class="panel-body">
                        <form role="form">
                            <div class="form-group">
                                <select class="form-control">
                                    <option value="">Category</option>
                                    <option value="">Men</option>
                                    <option value="">Women</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="form-control">
                                    <option value="">Brand</option>
                                    <option value="">Brand 1</option>
                                    <option value="">Brand 2</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="form-control">
                                    <option value="">Price</option>
                                    <option value="">$1000</option>
                                    <option value="">$1200</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <img src="/images/demo/colors.png" height="13" width="254" class="img-responsive"
                                     alt="">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- end SEARCH REFINEMNT -->

        <div class="th-refine-exp visible-md visible-lg">
            <form role="form" class="form-inline">
                <div class="form-group th-filter-text">
                    Filter by:
                </div>
                <div class="form-group">
                    <select class="form-control">
                        <option value="">Category</option>
                        <option value="" ng-repeat="sc in subCategories">{{ sc.name }}</option>
                    </select>
                </div>
                <div class="form-group">
                    <select class="form-control">
                        <option value="">Brand</option>
                        <option value="">Brand 1</option>
                        <option value="">Brand 2</option>
                    </select>
                </div>
                <div class="form-group">
                    <select class="form-control">
                        <option value="">Price</option>
                        <option value="">$1000</option>
                        <option value="">$1200</option>
                    </select>
                </div>
                <div class="form-group">
                    <img src="/images/demo/colors.png" height="13" width="254" class="img-responsive" alt="">
                </div>
            </form>
        </div>

        <div class="th-sort-by">
            <div class="th-sort-left pull-left">
                Sort by Price: <a href="#">High</a> | <a href="#">Low</a>
            </div>
            <div class="pull-right th-grid-select hidden-xs hidden-md hidden-lg">
                <a href="#"><img src="/images/theme/grid-layout.png" height="22" width="82" alt=""></a>
            </div>
            <div class="pull-right th-page-select visible-md visible-lg">
                Page 1 of 23 | <a href="#">Next</a> | <a href="#">View All</a>
            </div>
        </div>
    </div>

    <div class="th-products-wrap">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3" ng-repeat="product in products">
                <div class="th-product">
                    <span class="th-product__sale" ng-show="product.isOnSale"></span>
                    <span class="th-product__new" ng-show="product.isNew"></span>

                    <div class="th-product__image">
                        <a ui-sref="i18n.product({ productTitle: product.seoFriendlyProductTitle, productCode: product.code })"><img
                            ng-src="{{product.mainImage.large}}" class="img-responsive" alt=""></a>

                        <div class="th-quick-options visible-md visible-lg">
                            <a ui-sref="i18n.product({ productTitle: featuredProduct.name, productCode: featuredProduct.code })"
                               class="th-quick-view">Quick View</a>
                            <a href="#" class="th-add-to-cart"><span></span></a>
                        </div>
                    </div>
                    <div class="th-product__name">
                        <a ui-sref="i18n.product({ productTitle: product.seoFriendlyProductTitle, productCode: product.code })">{{product.name}}</a>
                    </div>
                    <div class="th-product__price">
                        <span class="th-reg-price" ng-show="product.price.regularPrice > 0">
                            <span class="th-price" ng-class="{strike: product.price.salePrice > 0}">{{product.price.regularPrice | currency}}</span>
                            <span class="th-price-text th-text-left">Reg</span>
                        </span>
                        <span class="th-now-price" ng-show="product.price.salePrice > 0">
                            <span class="th-price">{{product.price.salePrice | currency}}</span>
                            <span class="th-price-text">Now</span>
                        </span>
                    </div>
                    <div class="th-colors-sm">
                        <a href="#"><img src="/images/theme/sw-1-sm.png" class="img-responsive" alt=""></a>
                        <a href="#"><img src="/images/theme/sw-2-sm.png" class="img-responsive" alt=""></a>
                        <a href="#"><img src="/images/theme/sw-3-sm.png" class="img-responsive" alt=""></a>
                        <a href="#"><img src="/images/theme/sw-4-sm.png" class="img-responsive" alt=""></a>
                        <a href="#"><img src="/images/theme/sw-5-sm.png" class="img-responsive" alt=""></a>
                    </div>
                </div>
            </div>
        </div>

        <button class="btn btn-default btn-lg visible-xs th-load-more">Load More</button>
    </div>

</div><!-- .container -->
