<!-- SLIDER -->
<div class="container th-content-slider" data-ng-if="themeSettings.pages.home.slider.isEnabled">
  <div class="vn-slider">
    <carousel data-interval="themeSettings.pages.home.slider.interval">
      <slide data-ng-repeat="slide in themeSettings.pages.home.slider.slides" data-active="slide.active">
        <a href="{{slide.linksTo}}" title="{{slide.headline}} - {{slide.subHeadline}}">
          <div class="vn-slider__slide" data-ng-style="{'background-image':'url({{slide.imageUrl}})' }"></div>
        </a>
      </slide>
    </carousel>
  </div>
</div><!-- /.container carousel -->

<div class="container th-home-content">

  <!-- CONTENT 1 -->
  <div data-ng-bind-html="themeSettings.pages.home.content1 | html"></div>

  <!-- TILES -->
  <div data-ng-if="themeSettings.pages.home.tiles.isEnabled">

    <!-- MOBILE & TABLET CONTENT -->
    <div class="visible-xs visible-sm">
      <div class="row">
        <div class="col-sm-6 hidden-xs">
          <a data-ng-href="{{themeSettings.pages.home.tiles.tile1.linkTo}}" class="th-promo th-p1"><img ng-src="{{themeSettings.pages.home.tiles.tile1.imageUrl}}" class="img-responsive" alt="" /></a>
        </div>
        <div class="col-sm-6">
          <a data-ng-href="{{themeSettings.pages.home.tiles.tile2.linkTo}}" class="th-promo th-p2">
            <span class="th-title" data-translate="home.promoCategoryHeading">Now Stocking Herschel Bags.</span>
            <span class="th-text" data-translate="home.promoCategoryDescription">
              Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
              <span class="th-link" data-translate="home.shopNow">Shop Now &gt;</span>
            </span>
            <img ng-src="{{themeSettings.pages.home.tiles.tile2.imageUrl}}" class="img-responsive" alt="" />
          </a>
        </div>
      </div><!-- .row -->
    </div><!-- visible-xs -->
    <!-- MOBILE ONLY CONTENT -->
    <div class="visible-xs">
      <div class="row">
        <div class="col-xs-6 th-p-pad">
          <a data-ng-href="{{themeSettings.pages.home.tiles.tile1.linkTo}}" class="th-promo th-p1-sm"><img ng-src="{{themeSettings.pages.home.tiles.tile1.imageUrl}}" class="img-responsive" alt="" /></a>
        </div>
        <div class="col-xs-6 th-p-pad">
          <a data-ng-href="{{themeSettings.pages.home.tiles.tile3.linkTo}}" class="th-promo th-p3-sm"><img ng-src="{{themeSettings.pages.home.tiles.tile3.imageUrl}}" class="img-responsive" alt="" /></a>
        </div>
      </div>
    </div>

    <!-- MOBILE & TABLET CONTENT -->
    <div class="visible-xs visible-sm">
      <div class="th-last">
        <div class="row">
          <div class="col-sm-6 hidden-xs">
            <a data-ng-href="{{themeSettings.pages.home.tiles.tile3.linkTo}}" class="th-promo th-p3"><img ng-src="{{themeSettings.pages.home.tiles.tile3.imageUrl}}" class="img-responsive" /></a>
          </div>
          <div class="col-sm-6 th-p-pad">
            <a data-ng-href="{{themeSettings.pages.home.tiles.tile4.linkTo}}" class="th-promo th-b1"><img ng-src="{{themeSettings.pages.home.tiles.tile4.imageUrl}}" class="img-responsive" alt="" /></a>
            <a data-ng-href="{{themeSettings.pages.home.tiles.tile5.linkTo}}" class="th-promo th-b2"><img ng-src="{{themeSettings.pages.home.tiles.tile5.imageUrl}}" class="img-responsive" alt="" /></a>
            <a data-ng-href="{{themeSettings.pages.home.tiles.tile6.linkTo}}" class="th-promo th-b3"><img ng-src="{{themeSettings.pages.home.tiles.tile6.imageUrl}}" class="img-responsive" alt=""></a>
          </div>
        </div>
      </div>
    </div>

    <!-- DESKTOP CONTENT -->
    <div class="visible-md visible-lg">
      <div class="row">
        <div class="col-md-4">
          <a data-ng-href="{{themeSettings.pages.home.tiles.tile1.linkTo}}" class="th-promo th-p1"><img ng-src="{{themeSettings.pages.home.tiles.tile1.imageUrl}}" class="img-responsive" alt="" /></a>
        </div>
        <div class="col-md-4">
          <a data-ng-href="{{themeSettings.pages.home.tiles.tile2.linkTo}}" class="th-promo th-p2">
            <div class="th-title">Now Stocking Herschel Bags.</div>
            <div class="th-text">
              Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
              <div class="th-link" data-translate="home.shopNow">Shop Now &gt;</div>
            </div>
            <img ng-src="{{themeSettings.pages.home.tiles.tile2.imageUrl}}" class="img-responsive" alt="" />
          </a>
        </div>
        <div class="col-md-4">
          <a data-ng-href="{{themeSettings.pages.home.tiles.tile3.linkTo}}" class="th-promo th-p3"><img ng-src="{{themeSettings.pages.home.tiles.tile3.imageUrl}}" class="img-responsive" alt="" /></a>
        </div>
      </div>
    </div>

    <!-- DESKTOP CONTENT -->
    <div class="visible-md visible-lg">
      <div class="th-last">
        <div class="row">
          <div class="col-md-4">
            <a data-ng-href="{{themeSettings.pages.home.tiles.tile4.linkTo}}" class="th-promo th-b1"><img ng-src="{{themeSettings.pages.home.tiles.tile4.imageUrl}}" class="img-responsive" alt="" /><span class="th-category">New Sunglasses ></span></a>
          </div>
          <div class="col-md-4">
            <a data-ng-href="{{themeSettings.pages.home.tiles.tile5.linkTo}}" class="th-promo th-b2"><img ng-src="{{themeSettings.pages.home.tiles.tile5.imageUrl}}" class="img-responsive" alt="" /><span class="th-category">Townsend Shoes ></span></a>
          </div>
          <div class="col-md-4">
            <a data-ng-href="{{themeSettings.pages.home.tiles.tile6.linkTo}}" class="th-promo th-b3"><img ng-src="{{themeSettings.pages.home.tiles.tile6.imageUrl}}" class="img-responsive" alt=""></a>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- CONTENT 2 -->
  <div data-ng-bind-html="themeSettings.pages.home.content2 | html"></div>

  <!-- FEATURED PRODUCTS -->
  <div class="visible-lg visible-md" data-ng-if="themeSettings.pages.home.featuredProducts.isEnabled">
    <div data-tabset>
      <div data-tab>
        <div data-tab-heading data-translate="home.featured">
          Featured
        </div>
        <div class="th-products-wrap clearfix">
          <div class="col-xs-12 col-sm-3 col-md-3" data-ng-repeat="product in featuredProducts" data-ng-include="'views/partials/product-tile.html'">
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- CONTENT 3 -->
  <div data-ng-bind-html="themeSettings.pages.home.content3 | html"></div>

</div>
