<div class="container" itemscope itemtype="http://schema.org/Product">
  <div class="th-product-wrap clearfix">
    <!-- PRODUCT TITLE/NAME FOR TABLET -->
    <div class="row">
      <div class="col-sm-12 visible-sm">
        <div class="th-product-name-lg">
          <span itemprop="name" data-ng-bind="product.name"></span>
        </div>
      </div>
    </div>

    <!-- PRODUCT IMAGE AND ALT VIEWS -->
    <div class="row">
      <div class="col-sm-6 col-md-5">
        <div class="visible-xs th-product">
          <div class="vn-slider vn-slider--product">
            <carousel data-interval="carousel.interval">
              <slide data-ng-repeat="image in product.images[product.optionSelection.images] | filter: '!youtube.com'" data-active="image.active">
                <div class="vn-slider__slide">
                  <img itemprop="image" data-ng-src="{{image.large}}" class="img-responsive" />
                </div>
              </slide>
            </carousel>
          </div>
        </div>
        <div class="hidden-xs">
          <div class="clearfix th-product-view vn-zoom">
            <img data-easy-zoom
              class="th-product-view__image vn-zoom__image"
              data-ng-src="product.image.medium"
              data-ez-zoom-src="product.image.large"
              data-ez-adjacent="isInDesktopMode"
              data-ez-overlay="!isInDesktopMode"
              alt="{{product.name}}">
            <div class="th-product-view__alts">
              <span data-ng-click="product.image=image" ng-repeat="image in product.images[product.optionSelection.images] | filter: '!youtube.com'" class="col-xs-3 th-product-view__thumbnail">
                <img data-ng-src="{{image.medium}}" class="img-responsive" alt="">
              </span>
            </div>
          </div>
        </div><!-- .th-product -->
      </div>

      <!-- PRODUCT DETAILS RIGHT -->
      <div class="col-sm-6 col-md-7">
        <div class="th-product-details">
          <div class="row visible-md visible-lg">
            <div class="col-xs-12">
              <div class="th-product-details__title">
                <a href="#"><span itemprop="name" data-ng-bind="product.name"></span></a>
              </div>
            </div><!-- .product name -->
          </div>
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <div class="th-product__name visible-xs">
                <a href="#"><span itemprop="name" data-ng-bind="product.name"></span></a>
              </div>
              <div class="th-product__price--large">
                <span class="th-reg-price" data-ng-show="product.price.regularPrice > 0"><span class="th-price" data-ng-class="{strike: product.price.salePrice > 0}"><span itemprop="price" data-ng-bind="product.price.regularPrice | currency"></span></span><span class="th-price-text th-text-left" data-translate="product.regularPriceLabel">Reg</span></span>
                <span class="th-now-price" itemscope itemtype="http://schema.org/Offer" data-ng-show="product.price.salePrice > 0"><span class="th-price"><span itemprop="price" data-ng-bind="product.price.salePrice | currency"></span></span><span class="th-price-text" data-translate="product.nowPriceLabel">Now</span></span>
              </div>
              <div class="hidden-xs">
                <div class="th-write-review">
                  <div class="th-review-stars">
                    <div class="th-icon th-icon--star th-review-stars__star">
                      <div class="th-icon__foreground"></div>
                    </div>
                    <div class="th-icon th-icon--star th-review-stars__star">
                      <div class="th-icon__foreground"></div>
                    </div>
                    <div class="th-icon th-icon--star th-review-stars__star">
                      <div class="th-icon__foreground"></div>
                    </div>
                    <div class="th-icon th-icon--star-half th-review-stars__star">
                      <div class="th-icon__foreground"></div>
                    </div>
                    <div class="th-icon th-icon--star-inactive th-review-stars__star">
                      <div class="th-icon__foreground"></div>
                    </div>
                  </div>
                  <a href="#" data-translate="product.writeReview"></a>
                </div>
                <div class="th-add-favorite">
                  <a href="#"><span class="th-favorite-icon"></span> <span data-translate="product.addToFavorites">Add to Favorites &gt;</span></a>
                </div>
              </div>
            </div><!-- end left product column -->
            <div class="col-xs-12 col-md-6">
              <div class="th-product-details__options">
                <div data-vn-product-option
                  data-ng-repeat="option in product.options"
                  data-option="option"
                  data-product="product"
                  data-cart-item="cartItem">
                </div>
              </div>
              <div class="row">
                <p class="th-product-details__availability" data-ng-show="availabilityMessage" ng-bind="availabilityMessage"></p>
              </div>
              <div class="row">
                <div class="col-xs-12 col-sm-4 th-qty-wrap">
                  <div class="visible-xs">
                    <div class="input-group th-qty-counter">
                      <span class="input-group-btn">
                        <button class="btn btn-default th-qty-counter__btn" data-ng-click="decrementQty()" data-ng-disabled="cartItem.quantity === 1" type="button">-</button>
                      </span>
                      <input type="text" class="form-control th-qty-counter__input" data-ng-model="cartItem.quantity" placeholder="1">
                      <span class="input-group-btn">
                        <button class="btn btn-default th-qty-counter__btn" data-ng-click="incrementQty()" type="button">+</button>
                      </span>
                    </div>
                  </div>
                  <div class="hidden-xs">
                    <div class="input-group th-qty-counter">
                      <span class="input-group-btn">
                        <button class="btn btn-default th-qty-counter__btn" data-ng-click="decrementQty()" data-ng-disabled="cartItem.quantity === 1" type="button">-</button>
                      </span>
                      <input type="text" class="form-control th-qty-counter__input" data-ng-model="cartItem.quantity" placeholder="1">
                      <span class="input-group-btn">
                        <button class="btn btn-default th-qty-counter__btn" data-ng-click="incrementQty()" type="button">+</button>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-8 th-add-to-cart">
                  <button class="btn btn-primary btn-lg btn-block"
                    data-translate="product.addToCart"
                    data-ng-click="addToCart()"
                    data-ng-disabled="!isAddToCartEnabled"
                    data-analytics-category="element click"
                    data-analytics-label="Add to Cart"
                    data-analytics-location="body-product"
                    data-analytics-description="Add to Cart Button">
                    Add to Cart
                  </button>
                </div>
              </div>
            </div>

            <div class="th-product-info visible-lg visible-md">
              <div data-accordion data-close-others="true">
                <div data-accordion-group data-is-open="accordionPanels.isopen1" data-ng-show="product.descriptions.detail">
                  <div data-accordion-heading>
                    <span data-translate="product.description">Description</span>  <i class="pull-right glyphicon" data-ng-class="{'glyphicon-chevron-down': accordionPanels.isopen1, 'glyphicon-chevron-right': !accordionPanels.isopen1}"></i>
                  </div>
                  <span itemprop="description" data-ng-bind-html="toTrusted(product.descriptions.detail)"></span>
                </div>
                <div data-accordion-group data-is-open="accordionPanels.isopen2" data-ng-show="product.descriptions.features">
                  <div data-accordion-heading>
                    <span data-translate="product.features">Features</span>  <i class="pull-right glyphicon" data-ng-class="{'glyphicon-chevron-down': accordionPanels.isopen2, 'glyphicon-chevron-right': !accordionPanels.isopen2}"></i>
                  </div>
                  <span data-ng-bind-html="toTrusted(product.descriptions.features)"></span>
                </div>
                <div data-accordion-group data-is-open="accordionPanels.isopen3" data-ng-show="product.descriptions.techSpecs">
                  <div data-accordion-heading>
                    <span data-translate="product.techSpecs">Tech Specs</span>  <i class="pull-right glyphicon" data-ng-class="{'glyphicon-chevron-down': accordionPanels.isopen3, 'glyphicon-chevron-right': !accordionPanels.isopen3}"></i>
                  </div>
                  <span data-ng-bind-html="toTrusted(product.descriptions.techSpecs)"></span>
                </div>
                <div data-accordion-group data-is-open="accordionPanels.isopen4" data-ng-show="product.descriptions.extendedInfo">
                  <div data-accordion-heading>
                    <span data-translate="product.extendedInfo">Extended Info</span>  <i class="pull-right glyphicon" data-ng-class="{'glyphicon-chevron-down': accordionPanels.isopen4, 'glyphicon-chevron-right': !accordionPanels.isopen4}"></i>
                  </div>
                  <span data-ng-bind-html="toTrusted(product.descriptions.extendedInfo)"></span>
                </div>
              </div>
            </div><!-- .th-product-info -->

            <div class="visible-sm visible-md visible-lg">
              <div class="th-social" data-ng-include=" 'views/partials/social-sharing.html' "></div>
            </div><!-- .th-social-icons -->
          </div>
        </div>
      </div><!-- .th-product-details -->
    </div><!-- .row -->

    <div class="hidden-lg hidden-md row">
      <div class="col-sm-12">
        <div class="th-product-info">
          <div data-accordion data-close-others="true">
            <div data-accordion-group data-is-open="accordionPanels.isopen1" data-ng-show="product.descriptions.detail">
              <div data-accordion-heading>
                <span data-translate="product.description">Description</span>  <i class="pull-right glyphicon" data-ng-class="{'glyphicon-chevron-down': accordionPanels.isopen1, 'glyphicon-chevron-right': !accordionPanels.isopen1}"></i>
              </div>
              <span itemprop="description" data-ng-bind-html="toTrusted(product.descriptions.detail)"></span>
            </div>
            <div data-accordion-group data-is-open="accordionPanels.isopen2" data-ng-show="product.descriptions.features">
              <div data-accordion-heading>
                <span data-translate="product.features">Features</span>  <i class="pull-right glyphicon" data-ng-class="{'glyphicon-chevron-down': accordionPanels.isopen2, 'glyphicon-chevron-right': !accordionPanels.isopen2}"></i>
              </div>
              <span data-ng-bind-html="toTrusted(product.descriptions.features)"></span>
            </div>
            <div data-accordion-group data-is-open="accordionPanels.isopen3" data-ng-show="product.descriptions.techSpecs">
              <div data-accordion-heading>
                <span data-translate="product.techSpecs">Tech Specs</span>  <i class="pull-right glyphicon" data-ng-class="{'glyphicon-chevron-down': accordionPanels.isopen3, 'glyphicon-chevron-right': !accordionPanels.isopen3}"></i>
              </div>
              <span data-ng-bind-html="toTrusted(product.descriptions.techSpecs)"></span>
            </div>
            <div data-accordion-group data-is-open="accordionPanels.isopen4" data-ng-show="product.descriptions.extendedInfo">
              <div data-accordion-heading>
                <span data-translate="product.extendedInfo">Extended Info</span>  <i class="pull-right glyphicon" data-ng-class="{'glyphicon-chevron-down': accordionPanels.isopen4, 'glyphicon-chevron-right': !accordionPanels.isopen4}"></i>
              </div>
              <span data-ng-bind-html="toTrusted(product.descriptions.extendedInfo)"></span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- MOBILE SOCIAL ICONS -->
    <div class="row">
      <div class="col-xs-12">
        <div class="visible-xs">
          <div class="th-social" data-ng-include=" 'views/partials/social-sharing.html' "></div>
        </div>
      </div>
    </div>

    <div class="row" data-ng-if="relatedProducts || accessories">
      <div class="col-xs-12">
        <div class="th-related-wrap">
          <div data-tabset>
            <div data-tab data-ng-if="relatedProducts" data-active="tabs.relatedProducts.active">
              <div data-tab-heading data-translate="product.related">
                Related
              </div>
              <div class="th-products-wrap clearfix">
                <div class="col-xs-12 col-sm-3 col-md-3" data-ng-repeat="product in relatedProducts | filter: '!' + product.id" data-ng-include="'views/partials/product-tile.html'">
                </div>
              </div>
            </div>
            <div data-tab data-ng-if="accessories" data-active="tabs.accessories.active">
              <div data-tab-heading data-translate="product.accessories">
                Accessories
              </div>
              <div class="th-products-wrap clearfix">
                <div class="col-xs-12 col-sm-3 col-md-3" data-ng-repeat="product in accessories" data-ng-include="'views/partials/product-tile.html'">
                </div>
              </div>
            </div>
          </div>

          <!-- LOAD MORE BUTTON -->
          <div class="th-load-more visible-xs">
            <button class="btn btn-default th-load-more" data-translate="product.loadMore">Load More</button>
          </div>
        </div>
      </div>
    </div>
    <div class="th-reviews">
      <div class="th-reviews__title" data-translate="product.reviews">Reviews</div>
      <div class="th-reviews__totals">
        <div class="th-totals-left">
          <div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating" class="th-reviews__count"><meta itemprop="worstRating" content = "1">This product has recieved <span itemprop="ratingValue" data-ng-bind="ratingsAndReviews.data.avgRating"></span> out of <span itemprop="bestRating" data-ng-bind="ratingsAndReviews.data.maxRating"></span> stars based on <span itemprop="reviewCount" data-ng-bind="ratingsAndReviews.cursor.total"></span> customer reviews</div>
          <div class="th-reviews__avg">
            <!-- TODO: Do this -->
            <div class="th-review-stars">
              <div class="th-icon th-icon--star th-review-stars__star">
                <div class="th-icon__foreground"></div>
              </div>
              <div class="th-icon th-icon--star th-review-stars__star">
                <div class="th-icon__foreground"></div>
              </div>
              <div class="th-icon th-icon--star th-review-stars__star">
                <div class="th-icon__foreground"></div>
              </div>
              <div class="th-icon th-icon--star-half th-review-stars__star">
                <div class="th-icon__foreground"></div>
              </div>
              <div class="th-icon th-icon--star-inactive th-review-stars__star">
                <div class="th-icon__foreground"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="th-totals-right">
          <a href="#" class="th-read-all" data-translate="product.readAllReviews">Read All Reviews &gt;</a>
          <button class="btn btn-default btn-grey-sm" data-translate="product.writeAReview">Write a Review &gt;</button>
        </div>
      </div>
      <div class="th-review" itemprop="review" itemscope itemtype="http://schema.org/Review" data-ng-repeat="review in ratingsAndReviews.data.reviews">
        <div class="th-review__helpful"><span data-ng-bind="review.helpful"></span> people found the following review helpful</div>
        <div class="th-review__rating">
          <!-- TODO: Do this -->
          <div class="th-review-stars">
            <div class="th-icon th-icon--star th-review-stars__star">
              <div class="th-icon__foreground"></div>
            </div>
            <div class="th-icon th-icon--star th-review-stars__star">
              <div class="th-icon__foreground"></div>
            </div>
            <div class="th-icon th-icon--star th-review-stars__star">
              <div class="th-icon__foreground"></div>
            </div>
            <div class="th-icon th-icon--star-half th-review-stars__star">
              <div class="th-icon__foreground"></div>
            </div>
            <div class="th-icon th-icon--star-inactive th-review-stars__star">
              <div class="th-icon__foreground"></div>
            </div>
          </div>
          <span class="th-rating-text" itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating"><meta itemprop="worstRating" content = "1"><span itemprop="ratingValue" data-ng-bind="review.rating"></span> out of <span itemprop="bestRating" data-ng-bind="ratingsAndReviews.data.maxRating"></span></span> By <span itemprop="author" class="th-review__rating__author" data-ng-bind="review.nameOfReviewer"></span>
          <div itemprop="datePublished" class="th-rating-date hidden-xs pull-right" data-ng-bind="review.date"></div>
        </div>
        <div itemprop="name" class="th-rating-title" data-ng-bind="review.title"></div>
        <div itemprop="description" class="th-rating-description" data-ng-bind="review.body">
        </div>
        <div class="th-review__helpful">
          <span data-translate="product.wasThisReviewHelpfulToYou">Was this review helpful for you?</span>
          <button class="btn btn-default btn-grey-sm">Yes</button>
          <button class="btn btn-default btn-grey-sm">No</button>
        </div>
      </div>
    </div>
  </div><!-- .th-product-wrap -->
</div><!-- .container -->
