<div class="container" itemscope itemtype="http://schema.org/Product">
<div class="th-product-wrap clearfix">
<!-- PRODUCT TITLE/NAME FOR TABLET -->
<div class="row">
    <div class="col-sm-12 visible-sm">
        <div class="th-product-name-lg">
            <span itemprop="name" ng-bind="product.name"></span>
        </div>
    </div>
</div>

<!-- PRODUCT IMAGE AND ALT VIEWS -->
<div class="row">
<div class="col-sm-6 col-md-5">
    <div class="visible-xs th-product">
        <div class="vn-slider vn-slider--product">
            <carousel interval="interval">
                <slide ng-repeat="image in product.images | filter: '!youtube.com'" active="image.active">
                    <a href="{{image.url}}">
                        <div class="vn-slider__slide">
                            <img itemprop="image" ng-src="{{image.large}}" class="img-responsive"/>
                        </div>
                    </a>
                </slide>
            </carousel>
        </div>
    </div>
    <div class="hidden-xs">
        <div class="clearfix th-product-view vn-zoom">
            <div class="th-product-view__image vn-zoom__image" easy-zoom is-desktop="{{isInDesktopMode}}"
                 zoom-image-url="{{product.mainImage.large}}"
                 image-url="{{product.mainImage.medium}}"></div>
            <div class="th-product-view__alts">
                    <span ng-click="showAltImage(this)"
                          ng-repeat="image in product.images | filter: '!youtube.com'"
                          class="col-xs-3 th-product-view__thumbnail"><img ng-src="{{image.medium}}"
                                                                           class="img-responsive" alt=""></span>
            </div>
        </div>
    </div>
    <!-- .th-product -->
</div>

<!-- PRODUCT DETAILS RIGHT -->
<div class="col-sm-6 col-md-7">
    <div class="th-product-details">
        <div class="row visible-md visible-lg">
            <div class="col-xs-12">
                <div class="th-product-details__title">
                    <a href="#"><span itemprop="name" ng-bind="product.name"></span></a>
                </div>
            </div>
            <!-- .product name -->
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="th-product__name visible-xs">
                    <a href="#"><span itemprop="name" ng-bind="product.name"></span></a>
                </div>
                <div class="th-product__price--large clearfix">
                        <span class="th-reg-price" ng-show="product.price.regularPrice > 0">
                            <span class="th-price" ng-class="{strike: product.price.salePrice > 0}">
                                <span itemprop="price" ng-bind="product.price.regularPrice | currency"></span>
                            </span>
                            <span class="th-price-text th-text-left">Reg</span>
                        </span>
                        <span class="th-now-price" itemscope itemtype="http://schema.org/Offer"
                              ng-show="product.price.salePrice > 0"><span class="th-price">
                            <span itemprop="price" ng-bind="product.price.salePrice | currency"></span>
                        </span>
                        <span class="th-price-text">Now</span></span>
                </div>
                <div class="hidden-xs">
                    <div class="th-write-review">
                        <div class="th-review-stars">
                            <div class="th-icon th-icon--star th-review-stars__star">
                                <div class="th-icon__foreground"></div>
                            </div>
                            <div class="th-icon th-icon--star th-review-stars__star">
                                <div class="th-icon__foreground"></div>
                            </div>
                            <div class="th-icon th-icon--star th-review-stars__star">
                                <div class="th-icon__foreground"></div>
                            </div>
                            <div class="th-icon th-icon--star-half th-review-stars__star">
                                <div class="th-icon__foreground"></div>
                            </div>
                            <div class="th-icon th-icon--star-inactive th-review-stars__star">
                                <div class="th-icon__foreground"></div>
                            </div>
                        </div>
                        <a href="#">Write a Review &gt;</a>
                    </div>
                    <div class="th-add-favorite">
                        <a href="#">
                            <span class="th-favorite-icon"></span>
                            <span>Add to Favorites &gt;</span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- end left product column -->
            <div class="col-xs-12 col-md-6">
                <div class="th-options-wrap">
                    <div class="th-options">
                        <div class="th-options-title">Choose a color</div>
                        <div class="col-xs-4 col-sm-2 th-col-sm"><a href="#" class="th-swatch sw1">&nbsp;</a></div>
                        <div class="col-xs-4 col-sm-2 th-col-sm"><a href="#" class="th-swatch sw2">&nbsp;</a></div>
                        <div class="col-xs-4 col-sm-2 th-col-sm"><a href="#" class="th-swatch sw3">&nbsp;</a></div>
                        <div class="col-xs-4 col-sm-2 th-col-sm"><a href="#" class="th-swatch sw4">&nbsp;</a></div>
                        <div class="col-xs-4 col-sm-2 th-col-sm"><a href="#" class="th-swatch sw5">&nbsp;</a></div>
                        <div class="col-xs-4 col-sm-2 th-col-sm"><a href="#" class="th-swatch sw6">&nbsp;</a></div>
                    </div>
                    <!-- .th-options -->
                    <!-- <div class="th-options" ng-repeat="option in product.options">
                          <div class="th-options-title">{{option.label}}</div>
                          <div ng-repeat="choice in option.choices">
                            <div class="col-xs-4 th-col-sm">
                        <button class="btn btn-default btn-block">{{choice.label}}</button>
                      </div>
                    </div>
                        </div> -->
                    <!-- .th-options -->
                </div>
                <!-- .th-options-wrap -->
                <div class="row">
                    <div class="col-xs-12 col-sm-4 th-qty-wrap">
                        <div class="visible-xs">
                            <div class="input-group th-qty-counter">
                      <span class="input-group-btn">
                        <button class="btn btn-default th-qty-counter__btn" ng-click="decrementQty()"
                                ng-disabled="product.quantity === 1" type="button">-
                        </button>
                      </span>
                                <input type="text" class="form-control th-qty-counter__input"
                                       ng-model="product.quantity" placeholder="1">
                      <span class="input-group-btn">
                        <button class="btn btn-default th-qty-counter__btn" ng-click="incrementQty()"
                                type="button">+
                        </button>
                      </span>
                            </div>
                        </div>
                        <div class="hidden-xs">
                            <div class="input-group th-qty-counter">
                      <span class="input-group-btn">
                        <button class="btn btn-default th-qty-counter__btn" ng-click="decrementQty()"
                                ng-disabled="product.quantity === 1" type="button">-
                        </button>
                      </span>
                                <input type="text" class="form-control th-qty-counter__input"
                                       ng-model="product.quantity" placeholder="1">
                      <span class="input-group-btn">
                        <button class="btn btn-default th-qty-counter__btn" ng-click="incrementQty()"
                                type="button">+
                        </button>
                      </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-8 th-add-to-cart">
                        <button class="btn btn-primary btn-lg btn-block"
                                ng-click="addToCart()" ng-disabled="isCartButtonDisabled"
                                analytics-category="element click" analytics-label="Add to Cart"
                                analytics-location="body-product"
                                analytics-description="Add to Cart Button">Add to Cart
                        </button>
                    </div>
                </div>
            </div>

            <div class="th-product-info visible-lg visible-md">
                <div accordion close-others="true">
                    <div accordion-group is-open="isopen1" ng-show="product.sceDescriptions.detail">
                        <div accordion-heading>
                            <span>Description</span>
                            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isopen1, 'glyphicon-chevron-right': !isopen1}"></i>
                        </div>
                        <span itemprop="description" ng-bind-html="product.sceDescriptions.detail"></span>
                    </div>
                    <div accordion-group is-open="isopen2" ng-show="product.sceDescriptions.features">
                        <div accordion-heading>
                            <span>Features</span>
                            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isopen2, 'glyphicon-chevron-right': !isopen2}"></i>
                        </div>
                        <span ng-bind-html="product.sceDescriptions.features"></span>
                    </div>
                    <div accordion-group is-open="isopen3" ng-show="product.sceDescriptions.techSpecs">
                        <div accordion-heading>
                            <span>Tech Specs</span>
                            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isopen3, 'glyphicon-chevron-right': !isopen3}"></i>
                        </div>
                        <span ng-bind-html="product.sceDescriptions.techSpecs"></span>
                    </div>
                    <div accordion-group is-open="isopen4" ng-show="product.sceDescriptions.extendedInfo">
                        <div accordion-heading>
                            <span>Extended Info</span>
                            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isopen4, 'glyphicon-chevron-right': !isopen4}"></i>
                        </div>
                        <span ng-bind-html="product.sceDescriptions.extendedInfo"></span>
                    </div>
                </div>
            </div>
            <!-- .th-product-info -->

            <div class="visible-sm visible-md visible-lg">
                <div class="th-social" ng-include=" 'views/partials/social-sharing.html' "></div>
            </div>
            <!-- .th-social-icons -->
        </div>
    </div>
</div>
<!-- .th-product-details -->
</div>
<!-- .row -->

<div class="hidden-lg hidden-md  row">
    <div class="col-sm-12">
        <div class="th-product-info">
            <div accordion close-others="true">
                <div accordion-group is-open="isopen1" ng-show="product.sceDescriptions.detail">
                    <div accordion-heading>
                        <span>Description</span>
                        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isopen1, 'glyphicon-chevron-right': !isopen1}"></i>
                    </div>
                    <span itemprop="description" ng-bind-html="product.sceDescriptions.detail"></span>
                </div>
                <div accordion-group is-open="isopen2" ng-show="product.sceDescriptions.features">
                    <div accordion-heading>
                        <span>Features</span>
                        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isopen2, 'glyphicon-chevron-right': !isopen2}"></i>
                    </div>
                    <span ng-bind-html="product.sceDescriptions.features"></span>
                </div>
                <div accordion-group is-open="isopen3" ng-show="product.sceDescriptions.techSpecs">
                    <div accordion-heading>
                        <span>Tech Specs</span>
                        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isopen3, 'glyphicon-chevron-right': !isopen3}"></i>
                    </div>
                    <span ng-bind-html="product.sceDescriptions.techSpecs"></span>
                </div>
                <div accordion-group is-open="isopen4" ng-show="product.sceDescriptions.extendedInfo">
                    <div accordion-heading>
                        <span>Extended Info</span>
                        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isopen4, 'glyphicon-chevron-right': !isopen4}"></i>
                    </div>
                    <span ng-bind-html="product.sceDescriptions.extendedInfo"></span>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- MOBILE SOCIAL ICONS -->
<div class="row">
    <div class="col-xs-12">
        <div class="visible-xs">
            <div class="th-social" ng-include=" 'views/partials/social-sharing.html' "></div>
        </div>
    </div>
</div>

<div class="row" ng-if="relatedProducts || accessories">
    <div class="col-xs-12">
        <div class="th-related-wrap">
            <div tabset>
                <div tab ng-if="relatedProducts">
                    <div tab-heading>
                        Related
                    </div>
                    <div class="th-products-wrap clearfix">
                        <div class="col-xs-12 col-sm-3 col-md-3" ng-repeat="product in relatedProducts"
                             ng-include="'views/partials/product-tile.html'">
                        </div>
                    </div>
                </div>
                <div tab ng-if="accessories">
                    <div tab-heading>
                        Accessories
                    </div>
                    <div class="th-products-wrap clearfix">
                        <div class="col-xs-12 col-sm-3 col-md-3" ng-repeat="product in accessories"
                             ng-include="'views/partials/product-tile.html'">
                        </div>
                    </div>
                </div>
            </div>

            <!-- LOAD MORE BUTTON -->
            <div class="th-load-more visible-xs">
                <button class="btn btn-default th-load-more">Load More</button>
            </div>
        </div>
    </div>
</div>
<div class="th-reviews">
    <div class="th-reviews__title">Reviews</div>
    <div class="th-reviews__totals">
        <div class="th-totals-left">
            <div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating"
                 class="th-reviews__count">
                <meta itemprop="worstRating" content="1">
                This product has recieved <span itemprop="ratingValue"
                                                ng-bind="ratingsAndReviews.data.avgRating"></span> out of <span
                itemprop="bestRating" ng-bind="ratingsAndReviews.data.maxRating"></span> stars based on <span
                itemprop="reviewCount" ng-bind="ratingsAndReviews.cursor.total"></span> customer reviews
            </div>
            <div class="th-reviews__avg">
                <!-- TODO: Do this -->
                <div class="th-review-stars">
                    <div class="th-icon th-icon--star th-review-stars__star">
                        <div class="th-icon__foreground"></div>
                    </div>
                    <div class="th-icon th-icon--star th-review-stars__star">
                        <div class="th-icon__foreground"></div>
                    </div>
                    <div class="th-icon th-icon--star th-review-stars__star">
                        <div class="th-icon__foreground"></div>
                    </div>
                    <div class="th-icon th-icon--star-half th-review-stars__star">
                        <div class="th-icon__foreground"></div>
                    </div>
                    <div class="th-icon th-icon--star-inactive th-review-stars__star">
                        <div class="th-icon__foreground"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="th-totals-right">
            <a href="#" class="th-read-all">Read All Reviews &gt;</a>
            <button class="btn btn-default btn-grey-sm">Write a Review &gt;</button>
        </div>
    </div>
    <div class="th-review" itemprop="review"
         itemscope itemtype="http://schema.org/Review"
         ng-repeat="review in ratingsAndReviews.data.reviews">

        <div class="th-review__helpful">
            <span ng-bind="review.helpful"></span> people found the following review helpful
        </div>
        <div class="th-review__rating">
            <!-- TODO: Do this -->
            <div class="th-review-stars">
                <div class="th-icon th-icon--star th-review-stars__star">
                    <div class="th-icon__foreground"></div>
                </div>
                <div class="th-icon th-icon--star th-review-stars__star">
                    <div class="th-icon__foreground"></div>
                </div>
                <div class="th-icon th-icon--star th-review-stars__star">
                    <div class="th-icon__foreground"></div>
                </div>
                <div class="th-icon th-icon--star-half th-review-stars__star">
                    <div class="th-icon__foreground"></div>
                </div>
                <div class="th-icon th-icon--star-inactive th-review-stars__star">
                    <div class="th-icon__foreground"></div>
                </div>
            </div>
            <span class="th-rating-text" itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating"><meta
                itemprop="worstRating" content="1"><span itemprop="ratingValue" ng-bind="review.rating"></span> out of <span
                itemprop="bestRating" ng-bind="ratingsAndReviews.data.maxRating"></span></span> By <span
            itemprop="author" class="th-review__rating__author" ng-bind="review.nameOfReviewer"></span>

            <div itemprop="datePublished" class="th-rateing-date hidden-xs pull-right" ng-bind="review.date"></div>
        </div>
        <div itemprop="name" class="th-rating-title" ng-bind="review.title"></div>
        <div itemprop="description" class="th-rating-description" ng-bind="review.body">
        </div>
        <div class="th-review__helpful">
            <span>Was this review helpful for you?</span>
            <button class="btn btn-default btn-grey-sm">Yes</button>
            <button class="btn btn-default btn-grey-sm">No</button>
        </div>
    </div>
</div>
</div>
<!-- .th-product-wrap -->
</div><!-- .container -->
