<div class="container">
  <div class="th-product-wrap clearfix">
    <!-- PRODUCT TITLE/NAME FOR TABLET -->
    <div class="row">
      <div class="col-sm-12 visible-sm">
        <div class="th-product-name-lg">
          {{product.name}}
        </div>
      </div>
    </div>

    <!-- PRODUCT IMAGE AND ALT VIEWS -->
    <div class="row">
      <div class="col-sm-6 col-md-5">
        <div class="visible-xs th-product">
          <div class="vn-slider vn-slider--product">
            <carousel data-interval="interval">
              <slide data-ng-repeat="image in product.images" data-active="image.active">
                <a href="{{image.url}}">
                  <div class="vn-slider__slide">
                    <img data-ng-src="{{image.large}}" class="img-responsive" />
                  </div>
                </a>
              </slide>
            </carousel>
          </div>
        </div>
        <div class="hidden-xs">
          <div class="clearfix th-product-view vn-zoom">
            <div class="th-product-view__image vn-zoom__image" data-easy-zoom data-is-desktop="{{isInDesktopMode}}" data-zoom-image-url="{{product.mainImage.large}}" data-image-url="{{product.mainImage.medium}}"></div>
            <div class="th-product-view__alts">
              <span data-ng-click="showAltImage(this)" ng-repeat="image in product.images" class="col-xs-3 th-product-view__thumbnail"><img data-ng-src="{{image.medium}}" class="img-responsive" alt=""></span>
            </div>
          </div>
        </div><!-- .th-product -->
      </div>

      <!-- PRODUCT DETAILS RIGHT -->
      <div class="col-sm-6 col-md-7">
        <div class="th-product-details">
          <div class="row visible-md visible-lg">
            <div class="col-xs-12">
              <div class="th-product-details__title">
                <a href="#">{{product.name}}</a>
              </div>
            </div><!-- .product name -->
          </div>
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <div class="th-product__name visible-xs">
                <a href="#">{{product.name}}</a>
              </div>
              <div class="th-product__price--large">
                <span class="th-reg-price" data-ng-show="product.price.regularPrice > 0"><span class="th-price" data-ng-class="{strike: product.price.salePrice > 0}">{{product.price.regularPrice | currency}}</span><span class="th-price-text th-text-left" data-translate="product.regularPriceLabel">Reg</span></span>
                <span class="th-now-price" data-ng-show="product.price.salePrice > 0"><span class="th-price">{{product.price.salePrice | currency}}</span><span class="th-price-text" data-translate="product.nowPriceLabel">Now</span></span>
              </div>
              <div class="hidden-xs">
                <div class="th-write-review">
                  <div class="th-review-stars">
                    <div class="th-icon th-icon--star th-review-stars__star">
                      <div class="th-icon__foreground"></div>
                    </div>
                    <div class="th-icon th-icon--star th-review-stars__star">
                      <div class="th-icon__foreground"></div>
                    </div>
                    <div class="th-icon th-icon--star th-review-stars__star">
                      <div class="th-icon__foreground"></div>
                    </div>
                    <div class="th-icon th-icon--star-half th-review-stars__star">
                      <div class="th-icon__foreground"></div>
                    </div>
                    <div class="th-icon th-icon--star-inactive th-review-stars__star">
                      <div class="th-icon__foreground"></div>
                    </div>
                  </div>
                  <a href="#" data-translate="product.writeReview"></a>
                </div>
                <div class="th-add-favorite">
                  <a href="#"><span class="th-favorite-icon"></span> <span data-translate="product.addToFavorites">Add to Favorites &gt;</span></a>
                </div>
              </div>
            </div><!-- end left product column -->
            <div class="col-xs-12 col-md-6">
              <div class="th-options-wrap">
                <div class="th-options">
                  <div class="th-options-title">Choose a color</div>
                  <div class="col-xs-4 col-sm-2 th-col-sm"><a href="#" class="th-swatch sw1">&nbsp;</a></div>
                  <div class="col-xs-4 col-sm-2 th-col-sm"><a href="#" class="th-swatch sw2">&nbsp;</a></div>
                  <div class="col-xs-4 col-sm-2 th-col-sm"><a href="#" class="th-swatch sw3">&nbsp;</a></div>
                  <div class="col-xs-4 col-sm-2 th-col-sm"><a href="#" class="th-swatch sw4">&nbsp;</a></div>
                  <div class="col-xs-4 col-sm-2 th-col-sm"><a href="#" class="th-swatch sw5">&nbsp;</a></div>
                  <div class="col-xs-4 col-sm-2 th-col-sm"><a href="#" class="th-swatch sw6">&nbsp;</a></div>
                </div><!-- .th-options -->
                <!-- <div class="th-options" data-ng-repeat="option in product.options">
                      <div class="th-options-title">{{option.label}}</div>
                      <div data-ng-repeat="choice in option.choices">
                        <div class="col-xs-4 th-col-sm">
                    <button class="btn btn-default btn-block">{{choice.label}}</button>
                  </div>
                </div>
                    </div> -->
                <!-- .th-options -->
              </div><!-- .th-options-wrap -->
              <div class="row">
                <div class="col-xs-12 col-sm-4 th-qty-wrap">
                  <div class="visible-xs">
                    <div class="input-group th-qty-counter">
                      <span class="input-group-btn">
                        <button class="btn btn-default th-qty-counter__btn" data-ng-click="decrementQty()" data-ng-disabled="product.quantity === 1" type="button">-</button>
                      </span>
                      <input type="text" class="form-control th-qty-counter__input" data-ng-model="product.quantity" placeholder="1">
                      <span class="input-group-btn">
                        <button class="btn btn-default th-qty-counter__btn" data-ng-click="incrementQty()" type="button">+</button>
                      </span>
                    </div>
                  </div>
                  <div class="hidden-xs">
                    <div class="input-group th-qty-counter">
                      <span class="input-group-btn">
                        <button class="btn btn-default th-qty-counter__btn" data-ng-click="decrementQty()" data-ng-disabled="product.quantity === 1" type="button">-</button>
                      </span>
                      <input type="text" class="form-control th-qty-counter__input" data-ng-model="product.quantity" placeholder="1">
                      <span class="input-group-btn">
                        <button class="btn btn-default th-qty-counter__btn" data-ng-click="incrementQty()" type="button">+</button>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-8 th-add-to-cart">
                  <button class="btn btn-primary btn-lg btn-block" data-translate="product.addToCart" data-ng-click="addToCart()" data-ng-disabled="isCartButtonDisabled" data-analytics-category="element click" data-analytics-label="Add to Cart" data-analytics-location="body-product" data-analytics-description="Add to Cart Button">Add to Cart</button>
                </div>
              </div>
            </div>

            <div class="th-product-info visible-lg visible-md">
              <div data-accordion data-close-others="true">
                <div data-accordion-group data-is-open="isopen1" data-ng-show="product.sceDescriptions.detail">
                  <div data-accordion-heading>
                    <span data-translate="product.description">Description</span>  <i class="pull-right glyphicon" data-ng-class="{'glyphicon-chevron-down': isopen1, 'glyphicon-chevron-right': !isopen1}"></i>
                  </div>
                  <span data-ng-bind-html="product.sceDescriptions.detail"></span>
                </div>
                <div data-accordion-group data-is-open="isopen2" data-ng-show="product.sceDescriptions.features">
                  <div data-accordion-heading>
                    <span data-translate="product.features">Features</span>  <i class="pull-right glyphicon" data-ng-class="{'glyphicon-chevron-down': isopen2, 'glyphicon-chevron-right': !isopen2}"></i>
                  </div>
                  <span data-ng-bind-html="product.sceDescriptions.features"></span>
                </div>
                <div data-accordion-group data-is-open="isopen3" data-ng-show="product.sceDescriptions.techSpecs">
                  <div data-accordion-heading>
                    <span data-translate="product.techSpecs">Tech Specs</span>  <i class="pull-right glyphicon" data-ng-class="{'glyphicon-chevron-down': isopen3, 'glyphicon-chevron-right': !isopen3}"></i>
                  </div>
                  <span data-ng-bind-html="product.sceDescriptions.techSpecs"></span>
                </div>
                <div data-accordion-group data-is-open="isopen4" data-ng-show="product.sceDescriptions.extendedInfo">
                  <div data-accordion-heading>
                    <span data-translate="product.extendedInfo">Extended Info</span>  <i class="pull-right glyphicon" data-ng-class="{'glyphicon-chevron-down': isopen4, 'glyphicon-chevron-right': !isopen4}"></i>
                  </div>
                  <span data-ng-bind-html="product.sceDescriptions.extendedInfo"></span>
                </div>
              </div>
            </div><!-- .th-product-info -->

            <div class="visible-sm visible-md visible-lg">
              <div class="th-social" data-ng-include=" 'views/partials/social-sharing.html' "></div>
            </div><!-- .th-social-icons -->
          </div>
        </div>
      </div><!-- .th-product-details -->
    </div><!-- .row -->

    <div class="hidden-lg hidden-md  row">
      <div class="col-sm-12">
        <div class="th-product-info">
          <div data-accordion data-close-others="true">
            <div data-accordion-group data-is-open="isopen1" data-ng-show="product.sceDescriptions.detail">
              <div data-accordion-heading>
                <span data-translate="product.description">Description</span>  <i class="pull-right glyphicon" data-ng-class="{'glyphicon-chevron-down': isopen1, 'glyphicon-chevron-right': !isopen1}"></i>
              </div>
              <span data-ng-bind-html="product.sceDescriptions.detail"></span>
            </div>
            <div data-accordion-group data-is-open="isopen2" data-ng-show="product.sceDescriptions.features">
              <div data-accordion-heading>
                <span data-translate="product.features">Features</span>  <i class="pull-right glyphicon" data-ng-class="{'glyphicon-chevron-down': isopen2, 'glyphicon-chevron-right': !isopen2}"></i>
              </div>
              <span data-ng-bind-html="product.sceDescriptions.features"></span>
            </div>
            <div data-accordion-group data-is-open="isopen3" data-ng-show="product.sceDescriptions.techSpecs">
              <div data-accordion-heading>
                <span data-translate="product.techSpecs">Tech Specs</span>  <i class="pull-right glyphicon" data-ng-class="{'glyphicon-chevron-down': isopen3, 'glyphicon-chevron-right': !isopen3}"></i>
              </div>
              <span data-ng-bind-html="product.sceDescriptions.techSpecs"></span>
            </div>
            <div data-accordion-group data-is-open="isopen4" data-ng-show="product.sceDescriptions.extendedInfo">
              <div data-accordion-heading>
                <span data-translate="product.extendedInfo">Extended Info</span>  <i class="pull-right glyphicon" data-ng-class="{'glyphicon-chevron-down': isopen4, 'glyphicon-chevron-right': !isopen4}"></i>
              </div>
              <span data-ng-bind-html="product.sceDescriptions.extendedInfo"></span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- MOBILE SOCIAL ICONS -->
    <div class="row">
      <div class="col-xs-12">
        <div class="visible-xs">
          <div class="th-social" data-ng-include=" 'views/partials/social-sharing.html' "></div>
        </div>
      </div>
    </div>

    <div class="row" data-ng-if="relatedProducts || accessories">
      <div class="col-xs-12">
        <div class="th-related-wrap">
          <div data-tabset>
            <div data-tab data-ng-if="relatedProducts">
              <div data-tab-heading data-translate="product.related">
                Related
              </div>
              <div class="th-products-wrap clearfix">
                <div class="col-xs-12 col-sm-3 col-md-3" data-ng-repeat="product in relatedProducts" data-ng-include="'views/partials/product-tile.html'">
                </div>
              </div>
            </div>
            <div data-tab data-ng-if="accessories">
              <div data-tab-heading data-translate="product.accessories">
                Accessories
              </div>
              <div class="th-products-wrap clearfix">
                <div class="col-xs-12 col-sm-3 col-md-3" data-ng-repeat="product in accessories" data-ng-include="'views/partials/product-tile.html'">
                </div>
              </div>
            </div>
          </div>

          <!-- LOAD MORE BUTTON -->
          <div class="th-load-more visible-xs">
            <button class="btn btn-default th-load-more" data-translate="product.loadMore">Load More</button>
          </div>
        </div>
      </div>
    </div>
    <div class="th-reviews">
      <div class="th-reviews__title" data-translate="product.reviews">Reviews</div>
      <div class="th-reviews__totals">
        <div class="th-totals-left">
          <div class="th-reviews__count">This product has recieved {{ratingsAndReviews.data.avgRating}} out of {{ratingsAndReviews.data.maxRating}} stars based on {{ratingsAndReviews.cursor.total}} customer reviews</div>
          <div class="th-reviews__avg">
            <!-- TODO: Do this -->
            <div class="th-review-stars">
              <div class="th-icon th-icon--star th-review-stars__star">
                <div class="th-icon__foreground"></div>
              </div>
              <div class="th-icon th-icon--star th-review-stars__star">
                <div class="th-icon__foreground"></div>
              </div>
              <div class="th-icon th-icon--star th-review-stars__star">
                <div class="th-icon__foreground"></div>
              </div>
              <div class="th-icon th-icon--star-half th-review-stars__star">
                <div class="th-icon__foreground"></div>
              </div>
              <div class="th-icon th-icon--star-inactive th-review-stars__star">
                <div class="th-icon__foreground"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="th-totals-right">
          <a href="#" class="th-read-all" data-translate="product.readAllReviews">Read All Reviews &gt;</a>
          <button class="btn btn-default btn-grey-sm" data-translate="product.writeAReview">Write a Review &gt;</button>
        </div>
      </div>
      <div class="th-review" data-ng-repeat="review in ratingsAndReviews.data.reviews">
        <div class="th-review__helpful">{{review.helpful}} people found the following review helpful</div>
        <div class="th-review__rating">
          <!-- TODO: Do this -->
          <div class="th-review-stars">
            <div class="th-icon th-icon--star th-review-stars__star">
              <div class="th-icon__foreground"></div>
            </div>
            <div class="th-icon th-icon--star th-review-stars__star">
              <div class="th-icon__foreground"></div>
            </div>
            <div class="th-icon th-icon--star th-review-stars__star">
              <div class="th-icon__foreground"></div>
            </div>
            <div class="th-icon th-icon--star-half th-review-stars__star">
              <div class="th-icon__foreground"></div>
            </div>
            <div class="th-icon th-icon--star-inactive th-review-stars__star">
              <div class="th-icon__foreground"></div>
            </div>
          </div>
          <span class="th-rating-text">{{review.rating}} out of {{ratingsAndReviews.data.maxRating}}</span> By <span class="th-review__rating__author">{{review.nameOfReviewer}}</span>
          <div class="th-rateing-date hidden-xs pull-right">{{review.date}}</div>
        </div>
        <div class="th-rating-title">{{review.title}}</div>
        <div class="th-rating-description">
          "{{review.body}}"
        </div>
        <div class="th-review__helpful">
          <span data-translate="product.wasThisReviewHelpfulToYou">Was this review helpful for you?</span>
          <button class="btn btn-default btn-grey-sm">Yes</button>
          <button class="btn btn-default btn-grey-sm">No</button>
        </div>
      </div>
    </div>
  </div><!-- .th-product-wrap -->
</div><!-- .container -->
