<div class="th-error-wrap clearfix">
    <div class="th-error-details">
        <div class="th-error-details__header modal-header">
            <h1 data-translate="message.SERVER_ERROR_HEADING"></h1>
            <div class="modal-body">
                <p class="th-error-details__section1" data-translate="message.SERVER_ERROR_SECTION1"></p>
                <p class="th-error-details__section2" data-translate="message.SERVER_ERROR_SECTION2"></p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-warning" ng-click="$close()">Close</button>
            </div>
        </div>
    </div>
</div>