<!-- Reconsidering if we want the admin to look like Volusion or not. If it looks like the theme at least the WYSIWYG will be a lot more what you see is what you get in terms of styles -->

<!-- Remove the main stylesheet of the theme -->
<!-- <script>$('link[rel=stylesheet][href~="/styles/main.css').remove();</script> -->

<!-- Use the Volusion Admin Bootstrap -->
<!-- <link href="https://cdn.rawgit.com/volusion/bootstrap/v3.1.1/dist/css/bootstrap.min.css" rel="stylesheet"> -->

<!-- <link href="https://cdn.rawgit.com/volusion/vol-admin-bootstrap/v0.0.1/dist/css/bootstrap.min.css" rel="stylesheet"> -->

<!-- use FontAwesome to get icons for the textAngular WYSIWYG -->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

<!-- apply some styles to this page -->
<style>
.tab-content {
  padding-top:10px;
}
</style>

<!-- Theme Settings -->
<section class="container">
<div>
    <form>
        <h1>Theme Settings</h1>

        <!-- Tabs -->
        <div data-tabset>

          <!-- General -->
          <div data-tab>
            <div data-tab-heading>General</div>

              <h3>Header Content</h3>
              <div class="form-group">
                  <label class="control-label">Promo</label>
                  <div data-text-angular ng-model="settings.general.header.content.topPromo"></div>
              </div>

              <h3>Footer Content</h3>
              <div class="form-group">
                  <label class="control-label">Column 1</label>
                  <div data-text-angular ng-model="settings.general.footer.content.column1"></div>
              </div>
              <div class="form-group">
                  <label class="control-label">Column 2</label>
                  <div data-text-angular ng-model="settings.general.footer.content.column2"></div>
              </div>
              <div class="form-group">
                  <label class="control-label">Column 3</label>
                  <div data-text-angular ng-model="settings.general.footer.content.column3"></div>
              </div>
              <div class="form-group">
                  <label class="control-label">Column 4</label>
                  <div data-text-angular ng-model="settings.general.footer.content.column4"></div>
              </div>

          </div>

          <!-- Home Page -->
          <div data-tab>
            <div data-tab-heading>Home</div>

              <h3>Content</h3>
              <div class="form-group">
                  <label class="control-label">Content 1</label>
                  <textarea class="form-control" data-ng-model="settings.pages.home.content1"></textarea>
              </div>
              <div class="form-group">
                  <label class="control-label">Content 2</label>
                  <textarea class="form-control" data-ng-model="settings.pages.home.content2"></textarea>
              </div>
              <div class="form-group">
                  <label class="control-label">Content 3</label>
                  <textarea class="form-control" data-ng-model="settings.pages.home.content3"></textarea>
              </div>

              <input type="checkbox" data-ng-model="settings.pages.home.featuredProducts.isEnabled"> Display Featured Products

              <h3>Content Tiles</h3>
              <input type="checkbox" data-ng-model="settings.pages.home.tiles.isEnabled"> Display Content Tiles


              <!-- Content Tiles -->
              <div data-tabset>
                <div data-tab data-ng-repeat="(key, obj) in settings.pages.home.tiles.tiles">
                  <div data-tab-heading>{{$index}}</div>
                  <div class="form-group">
                      <label class="control-label">Image Url</label>
                      <input class="form-control" type="text" data-ng-model="settings.pages.home.tiles.tiles[key].imageUrl" />
                  </div>
                  <div class="form-group">
                      <label class="control-label">Link To</label>
                      <input class="form-control" type="text" data-ng-model="settings.pages.home.tiles.tiles[key].linkTo" />
                  </div>
                </div>
              </div>


              <h3>Home Page Slideshow</h3>
              <input type="checkbox" data-ng-model="settings.pages.home.slider.isEnabled"> Display Slide Show
              <br /><br />
              <div data-tabset>
                <button type="button" class="btn btn-info" data-ng-click="addSlide()">Add Slide</button>
                <div data-tab data-ng-repeat="slide in settings.pages.home.slider.slides">
                  <div data-tab-heading>
                    Slide {{$index + 1}}
                    &nbsp;&nbsp;
                    <span class="glyphicon glyphicon-remove" data-ng-click="settings.slider.slides.splice($index, 1)"></span>
                  </div>
                  <div>
                    <div class="form-group">
                        <label class="control-label">Headline</label>
                        <input class="form-control" type="text" data-ng-model="slide.headline" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Image Url</label>
                        <input class="form-control" type="text" data-ng-model="slide.imageUrl" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Sub Headline</label>
                        <input class="form-control" type="text" data-ng-model="slide.subHeadline" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Links To</label>
                        <input class="form-control" type="text" data-ng-model="slide.linksTo" />
                    </div>
                  </div>
                </div>
              </div>

          </div>

          <!-- Category Page -->
          <div data-tab>
            <div data-tab-heading>Category</div>

            TODO

          </div>

        </div>









        <!-- Save Button -->
        <hr>
        <div class="form-group">
            <button class="btn btn-primary" data-ng-click="save()">Save</button>
        </div>

    </form>
</div>




<!-- Debug Panel -->
<style>
    .debugPanel {
        position:absolute;
        right:0;
        top:0;
        width:500px;
        padding:10px;
        background-color:#ff7e47;
    }
    body {
        margin-right:500px;
    }
</style>
<div class="debugPanel" data-ng-show="debug">
    <h1>Debug</h1>
    <span class="pull-right glyphicon glyphicon-remove" data-ng-click="debug = false"></span>
    <p>We've detected you're running locally, so only you see this debug window. Watch your theme settings json model change in real time.</p>
    <div>
        <textarea style="width:100%" rows=50>{{settings | json}}</textarea>
    </div>
</div>
<div data-ng-hide="debug">
    <span class="pull-right glyphicon glyphicon-add" data-ng-click="debug = false"></span>
</div>


</section>
