.side-spacing {
  padding-left: 15px;
  padding-right: 15px;
}

// Side spacing for mobile first views
.side-spacing--small-viewport {
  // Remove the padding we set earlier
  @include respond-to(medium-and-up) {
    padding-left: 0;
    padding-right: 0;
  }
}
