.th-modal{
	position: relative;

	&__button{
		font-size : 12px !important;
		width     : 100%;
		margin    : 5px 0px;

		&--primary{

		}
		&--secondary{

		}
	}

	&__message{
		font-size     : 14px;
		margin-bottom : 5px;
	}

	&__body{
		padding-top: 10px;
	}

	&__close{
		position  : absolute;
		z-index   : 1;
		top       : 7px;
		right     : 10px;
		font-size : 22px;
	}

	.styled-optionbox-option{
		border-bottom: 0px;
	}

	.modal-header{
		padding: 0px;
	}
	.modal-body{
		padding: 25px 25px 10px 25px;
	}
	.modal-footer{
		padding: 10px 20px;
	}
}

.login-modal{
  .modal-header{
	text-align: center;

	.close{
	  font-size: 30px;
	}
  }
  .modal-dialog{
	@media (min-width: $screen-sm){
	  width: 400px;
	}
  }
  .modal-title{
	font-size: 28px;
	text-transform: uppercase;
  }
  .modal-content{
	-moz-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.2);
	box-shadow: 0 3px 9px rgba(0, 0, 0, 0.2);
  }
  .th-login{
	margin: 0px 15px 50px 15px;
  }
}

.sign-up-modal{

}

.write-review-modal{
  .modal-header{
	text-align: center;

	.close{
	  font-size: 30px;
	}
  }
  .modal-dialog{
	@media (min-width: $screen-sm){
	  width: 500px;
	}
  }
  .modal-title{
	font-size: 28px;
	text-transform: uppercase;
  }
  .modal-content{
	-moz-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.2);
	box-shadow: 0 3px 9px rgba(0, 0, 0, 0.2);
  }
  .modal-footer{
	margin: 0;
	padding: 15px 20px;

	&-left{
	  margin: 0px;
	}
  }
  .form-group{
	position: relative;
  }
  .vn-rating{
	line-height: 1.3;
	font-size: 16px;
  }
}
