.styled-optionbox-option {

	text-align : left;
	border-bottom : 1px solid #ddd;
	padding       : 20px 20px 20px 20px;

	&:hover {
		background-color: #fff;
	}

	input {
		display : none !important;

		+ div {
			cursor    : pointer;
			margin    : 0;
			position: relative;
			width: 100%;

			> div {
				margin : 0 0 0 20px;
			}

			&:before {
				content        : '\f10c';
				font-family    : 'FontAwesome';
				font-size      : 16px;
				display        : inline-block;
				line-height    : 18px;
				vertical-align : middle;
				text-align     : center;
				color          : #000;
				//border: 1px solid $cg6;
				//border-radius: 2px;
				//background: $cg0;
				margin-right   : 5px;
				font-weight    : normal;

				position: absolute;
				top: 50%;
				transform: translateY(-50%);

			}
		}

		&:checked {
			+ div {
				&:before {
					content     : '\f192';
					font-family : 'FontAwesome';
					//color: $cg8;
					//border-color: $colorMain;
					//background: $colorInfo !important;
				}
			}
		}
	}

}
