.paypal-button-hidden {
  visibility: hidden;
}

.vn-paypal-button{
  background-color: transparent;
  border: 0;
  margin-top: 10px;
  text-align: center;
}

.vn-paypal-radio{
  width: 300px;
  margin: 0 auto;
  
  &__label{

  }
  &__radio{

  }
}
