.paypal-button-hidden {
  visibility: hidden;
}

.vn-paypal-button{
  background-color: transparent;
  border: 0;
  margin-top: 10px;
  text-align: center;
}

.th-checkout--paypal{

  .th-checkout{

	&__step__overlay{
	  opacity: 0.6;
	}
  }
}
