.vn-placeholder {
	@include transition-property(font-size top);
	@include transition-duration(.2s);
	@include transition-timing-function(ease);

	position    : absolute;
	font-family : 'roboto-light';
	font-size   : 14px;
	color       : #999;
	top         : 14px;
	left        : 12px;
	line-height : 14px;
	cursor      : text;

	&.-selected {
		top       : -10px;
		left      : 12px;
		font-size : 11px;
		color     : #999;
	}

	&.-focus {
		color: #000;
		font-family: 'roboto-bold';
	}

}
