.th-search-popout {
	@extend %inline-block;

	&__trigger {
		@extend %inline-block;
		color    : $navbar-default-link-color;
		cursor   : pointer;
		left     : 7px;
		padding  : 0;
		position : absolute;
		top      : 7px;

		&.-position {
			left  : auto;
			right : 70px;
		}
	}

	&--input {
		@extend %inline-block;
		border      : 1px solid $hr-border;
		height      : 28px;
		outline     : 0;
		text-indent : 21px;
	}

	&--submit {
		@extend %inline-block;
		height         : 28px;
		letter-spacing : 1.2px;
	}

}
