.th-change-email{

  .th-my-account__title{
	margin-bottom: 20px;
  }
  &__current{
	line-height: 1.4;
	margin: 0 0 25px 0;

	&__title{
	  text-transform: uppercase;
	  font-size: 11px;
	  color: #999;
	}
	&__email{

	}
  }
}
