.th-my-account {
  font-weight : 300;
  font-size   : 16px;

  &__title {
	font-size      : 2rem;
	padding-bottom : 10px;
	margin-top     : 10px;
	margin-bottom  : 10px;
	border-bottom  : 1px solid #EEE;
  }

  &__group {
	margin-bottom : 30px;

	&__links {
	  list-style : none;
	  margin     : 0;
	  padding    : 0;

	  li {
		margin-bottom : 10px;
	  }
	}

	&--header {

	  &__title {
		font-size : 25px;
	  }

	  &__welcome {

	  }
	}
  }

  &__overlay {
	@extend %font-smoothing;

	width            : 100%;
	height           : 100%;
	position         : absolute;
	top              : 0px;
	background-color : $btn-default-bg;
	z-index          : 9999;
	text-align       : center;

	@include opacity(0.8);

	&--loader {
	  position   : absolute;
	  height     : 80px;
	  width      : 80px;
	  margin-top : -40px;
	  top        : 50%;
	  left       : 40%;
	}

	svg path,
	svg rect {
	  fill : $btn-default-color;
	}
  }
}
