.th-order-list-view{
	padding-left: 15px;
	padding-right: 15px;
    margin-bottom: 20px;

	&__item{
		font-size: 14px;
		line-height: 1.5;
		padding-left: 0px !important;
		padding-right: 0px !important;

		&-right{
			text-align: right;
		}

		&__status{
			font-style: italic;
		}

		@media (max-width: 420px){
			font-size: 12px;
		}
	}
}
